<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{% block title %} Администрирование {% endblock %} </title>

        {% block styles %}
            <link rel="stylesheet" href="/assets/shared/css/bootstrap.css" type="text/css" />
            <link rel="stylesheet" href="/assets/admin/css/pnotify.css" type="text/css"/>
            <link rel="stylesheet" href="/assets/admin/css/select2.css" type="text/css"/>
            <!-- <link rel="stylesheet" href="/assets/admin/css/calendar.css" type="text/css"/> -->
            <link rel="stylesheet" href="/assets/admin/css/structure.css" type="text/css"/>
            <link rel="stylesheet" href="/assets/admin/css/styles.css" type="text/css"/>
            <link rel="stylesheet" href="/assets/admin/css/ion.calendar.css" type="text/css"/>
            <link rel="stylesheet" href="/assets/jodit/build/jodit.min.css">
            <link rel="stylesheet" href="/assets/admin/css/jquery-ui/all.css">
            <link rel="stylesheet" href="/assets/admin/css/jquery-ui-timepicker-addon.css">
             <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->
        {% endblock %}

        {% block javascripts %}
            <script type="text/javascript" src="/assets/admin/js/vue.js"></script>
            <script type="text/javascript" src="/assets/shared/js/jquery.min.js"></script>
            <script type="text/javascript" src="/assets/shared/js/bootstrap.js"></script>
            <script type="text/javascript" src="/assets/admin/js/jquery/placeholder.min.js"></script>
            <script type="text/javascript" src="/assets/admin/js/jquery/pnotify.min.js"></script>
            <script type="text/javascript" src="/assets/admin/js/jquery/select2.min.js"></script>
            <script type="text/javascript" src="/assets/admin/js/jquery.imgareaselect.pack.js"></script>
            <script type="text/javascript" src="/assets/admin/js/jquery/jquery-ui.js"></script>
            <script type="text/javascript" src="/assets/admin/js/jquery/jquery-ui-timepicker-addon.js"></script>
            <script type="text/javascript" src="/assets/ckeditor/ckeditor.js"></script>
            <!-- <script type="text/javascript" src="/assets/admin/js/vendor/calendar.js"></script> -->
            <script type="text/javascript" src="/assets/admin/js/helper.js"></script>
            <script type="text/javascript" src="/assets/admin/js/app.js"></script>
            <script type="text/javascript" src="/assets/admin/js/scripts.js"></script>
            <script src="//yandex.st/jquery/cookie/1.0/jquery.cookie.min.js"></script>
            <script type="text/javascript" src="/assets/admin/js/jquery.tmpl.min.js"></script>
            <script type="text/javascript" src="/assets/admin/js/md5.js"></script>
            <script type="text/javascript" src="/assets/admin/js/vendor/moment-with-locales.min.js"></script>
            <script type="text/javascript" src="/assets/admin/js/vendor/ion.calendar.min.js"></script>
            <script type="text/javascript" src="/assets/admin/js/vendor/sortlist.js"></script>
            <script src="/assets/jodit/build/jodit.min.js"></script>
            <!-- <script src="/assets/admin/js/jquery/datepicker-ru.js"> -->
        {% endblock %}

    {% block app %}
    <script type="text/javascript">
        App.messages = {{ admin.messages | json_encode() }};
        {% if(admin.self) %}
            App.module = '{{ admin.self }}';
            App.url = '{{ get_route_uri('admin_base',{ 'controller' : admin.self}) }}';
        {% else %}
            App.module = 'main';
            App.url = '{{ get_route_uri('admin_base',{ 'controller' : ''}) }}';
        {% endif %}
        App.start();
    </script>
    {% endblock %}
    <script type="text/javascript" src="/assets/admin/js/init.js"></script>

</head>
    <body>

    {% block header_block %}
        <div class="header-wrapper">
            <div class="header">
                {% include 'Admin/Block/Menu' %}
            </div>
        </div>
    {% endblock %}
        {{ development_toolbar() }}
        {% block content_block %}
            <div class="content-wrapper">
                {% include 'Admin/Block/Breadcrumb' %}
                <div class="content-inner">
                    <div class="sidebar"></div>
                    <div class="content">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block footer_block %}
            <div class="footer-wrapper">
                <div class="footer">
                    <div class="copyright">
                        <p>
                            <span class="label label-inverse"> Copyright &copy; <b>2013–{{ "now"|date("Y") }}</b> {{ admin.constant.engine.name }} </span>
                            <span class="label label-inverse"> {{ admin.constant.engine.version }} </span>
                            <span class="label label-inverse"> {{ admin.constant.engine.status }} </span>
                        </p>
                    </div>
                    <div class="user-info">
                        <p>
                            <span class="label label-inverse"><i class="icon-user icon-white"></i> {{ admin.user.username }} </span>
                            <a class="btn btn-mini" href="{{ get_route_uri('admin_auth',{'action': 'logout'}) }}">Выйти</a>
                        </p>
                    </div>
                </div>
            </div>
        {% endblock %}
    </body>
</html>
