{% extends "Layout/Page" %}

{% block content %}
        {% if items|length > 0 %}
            <section class="content content-books">
                    <div class="breadcrumbs">{% include 'Block/Breadcrumb' %}</div>
                    <div class="content-wrap">
                        <h1
                            id="module_head"
                            class="title {% if wa_admin %} wa_admin{% endif %}{% if admin %} life_edit{% endif %}"
                            {% if wa_admin %}
                                data-id="{{ document.id }}"
                                data-table="pages"
                                data-field="head"
                            {% endif %}>{{ document.head }}</h1>
                        <div class="search-result-wrap">
                            {{ document.body }}

                            {% if squery %}
                                {% if errors.empty %}
                                    <div class="result-title">Поиск не принес результатов</div>
                                {% elseif errors.short %}
                                    <div class="result-title">Слишком короткое условие поиска</div>
                                {% else %}
                                    <div class="result-title">{{ scount }} {{ integer_to_string(scount, 'совпадение', 'совпадения', 'совпадений') }}:</div>
                                {% endif %}
                            {% else %}
                                  <div class="result-title">Не задано условие поиска</div>
                            {% endif %}

                            <ul>
                                {% for item in items %}
                                    <li>
                                        <a href="{{ item.fullpath }}">{{ item.head }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
            </section>
        {% else %}
            <div class="center_content search-none-result content">
				<div class="search-none-result-wrap">
					<div class="result-title">Поиск не принес результатов</div>
				</div>
			</div>
        {% endif %}

        {{ pagination }}
{% endblock %}
