{% extends "Admin/Layout/Main" %}

{% block title %}Администрирование | {{ vars.text.module|default('Модуль') }}{% endblock %}

{% block content %}

    {% set feedback = ['contact', 'rss', 'writeus', 'sitemap', 'feedback'] %}
    <form id="form" action="{{ form._action }}" method="{{ form._method }}" enctype="multipart/form-data">

        <div class="row">
            <div class="span9">

                <input type="button" onclick='back()' value="← Назад" class="btn back" style='float: left; margin-right: 10px; display: block;' />

                {% if admin.self not in feedback %}<input type="submit" value="Сохранить" class="btn" />{% endif %}

                {% if admin.self ==  'writeus' %}  <input type="submit" value="Отправить" class="btn send_wrineus" />{% endif %}
                {% if item.module == "text" or item.module == 'allproducts' %}
                    <a class="btn btn-icon" href="{{ get_route_uri('admin_base',{ 'controller' : admin.self, 'action': 'list', 'filter' : {'parent_id' : item.id } }) }}" title="Подразделы"><i class="icon-folder-open"></i></a>
                {% endif %}
                {% if item.module == "products" %}
                    <a class="btn btn-icon" href="{{ get_route_uri('admin_base',{ 'controller' : 'products', 'action': 'list', 'filter' : {'parent_id' : item.id } }) }}" title="Товары"><i class="icon-shopping-cart"></i></a>
                {% endif %}
            </div>
        </div>

        {% block form %}
            {% for element in form._elements %}
                {{ element.render() }}
            {% endfor %}
        {% endblock %}

        <div class="row">
            <div class="span9">
                <input type="button" onclick='back()' value="← Назад" class="btn back" style='float: left; margin-right: 10px;' />
                {% if admin.self not in feedback %}<input type="submit" value="Сохранить" class="btn" />{% endif %}
                {% if admin.self ==  'writeus' %}  <input type="submit" value="Отправить" class="btn send_wrineus" />{% endif %}
            </div>
        </div>
    </form>

    {% if admin.self not in feedback %}
        <div id="save2"    class="butt" title="Сохранить" onclick="$('#form').submit();" >&check;</div>
    {% endif %}
    {% if admin.self != 'settings' %}
        <div id="back2"    class="butt" title="Назад"     onclick="back()">&#8678;</div>
    {% else %}
        <div id="back2"    class="butt" title="Назад"     onclick="window.history.back()">&#8678;</div>
    {% endif %}
        <div id="refresh2" class="butt" title="Обновить"  onclick="window.location = window.location">&circlearrowright;</div>
    {% if admin.self != 'settings' %}
        <div id="del2"     class="butt" title="Удалить"   onclick="window.location = '{{ get_route_uri('admin_base',{ 'controller' : admin.self, 'action': 'remove', 'filter' : {'id' : item.id } }) }}'">&cross;</div>
    {% endif %}

<div id="float-menu"></div>

{% endblock %}
