{% extends "Admin/Layout/Main" %}

{% block title %}Администрирование | {{ vars.text.module|default('Модуль') }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {{ pagination }}
    <div class="actions-block">
        <div class="btn-group">
            {% if(not properties.custom.only_list) %}
                <a class="btn btn-mini" href="{{ get_route_uri('admin_base',{ 'controller' : admin.self, 'action': 'create'}) }}">
                    <i class="icon-plus-sign"></i> {{ vars.text.add|default('Добавить элемент') }}
                </a>
            {% endif %}
            {% if properties.custom.drop %}
                {% if items|length > 0 %}
                    <a class="btn btn-mini" href="#" onclick="Helper.deleteItems(); return false;">
                        <i class="icon-remove-sign"></i> {{ vars.text.drop|default('Удалить выбранные элементы') }}
                    </a>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <table width="100%" cellpadding="0" cellspacing="1" class="table table-bordered {% if properties.custom.sortable %}sortable{% endif %}">
        <thead>
        <tr>
            {% if properties.custom.drop %}
                <th width="13"><input type="checkbox" onclick="Helper.checkAll(this);" /></th>
            {% endif %}

            {% if properties.fields|length > 0 %}
                {% for property in properties.fields %}
                    {% if property.label %}
                        {% if property.name == 'pic' or property.name == 'fill' %}
                            <td style='text-align: center;'>{{ property.label }}</td>
                        {% elseif property.name == 'created' or property.name == 'date' %}
                            <td style='text-align: center; width: 70px;'><i class="icon-white icon-calendar"></i></td>
                        {% else %}
                            <th>{{ property.label }}</th>
                        {% endif %}
                    {% elseif property.name %}
                        <th>{{ property.name }}</th>
                    {% else %}
                        <th></th>
                    {% endif %}
                {% endfor %}
            {% endif %}



            <th width="90" style="text-align: center;">Действия</th>
            {% if properties.custom.hide %}
                <th width="10"><i class="icon-white icon-eye-open"></i></th>
            {% endif %}
            {% if properties.custom.sortable %}
                <th width="10" style="text-align: center;"><i class="icon-white icon-move"></i></th>
            {% endif %}
        </tr>
        </thead>

        <tbody>
        {% if items|length > 0 %}
            {% for item in items %}

                <tr id="row_item_{{ attribute(item, 'id') }}" data-id="{{ item.id }}">
                    {% if(properties.custom.drop) %}
                        <td width="13"><input type="checkbox" id="row_check_{{ attribute(item, 'id') }}" /></td>
                    {% endif %}

                    {% if properties.fields|length > 0 %}
                    {% set N = 0 %}
                        {% for property in properties.fields %}
                            {% set N = N + 1 %}
                            {% if property.name and attribute(item, property.name) %}
                                {% if property.name == 'img' %}
                                    <td><img width="150" src="{{ attribute(item, property.name) }}" /></td>
                                {% elseif property.name == 'status' %}
                                    {% if attribute(item, property.name) == 1 %}
                                        <td><b style="color: #0b0;">Оплачено</b></td>
                                    {% else %}
                                        <td><bstyle="color: #b00;">Не оплачено</b></td>
                                    {% endif %}
                                {% elseif property.name == 'created' or property.name == 'date' %}
                                    <td style='text-align: center;'><b>{{ attribute(item, property.name)|date("d.m.Y (H:i)") }}</b></td>
                                {% elseif property.name == 'pic' or property.name == 'fill' %}
                                    <td style='text-align: center; width: 30px;'><img width="20" src="{{ attribute(item, property.name) }}" /></td>
                                {% else %}
                                    {% if not property.render or property.render == 'text' %}
                                        {% if properties.custom.only_list or properties.custom.not_edit or property.not_edit %}
                                            <td >
                                                {{ attribute(item, property.name) }}
                                            </td>
                                        {% else %}
                                            <td id="can_click_{{ attribute(item, 'id') }}_{{ N }}" class="can_click" data-id="{{ item.id }}" data-table="{{ properties.custom.table }}" data-field="{{ property.name }}" >
                                                {{ attribute(item, property.name) }}
                                            </td>
                                        {% endif %}

                                    {% elseif property.render == 'longtext' %}
                                        <td>{{ attribute(item, property.name)|truncate(200) }}</td>
                                    {% elseif property.render == 'wysiwyg' %}
                                        <td>{{ attribute(item, property.name)|striptags|truncate(200) }}</td>
                                    {% elseif property.render == 'datetime' %}
                                        <td width="105">{{ attribute(item, property.name)|date("d.m.Y H:i") }}</td>
                                    {% elseif property.render == 'boolean' %}
                                        <td width="100">
                                            {% if attribute(item, property.name) %}
                                                <b>Да</b>
                                            {% else %}
                                                Нет
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                {% if not property.render or property.render == 'text' %}
                                    {% if properties.custom.only_list %}
                                        <td>

                                        </td>
                                    {% else %}
                                        <td id="can_click_{{ attribute(item, 'id') }}_{{ N }}" class="can_click" data-id="{{ item.id }}" data-table="{{ properties.custom.table }}" data-field="{{ property.name }}" >
                                            {% if property.default %}
                                                {{ property.default }}
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    <td width="90" style="text-align: center;">
                        {% if properties.custom.only_list %}
                            <a class="btn btn-icon" href="{{ get_route_uri('admin_base',{ 'controller' : admin.self, 'action': 'edit', 'filter' : {'id' : item.id } }) }}" title="Просмотреть">
                                <i class="icon-comment"></i>
                            </a>
                        {% elseif properties.custom.not_edit %}
                        {% else %}
                            <a class="btn btn-icon" href="{{ get_route_uri('admin_base',{ 'controller' : admin.self, 'action': 'edit', 'filter' : {'id' : item.id } }) }}" title="Редактировать">
                                <i class="icon-pencil"></i>
                            </a>
                        {% endif %}
                        {% if properties.custom.creator %}
                            <span
                                class="btn btn-icon del_by_creator"
                                title="Удалить"
                                data-lvl="{{ item.lvl }}"
                                data-img="{{ item.img }}"
                                data-search="{{ item.search }}"
                                data-main="{{ item.main }}"
                                data-alias="{{ item.alias }}" >
                                <i class="icon-trash"></i>
                            </span>
                        {% else %}
                            <a
                                class="btn btn-icon delete"
                                href="{{ get_route_uri('admin_base',{ 'controller' : admin.self, 'action': 'remove', 'filter' : {'id' : item.id } }) }}"
                                title="Удалить"
                                onclick="return false;" >
                                    <i class="icon-trash"></i>
                            </a>
                        {% endif %}

                        {% if(properties.custom.hierarchy) %}
                            <a
                                class="btn btn-icon hierarchy_delete"
                                href="{{ get_route_uri('admin_base',{ 'controller' : admin.self, 'action': 'remove', 'filter' : {'id' : item.id } }) }}"
                                title="Удалить вместе с вложенностями"
                                onclick="return false;"
                                data-id="{{ item.id }}">
                                    <i class="icon-trash icon-white"></i>
                            </a>
                        {% endif %}
                    </td>
                    {% if(properties.custom.hide) %}
                        <td width="10">
                            <a class="toggle_hide" href="#" data-id="{{ item.id }}" onclick="return Helper.setHide(this, '{{ item.id }}');">
                                {% if item.hide %}
                                    <i title="Показать" class="icon-eye-close"></i>
                                {% else %}
                                    <i title="Скрыть" class="icon-eye-open"></i>
                                {% endif %}
                            </a>
                        </td>
                    {% endif %}
                    {% if properties.custom.sortable %}
                        <td>
                            <span class="move_groups btn btn-mini" title="Передвинуть">
                                <i class="icon-move"></i>
                            </span>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="2">
                    {{ vars.text.empty|default('Список пуст') }}
                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>

{% endblock %}
