{% extends "Layout/Page" %}

{% block content %}
     {% if index %}
        <div class="inner__content">
			<div class="breadcrumbs">{% include 'Block/Breadcrumb' %}</div>
			<h1 id="news_head" class="{% if wa_admin %} wa_admin{% endif %}{% if admin %} life_edit{% endif %}" {% if admin %} data-id="{{ document.id }}" data-table="pages" data-field="head"{% endif %}>{{ document.head }}</h1>
			<div id="id_1" class="{% if wa_admin %} wa_admin{% endif %}{% if admin %} life_edit{% endif %}" {% if admin %}data-id="{{ document.id }}" data-table="pages" data-field="body"{% endif %}>
				{{ document.body }}
			</div>
			{% include 'News/List' %}
        </div>
   {% else %}
	   <div class="inner__content">
			<div class="breadcrumbs">{% include 'Block/Breadcrumb' %}</div>
			<h1  id="news_head" class="{% if wa_admin %} wa_admin{% endif %}{% if admin %} life_edit{% endif %}" {% if wa_admin %}data-id="{{ item.id }}" data-table="{{ table }}" data-field="head" {% endif %}>{{ item.head }}</h1>
			<div class="news__inner">
				<div class="news__date">{{ item.created|date("d.m.Y") }}</div>
				<div
                    id="news_body"
                    class="news__preview{% if wa_admin %} wa_admin{% endif %}{% if admin %} life_edit{% endif %}"
                    {% if wa_admin %}
                        data-id="{{ item.id }}"
                        data-table="{{ table }}"
                        data-field="body"
                    {% endif %} >{{ item.body|unescape }}</div>
			</div>
		</div>
    {% endif %}

{% endblock %}
