{% for item in arraylist %}
    <div class="news__item">
		<div class="news__image">
			<img src="{{ item.img }}" alt="" class="news__img">
		</div>
        <div class="news__content">
			<div class="news__date">{{ item.created|date("d.m.Y") }}</div>
            <a href="{{ item.fullpath }}" class="news__title">{{ item.head }}</a>
            <div
                id="news_{{ item.id }}"
                class="news__preview{% if wa_admin %} wa_admin{% endif %}{% if admin %} life_edit{% endif %}"
                {% if wa_admin %}
                    data-id="{{ item.id }}"
                    data-table="{{ table }}"
                    data-field="preview"
                {% endif %} >
                    {{ item.preview }}
            </div>
        </div>
    </div>
{% endfor %}

{% include 'Block/Pagination' %}
