{% extends "Admin/Layout/Main" %}

{% block title %}Администрирование | Вход{% endblock %}

 {% block styles %}
     <link rel="stylesheet" href="/assets/shared/css/bootstrap.css" type="text/css" />
     <link rel="stylesheet" href="/assets/admin/css/pnotify.css" type="text/css"/>
     <link rel="stylesheet" href="/assets/admin/css/select2.css" type="text/css"/>
     <link rel="stylesheet" href="/assets/admin/css/structure.css" type="text/css"/>
     <link rel="stylesheet" href="/assets/admin/css/styles.css" type="text/css"/>
 {% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/assets/shared/js/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/shared/js/bootstrap.js"></script>
    <script type="text/javascript" src="/assets/admin/js/jquery/placeholder.min.js"></script>
    <script type="text/javascript" src="/assets/admin/js/jquery/pnotify.min.js"></script>
    <script type="text/javascript" src="/assets/admin/js/jquery/select2.min.js"></script>
{% endblock %}

{% block content_block %}
    <div id="login-holder">
        <div id="login-inner">
            <form method="post" action="">
                <input type="hidden" name="login" value="1" />
                <div class="row login-group">
                    <div class="span3">
                        <input type="text" class="text3 {% if errors.login %} error {% endif %}" name="login" placeholder="Логин" value="{{ login }}"/>
                    </div>
                </div>
                <div class="row login-group">
                    <div class="span3">
                        <input type="password" class="text3 {% if errors.password %} error {% endif %}" name="password" placeholder="Пароль" value=""/>
                    </div>
                </div>
                <div class="row login-remember">
                    <div class="controls">
                        <label class="checkbox">
                            <input name="remember" type="checkbox" {% if remember %}checked="checked"{% endif %}> Запомнить меня
                        </label>
                    </div>
                </div>
                <div class="row login-action">
                    <div class="span3">
                        <input type="submit" value="Войти" class="btn" />
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block footer_block %} {% endblock %}