<div id="fon" class="fon" style="display: flex; visibility: visible;">
    <div class="form_popup ">
        <!--<div id="close" class="modal_close close"></div>-->
        <div id="for_text" style="">
            <div class="cssload-loader">
                <div class="cssload-inner cssload-one"></div>
                <div class="cssload-inner cssload-two"></div>
                <div class="cssload-inner cssload-three"></div>
            </div>
        </div>
    </div>
</div>
