<?php defined('SYSPATH') OR die('No direct script access.');

class Model_{{ data.name_big }} extends Model_Abstract {
    protected $_table_name = 'feedback_{{ data.name_small }}';

    public function save(Validation $validation = NULL)
    {
        return parent::save($validation);
    }
}
