{% verbatim %}
<div class="slider__item mainmodule__item">
    <div class="mainmodule__image">
        <img src="{{ item.img }}" alt="{{ item.head }}" class="mainmodule__img">
    </div>
    <div class="mainmodule__content">
        <span   id="module__title_{{ item.id }}"
                class="mainmodule__title{% if wa_admin %} wa_admin{% endif %}{% if admin %} life_edit{% endif %}"
                {% if wa_admin %}
                    data-id="{{ item.id }}"
                    data-table="{{ table }}"
                    data-field="head"
                {% endif %}>{{ item.head }}</span>
        {% endverbatim %}
        {% for field in data.fields %}
        {% verbatim %}
            <div>
                <span class="module__title">{{ item.{% endverbatim %}{{ field.title }}{% verbatim %} }}</span>
                <span class="module__title">{{ item.{% endverbatim %}{{ field.name }}{% verbatim %}|unescape }}</span>
            </div>
        {% endverbatim %}
        {% endfor %}
        {% verbatim %}
    </div>
</div>
{% endverbatim %}
