{% verbatim %}
{% if arraylist %}
    {% for item in arraylist %}
        <div class="module__item">
            <div class="module__content">
                <span
                    id="module__title"
                    class="module__title{% if wa_admin %} wa_admin{% endif %}{% if admin %} life_edit{% endif %}"
                    {% if wa_admin %}
                        data-id="{{ item.id }}"
                        data-table="{{ table }}"
                        data-field="head"
                    {% endif %}>{{ item.head }}</span>
            </div>
        </div>
    {% endfor %}
{% endif %}
{% include 'Block/Pagination' %}
{% endverbatim %}
