<div class="row">
    <div class="span2">{{ element._label }}{{ element._enname }}{% if element._required %} <span>*</span> {% endif %}</div>
    <div class="span9">

            <i class='activate_text{% if element._value.1 == 'on' %} actived{% endif %}'  data-name="{{ element._name }}" title='Активировать'>
                <div  class="round base toggleBase">
                    <div class="round switch{% if element._value.1 == 'on' %} green{% endif %}">
                        <div class="round symbol"></div>
                    </div>
                </div>
            </i>

            <input
                type="text"
                name="{{ element._name }}[]"
                class="
                    {% if element._value.1 != 'on' %}disabled hidden{% endif %}
                    {{ element._name }}
                    menu_text_value
                    text-635
                    {% if element._errors|length %} error{% endif %}"
                {% for key, attribute in element._attributes %}
                    {% if( key != 'class' ) %}
                        {{ key }}="{{ attribute }}"
                    {% endif %}
                {% endfor %}
                {% if element._value.1 != 'on' %}disabled="disabled"{% endif %}
                {% if element._maxlength %}maxlength="{{ element._maxlength }}" {% endif %}
                value="{{ element._value.0 }}" />


            <input style="display: none;" id="{{ element._name }}" {% if element._value.1 == 'on' %}checked="checked"{% endif %} type="checkbox" name="{{ element._name }}[]" />

            {% if element._help %}
                <span class="former-help-block">{{ element._help }}</span>
            {% endif %}
    </div>
</div>
