{% if not rendered %}
    <link rel="stylesheet" href="/assets/admin/css/calendar.css" type="text/css"/>
    <script type="text/javascript" src="/assets/admin/js/vendor/calendar.js"></script>
{% endif %}

<div class="row">
    <div class="span2">{{ element._label }}{% if element._required %} <span>*</span> {% endif %}</div>
    <div class="span9">
        <input type="text" name="{{ element._name }}[]" id="c_{{ element._name }}" class="text-635 {% if element._value.1 != 'on' %}unactive_text{% endif %}" value="{{ element._value.0|date("d.m.Y H:i") }}" readonly/>
        <a href="#" title="Календарь" class="icon-calendar-b calendar {% if element._value.1 != 'on' %}unactive{% endif %}" id="c_{{ element._name }}_button" onclick="return false;"></a>
        <script type="text/javascript">
            Calendar.setup({
                showTime: true,
                inputField: "c_{{ element._name }}",
                trigger: "c_{{ element._name }}_button",
                onSelect: function () {
                    this.hide()
                },
                dateFormat: "%d.%m.%Y %H:%M"
            });
        </script>
        {% if element._help %}
            <span class="former-help-block">{{ element._help }}</span>
        {% endif %}

        <i class='activate_date{% if element._value.1 == 'on' %} actived{% endif %}'  data-name="{{ element._name }}" title='Активировать'>
            <div  class="round base toggleBase">
                <div class="round switch{% if element._value.1 == 'on' %} green{% endif %}">
                    <div class="round symbol"></div>
                </div>
            </div>
        </i>

        <input style="display: none;" id="{{ element._name }}" {% if element._value.1 == 'on' %}checked="checked"{% endif %} type="checkbox" name="{{ element._name }}[]" />


    </div>
</div>

        <script>
            $('.activate_date').click(function(){
                $('#c_{{ element._name }}_button').toggleClass('unactive');
                $('#c_{{ element._name }}').toggleClass('unactive_text');
            });

        </script>
