<div class="row">
    <div class="span2">{{ element._label }}{% if element._required %} <span>*</span> {% endif %}</div>
    <div class="span9">
        <div class="file_input_div file_{{ element._name }}">
            <input type="button" value="" class="file_input_button" data-id="file_imulated_{{ element._name }}" />
            <input type="file" name="{{ element._name }}[]" class="file_input_hidden album_v2_file"  multiple accept="image/*" id="file_imulated_{{ element._name }}" data-name="{{ element._name }}" />
        </div>
        <div class="panel-body"></div>
        {% if element._help %}
            <span class="former-help-block">{{ element._help }}</span>
        {% endif %}
    </div>

    <table class="table table-striped pics_for_upload pics_for_upload_{{ element._name }} {% if element._value != 'a:0:{}' and element._value != '' %}show{% endif %}">
        <thead>
            <tr>
                <th>Изображение</th>
                <th class="hidden"></th>
                <th class="hidden">Название</th>
                <th class="hidden"Описание</th>
                <th style="width: 40px;"><i class="icon-trash icon-white"></i></th>
            </tr>
        </thead>
        <tbody>
            {% if element._value %}
                {% for key, pic in unserializer(element._value) %}
                    {% if pic.0 != '' %}
                        <tr class="{{ element._name }}_{{ key }}">
                            <td>
                                <input type="hidden" value="{{ pic.0 }}" name="{{ element._name }}_old[]">
                                <div class="fon_del_pic fon_del_pic_{{ key }}"></div><img src="{{ pic.0 }}" style="height: 100px;" />
                            </td>
                            <td class="hidden">
                                <table class=" table-striped">
                                    <tr><td>Ru</td></tr>
                                    <tr><td>En</td></tr>
                                </table>
                            </td>
                            <td class="hidden">
                                <table class=" table-striped">
                                    <tr><td><input value="{{ pic.1 }}" name="{{ element._name }}_old[]"></td></tr>
                                    <tr><td><input value="{{ pic.2 }}" name="{{ element._name }}_old[]"></td></tr>
                                </table>
                            </td>
                            <td class="hidden">
                                <table class=" table-striped">
                                    <tr><td><input value="{{ pic.3 }}" name="{{ element._name }}_old[]"></td></tr>
                                    <tr><td><input value="{{ pic.4 }}" name="{{ element._name }}_old[]"></td></tr>
                                </table>
                            </td>
                            <td>
                                <input type="hidden" name="delited_old_pic[]" class="del_check_{{ key }}">
                                <i class='checkbox_rond pic_delete' data-del="{{ key }}" data-title="{{ pic.0 }}" title='Удалить'>
                                    <div  class="round base toggleBase">
                                        <div class="round switch">
                                            <div class="round symbol"></div>
                                        </div>
                                    </div>
                                </i>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </tbody>
    </table>

</div>

<script id="template-upload_{{ element._name }}" type="text/x-tmpl">
    <tr class="{{ element._name }}_${lastModified}">
        <td>
            <div class="fon_del_pic fon_del_pic_${lastModified}"></div>
            <img src="${src}" style="height: 100px;" />
        </td>
        <td class="hidden">
            <table>
                <tr><td>Ru</td></tr>
                <tr><td>En</td></tr>
            </table>
         </td>
        <td class="hidden">
            <table>
                <tr>
                    <td>
                        <input value="${title}" name="{{ element._name }}[]">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input value="${title}" name="{{ element._name }}[]">
                    </td>
                </tr>
            </table>
        </td>
        <td class="hidden">
            <table>
                <tr>
                    <td>
                        <input value="" name="{{ element._name }}[]">
                    </td>
                <tr>
                </tr>
                    <td>
                        <input value="" name="{{ element._name }}[]">
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <input type="hidden" name="delited_pic[]" class="del_check_${lastModified}">
            <i class='checkbox_rond pic_delete' data-del="${lastModified}" data-title="${name}" title='Удалить'>
                <div  class="round base toggleBase">
                    <div class="round switch">
                        <div class="round symbol"></div>
                    </div>
                </div>
            </i>
        </td>
    </tr>
</script>
