{% if element._value %}
    <div class="row">
        <div class="span2">&nbsp;</div>
        <div class="span9">
            {% set N = 0 %}
            {% for pic in unserializer(element._value) %}
                {% if pic != '' %}
                    <img src="{{pic}}" width="200" />
                    &nbsp;
                    <input id="img_{{N}}" type="checkbox" name="{{ element._name }}_delete[]" value="{{pic}}" class="del_checkbox" />
                    &nbsp;&nbsp;
                    <label for="img_{{N}}">удалить</label>
                    {% set N = N+1 %}
                {% endif %}
            {% endfor %}
            <input type="hidden" name="{{ element._name }}" value="{% for pic in unserializer(element._value) %}{{pic}}{% if not loop.last %},{% endif %}{% endfor %}"/>
        </div>
    </div>
{% endif %}

<div class="row">
    <div class="span2">{{ element._label }}{% if element._required %} <span>*</span> {% endif %}</div>
    <div class="span9">
        <input type="text" id="imulated_{{ element._name }}" class="file_input_textbox" readonly="readonly">
        <div class="file_input_div">
            <input type="button" value="" class="file_input_button" />
            <input type="file" id="new_pic" name="{{ element._name }}" class="file_input_hidden" />
        </div>
        {% if element._help %}
            <span class="former-help-block">{{ element._help }}</span>
        {% endif %}
    </div>
</div>
    
<script>
    $('#new_pic').change(function(){
        $('#imulated_{{ element._name }}').val(this.value);
        $('.del_checkbox').attr('disabled', 'disabled');
        $('label, checkbox').css({'opacity':'0', 'cursor':'default'}).removeAttr('checked');
    });
    $('#imulated_pics').keyup(function(){
        var val = $(this).val();
        if( val == '' ){
            $('.del_checkbox').removeAttr('disabled');
        $('label').css({'opacity':'1', 'cursor':'pointer'});
        }
    })
</script>