<div class="row">
    <div class="span2">{{ element._label }}{% if element._required %} <span>*</span> {% endif %}</div>
    <div class="span9">
        {% if element._choices|length > 0 %}
            <select name="{{ element._name }}[]" multiple
                    class="select-700 select2 {% if element._errors|length %} error{% endif %}"
            {% for key, attribute in element._attributes %}
                {% if( key != 'class' ) %}
                    {{ key }}="{{ attribute }}"
                {% endif %}
            {% endfor %}>

            {% for value, label in element._choices %}
                <option value="{{ value }}" {% if value in element._value %}selected{% endif %}>
                    {{ label }}
                </option>
            {% endfor %}
            </select>
        {% else %}
            Опции отсутствуют
        {% endif %}
        {% if element._help %}
            <span class="former-help-block">{{ element._help }}</span>
        {% endif %}
    </div>
</div>