<div class="row">
    <div class="span2">{{ element._label }}{% if element._required %} <span>*</span> {% endif %}</div>
    <div class="span9">
        <table class="checkboxes">
            
            {% for value, label in element._choices %}
                <tr>
                    <td>
                        
                        
                        <i class='checkbox_rond checkboxes_{{ value }} {% if element._value[value] == 1 %}actived{% endif %}' data-name="{{ value }}-{{ element._name }}" title='{% if element._value[value] == 1 %}Снять{%else%}Активировать{% endif %}'>
                            <div  class="round base toggleBase">
                                <div class="round switch{% if element._value[value] == 1 %} green{% endif %}">
                                    <div class="round symbol"></div>
                                </div>
                            </div>
                        </i>
                    </td>
                    <td>
                        <input type="hidden" name="{{ element._name }}[]" value="{{ value }}"/>
                        <input 
                            style="display: none;" 
                            type="checkbox" 
                            id="{{ value }}-{{ element._name }}" 
                            name="{{ value }}"
                            {% if element._value[value] == 1 %}checked{% endif %} />
                        <label for="{{ value }}-{{ element._name }}" class="checkboxes_label" data-attr="checkboxes_{{ value }}" >{{ label }}</label>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>