<div class="row">
    <div class="span2">{{ element._label }}{% if element._required %} <span>*</span> {% endif %}</div>
    <div class="span9">
        <input type="hidden" name="{{ element._name }}" value="0"/>
        <input style="display: none;" type="checkbox" id="former-{{ element._name }}" name="{{ element._name }}" value="1" {% if element._value %}checked{% endif %} {% for key, attribute in element._attributes %}{{ key }}="{{ attribute }}"{% endfor %} />
        <label for="former-{{ element._name }}">{{ label }}</label>
        
            <i class='checkbox_rond{% if element._value %} actived{% endif %}'  data-name="former-{{ element._name }}" title='Активировать'>
                <div  class="round base toggleBase">
                    <div class="round switch{% if element._value %} green{% endif %}">
                        <div class="round symbol"></div>
                    </div>
                </div>
            </i>
        
    </div>
</div>