<div class="row">
    <div class="span2">{{ element._label }}{% if element._required %} <span>*</span> {% endif %}</div>
    <div class="span9">
        <div class="groups-text"><input type="color" value="{{ element._value|default('#cccccc') }}" name="{{ element._name }}" ></div>
    </div>
</div>
