<div class="row">
    <div class="span2">{{ element._label }}{% if element._required %} <span>*</span> {% endif %}</div>
    <div class="span9">
        <input
            type="text"
            name="{{ element._name }}"
            id="c_{{ element._name }}"
            class="form_calendar text-635 calendar_text"
            value="{{ element._value|date("d.m.Y") }}"
            readonly
        />

        {% if element._help %}
            <span class="former-help-block">{{ element._help }}</span>
        {% endif %}
    </div>
</div>
