
{% set param = {} %}
{% for i in 0..(element._param|length - 1) %}

        {% set text          = '<div class="groups-text"><input type="text"  value="%value%" name="%name%_%N%[]" class="text-610" placeholder="%placeholder%" ></div>' %}
        {% set en_text       = '<div class="groups-text"><input type="text"  value="%value%" name="%name%_%N%[]" class="text-610 en_text" placeholder="%placeholder%" ></div>' %}
        {% set color         = '<div class="groups-text"><input type="color" value="%value%" name="%name%_%N%[]" ></div>' %}
        {% set img           = '<div class="groups-text">
                                    <input type="text"   class="file_input_textbox span6" value="%value%" id="imulated_%name%_%M%"      name="%name%_%N%[]" readonly="readonly" >
                                    <input type="file"   class="file_input_hidden groups" value="%value%" id="file_imulated_%name%_%M%" data-id="imulated_%name%_%M%" name="%name%[]" accept="image/*" >
                                    <input type="button" class="file_input_button groups file_button_%name%_%M%"                        data-id="file_imulated_%name%_%M%" >
                               </div>' %}

        {% set upld_img      = '<img src="/upload/images/%name%/%id%/%value%" width="150" />' %}
        {% set pic_exts      = ['jpg', 'png', 'gif', 'jpeg'] %}
        {% set textarea      = '<div class="groups-text">
                                    <textarea id="%name%_text_%N%_%M%" placeholder="%placeholder%" class="%name%_text groups_textarea" name="%name%_%N%[]">%value%</textarea>
                                    <b class="on" data-class="%name%_text_%N%_%M%" title="Включить текстовый редактор"><i class="icon-align-left"></i></b>
                                </div>' %}

        {% set select        = '<div class="groups-text" >
                                    <select id="file_imulated_%name%_%M%" data-id="imulated_%name%_%M%" name="%name%_%N%[]" class="groups_select select-635 select2" >
                                        <option value="0">---</option>' %}

        {% set multiselect   = '<div class="groups-text" >
                                    <input type="hidden" value="%value%" name="%name%_%N%[]_%M%" id="%name%_multiselect_text_%N%_%M%" class="groups_multiselect_text" >
                                        <select multiple id="%name%_multiselect_%N%_%M%" data-id="%name%_multiselect_text_%N%_%M%" class="groups_multiselect select-635 select2" >' %}

        {% set checkbox      = '<div class="groups-text">
                                   <span class="groups_checkbox_label">%placeholder%</span>
                                   <i class="checkbox_rond groups_checkbox groups_checkbox_%value%" data-id="%name%_checkbox_text_%N%" title="Активировать">
                                       <div  class="round base toggleBase">
                                           <div class="round switch">
                                               <div class="round symbol"></div>
                                           </div>
                                       </div>
                                   </i>
                                   <input type="hidden" value="%value%" name="%name%_%N%[]_%M%" id="%name%_checkbox_text_%N%" >
                               </div>' %}

        {% set checkboxgroup = '<div class="groups-text">
                                    <input type="hidden" value="%value%" name="%name%_%N%[]_%M%" id="%name%_checkboxgroup_text_%N%_%M%" class="groups_checkboxgroup_text" >' %}


    {% if element._param[i].options %}
        {% set count = 0 %}
        {% for key, option in element._param[i].options %}
            {% set select        = select~'<option value="'~key~'" >'~option~'</option>' %}
            {% set multiselect   = multiselect~'<option value="'~key~'" >'~option~'</option>' %}
            {% set checkboxgroup = checkboxgroup~'
                    <span class="groups_checkbox_label">%placeholder%</span>
                    <i class="checkbox_rond groups_checkboxgroup groups_checkboxgroup_'~key~'" data-key="'~key~'" data-id="%name%_checkboxgroup_text_%N%_%M%" title="Активировать">
                        <div  class="round base toggleBase">
                            <div class="round switch">
                                <div class="round symbol"></div>
                            </div>
                        </div>
                    </i>'
             %}
             {% set count = count + 1 %}
        {% endfor %}

        {% set select        = select~'</select></div>'      %}
        {% set multiselect   = multiselect~'</select></div>' %}
        {% set checkboxgroup = checkboxgroup~'</div>'        %}

    {% endif %}

    {% if element._param[i].params %}
        {% set select = select~'<div class="groups-text bonus_text hidden '~element._param[i].params~'">
                                    <input type="text"  value="%b_value%" name="%name%_b%N%[]" class="text-610" placeholder="Параметры через ;" >
                                </div>'
         %}
    {% endif %}


    {% if     element._param[i].type == 'textarea'      %} {% set param = param|merge({ (i) : textarea      }) %}
    {% elseif element._param[i].type == 'en_text'       %} {% set param = param|merge({ (i) : en_text       }) %}
    {% elseif element._param[i].type == 'color'         %} {% set param = param|merge({ (i) : color         }) %}
    {% elseif element._param[i].type == 'img'           %} {% set param = param|merge({ (i) : img           }) %}
    {% elseif element._param[i].type == 'select'        %} {% set param = param|merge({ (i) : select        }) %}
    {% elseif element._param[i].type == 'multiselect'   %} {% set param = param|merge({ (i) : multiselect   }) %}
    {% elseif element._param[i].type == 'checkbox'      %} {% set param = param|merge({ (i) : checkbox      }) %}
    {% elseif element._param[i].type == 'checkboxgroup' %} {% set param = param|merge({ (i) : checkboxgroup }) %}
    {% else %}                                             {% set param = param|merge({ (i) : text          }) %}
    {% endif %}
{% endfor %}



<script id="template-upload-{{ element._name }}" type="text/x-tmpl">
<tr class="former-{{ element._name }}-row">
    {% if element._counter %}<td class="counter"> ${L} {{ element._counter }}</td>{% endif %}
    <td>
        <input type="hidden" name="{{ element._name }}[]" value="{{ element._name }}" />
        {% for i in 0..(element._param|length - 1) %}
            {{ param[i]|replace({'%placeholder%': element._param[i].title , '%name%': element._name, '%N%':i+1, '%M%': 'new_element', '%value%':'', '%b_value%':'', '%class%': 'hidden'}) }}
        {% endfor %}
    </td>
    <br />
    <td>
        <a href="#" class="btn btn-mini former-remove" data-name="{{ element._name }}" data-counter="{{ element._counter }}"><i class="icon-minus-sign"></i></a>
    </td>
</tr>
</script>


<div class="row">
    <div class="span2">{{ element._label }}{% if element._required %} <span>*</span> {% endif %}</div>
    <div class="span9">
        <table class="table table-bordered table-default former-{{ element._name }}-table">
            <thead>
                <th></th>
                <th><a href="#" class="btn btn-mini former-add" data-name="{{ element._name }}" ><i class="icon-plus-sign"></i></a></th>
            </thead>

            <tbody class="groups_sortable_tbody" id="{{ element._name }}_sortable">

                {% if element._value|length > 0 %}
                    {% set M = 0 %}
                    {% set counter = element._value|length %}
                    {% for key, _value in element._value %}

                        <tr class="former-{{ element._name }}-row">

                            <div class="for-{{ element._name }}-del-pic-arr"></div> {# для удаления картинок #}
                            {% if element._counter %}
                                <td class="counter">{{ counter }} {{ element._counter }}</td>
                                {% set counter = counter-1 %}
                            {% endif %}
                            <td>
                                <input type="hidden" name="{{ element._name }}[]" value="{{ element._name }}" /> {# это надо!!! #}
                                {% for i in 0..(element._param|length - 1) %}
                                    {% set ext = _value[i+1]|split('.')|last|lower %}

                                    {% if ext in pic_exts %}
                                        {{ upld_img|replace({ '%id%': element._id, '%name%': element._name, '%value%': _value[i+1] }) }}
                                    {% endif %}

                                    {{ param[i]|replace({
                                                    '%placeholder%' : element._param[i].title,
                                                    '%name%'        : element._name,
                                                    '%N%'           : i+1,
                                                    '%M%'           : M,
                                                    '%value%'       : _value[i+1],
                                                    '%b_value%'       : _value['b'~(i+1)],
                                                    '%class%'       : '',
                                                    '%text%'        : element._param[i].options[_value[i+1]]
                                                })
                                    }}
                                    <script>
                                        $("#file_imulated_{{ element._name }}_{{ M }} option[value='{{ _value[i+1] }}']").attr("selected","selected");
                                        $('.bonus_text.b_{{ _value[i+1] }}').removeClass('hidden');
                                    </script>
                                {% endfor %}
                            </td>
                            <td>
                                <a href="#" class="btn btn-mini former-remove" data-name="{{ element._name }}" data-counter="{{ element._counter }}" title="Удалить">
                                    <i class="icon-minus-sign"></i>
                                </a>
                                <span class="move_groups btn btn-mini" title="Передвинуть"><i class="icon-move"></i></span>
                            </td>
                        </tr>
                        {% set M = M+1 %}
                    {% endfor %}
                {% else %}
                    <tr class="former-{{ element._name }}-empty">
                        <td colspan="2">Элементов нет</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
      </head>
      <body>
    </div>
</div>
