<script type="text/javascript">
    $(document).ready(function(){
        // Groups
        $(document).delegate( ".former-{{ element._name }}-group-add", "click", function() {
            var $table = $(this).closest('table.former-{{ element._name }}-group-table');
            if($table.find('tr.former-{{ element._name }}-group-empty').size() == 1){
                $table.find('tr.former-{{ element._name }}-group-empty').remove();
            }

            // Get indexes
            var $parameters_row_index = $table.find('tr.former-{{ element._name }}-group-row:last').data('index');
            if(typeof $parameters_row_index == "undefined") {
                $parameters_row_index = 0;
            } else {
                $parameters_row_index += 1;
            }

            // Get templates
            var $parameters_row_template = '<tr class="former-{{ element._name }}-group-row" data-index="'+$parameters_row_index+'"> \
                    <td style="vertical-align: top; width: 220px;">\
                        <ul class="group-list"> \
                            <li>\
                                <input type="text" class="text-198 former-{{ element._name }}-item-group" name="{{ element._name }}['+$parameters_row_index+'][group]" value="" >\
                            </li>\
                        </ul>\
                    </td>\
                    <td style="vertical-align: top;">\
                        <table class="table table-bordered table-default former-{{ element._name }}-item-table">\
                            <thead>\
                                <th>Название</th>\
                                <th width="60">Цена</th>\
                                <th width="30"><a href="#" class="btn btn-mini former-{{ element._name }}-item-add"><i class="icon-plus-sign"></i></a></th>\
                            </thead>\
                            <tbody>\
                                <tr class="former-{{ element._name }}-item-empty">\
                                    <td colspan="3">Список пуст</td>\
                                </tr>\
                            </tbody>\
                        </table>\
                    </td>\
                    <td>\
                        <a href="#" class="btn btn-mini former-{{ element._name }}-group-remove"><i class="icon-minus-sign"></i></a>\
                    </td>\
            </tr>';

            $table.children('tbody').append($parameters_row_template);
            return false;
        });

        $(document).delegate( ".former-{{ element._name }}-group-remove", "click", function() {
            var $table = $(this).closest('table.former-{{ element._name }}-group-table');
            var $parameters_empty_template = '<tr class="former-{{ element._name }}-group-empty"><td colspan="3">Список пуст</td></tr>';

            $(this).closest('tr.former-{{ element._name }}-group-row').remove();
            if($table.find('tr.former-{{ element._name }}-group-row').size() == 0){
                $table.children('tbody').append($parameters_empty_template);
            }
            return false;
        });

        // Items
        $(document).delegate( ".former-{{ element._name }}-item-add", "click", function() {
            var $table = $(this).closest('table.former-{{ element._name }}-item-table');
            if($table.find('tr.former-{{ element._name }}-item-empty').size() == 1){
                $table.find('tr.former-{{ element._name }}-item-empty').remove();
            }

            // Get indexes
            var $parameters_row_parent = $(this).closest('tr.former-{{ element._name }}-group-row').data('index');
            var $parameters_row_index = $table.find('tr.former-{{ element._name }}-item-row:last').data('index');
            if(typeof $parameters_row_index == "undefined") {
                $parameters_row_index = 0;
            } else {
                $parameters_row_index += 1;
            }

            // Generate template
            var $parameters_row_template = '<tr class="former-{{ element._name }}-item-row" data-index="'+$parameters_row_index+'">\
                    <td>\
                        <input type="text" class="text-220" value="" name="{{ element._name }}['+$parameters_row_parent+'][options]['+$parameters_row_index+'][name]">\
                    </td>\
                    <td>\
                        <input type="text" class="text-38" value="0" name="{{ element._name }}['+$parameters_row_parent+'][options]['+$parameters_row_index+'][price]">\
                    </td>\
                    <td>\
                        <a href="#" class="btn btn-mini former-{{ element._name }}-item-remove"><i class="icon-minus-sign"></i></a>\
                    </td>\
            </tr>';

            $table.children('tbody').append($parameters_row_template);
            return false;
        });

        $(document).delegate( ".former-{{ element._name }}-item-remove", "click", function() {
            var $table = $(this).closest('table.former-{{ element._name }}-item-table');
            var $parameters_empty_template = '<tr class="former-{{ element._name }}-item-empty"><td colspan="3">Список пуст</td></tr>';

            $(this).closest('tr.former-{{ element._name }}-item-row').remove();
            if($table.find('tr.former-{{ element._name }}-item-row').size() == 0){
                $table.children('tbody').append($parameters_empty_template);
            }
            return false;
        });

    });
</script>

<div class="row">
    <div class="span2">{{ element._label }}{% if element._required %} <span>*</span> {% endif %}</div>
    <div class="span9">
        <table class="table table-bordered table-default former-{{ element._name }}-group-table">
            <thead>
                <th style="width: 220px;">Группа</th>
                <th>Список</th>
                <th width="30"><a href="#" class="btn btn-mini former-{{ element._name }}-group-add"><i class="icon-plus-sign"></i></a></th>
            </thead>

            <tbody>
            {% if element._value|length > 0 %}
                {% for _parameter in element._value %}
                    <tr class="former-{{ element._name }}-group-row" data-index="{{ loop.index0 }}">
                        <td style="vertical-align: top; width: 220px;">
                            <ul class="group-list">
                                <li>
                                    <input type="text" class="text-198 former-{{ element._name }}-item-group" name="{{ element._name }}[{{ loop.index0 }}][group]" value="{{ _parameter.group }}" />
                                </li>
                            </ul>
                        </td>
                        <td style="vertical-align: top;">
                            <table class="table table-bordered table-default former-{{ element._name }}-item-table">
                                <thead>
                                    <th>Название</th>
                                    <th width="60">Цена</th>
                                    <th width="30"><a href="#" class="btn btn-mini former-{{ element._name }}-item-add"><i class="icon-plus-sign"></i></a></th>
                                </thead>

                                <tbody>
                                    {% if _parameter.options|length > 0 %}
                                        {% for _item in _parameter.options %}
                                            <tr class="former-{{ element._name }}-item-row" data-index="{{ loop.index0 }}">
                                                <td>
                                                    <input type="text" class="text-220" value="{{ _item.name }}" name="{{ element._name }}[{{ loop.parent.loop.index0 }}][options][{{ loop.index0 }}][name]">
                                                </td>
                                                <td>
                                                    <input type="text" class="text-38" value="{{ _item.price }}" name="{{ element._name }}[{{ loop.parent.loop.index0 }}][options][{{ loop.index0 }}][price]">
                                                </td>
                                                <td>
                                                    <a href="#" class="btn btn-mini former-{{ element._name }}-item-remove"><i class="icon-minus-sign"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr class="former-{{ element._name }}-item-empty">
                                            <td colspan="3">Список пуст</td>
                                        </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </td>
                        <td width="30"><a href="#" class="btn btn-mini former-{{ element._name }}-group-remove"><i class="icon-minus-sign"></i></a></td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr class="former-{{ element._name }}-group-empty">
                    <td colspan="3">Список пуст</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>