{% if element._value %}
    <div class="row">
        <div class="span2">&nbsp;</div>
        <div class="span9">
            {{ thumb(element._value,{'actions':['resize_200_200'],'attributes':{'class':'img-polaroid'}}) }}
            &nbsp;<input type="checkbox" name="{{ element._name }}_delete" value="1" />&nbsp;&nbsp;удалить
            <input type="hidden" name="{{ element._name }}" value="{{ element._value }}"/>
        </div>
    </div>
{% endif %}

<div class="row">
    <div class="span2">{{ element._label }}{% if element._required %} <span>*</span> {% endif %}</div>
    <div class="span9">
        <input type="text" id="imulated_{{ element._name }}" class="file_input_textbox" readonly="readonly" placeholder="рекомендуемый размер {{ element._width }}x{{ element._height }}">
        <div class="file_input_div">
            <input type="button" value="" data-id="file_imulated_{{ element._name }}" class="file_input_button" />
            <input type="file"   value="" data-id="imulated_{{ element._name }}"      class="file_input_hidden" id="file_imulated_{{ element._name }}" name="{{ element._name }}" accept="image/*" />
        </div>
        {% if element._help %}
            <span class="former-help-block">{{ element._help }}</span>
        {% endif %}
    </div>
</div>

<div class="row prev" id="prev_{{ element._name }}">
    <div class="span2 notification">Выделите область</div>
{#    <div class="slider">
        <div class="custom-handle ui-slider-handle"></div>
    </div>#}
    <div class="size"></div>
    <div class="ok_but" id="ok_{{ element._name }}">Не обрезать</div>
    <div class="">
        <div class="output" id="output_{{ element._name }}" ></div>
    </div>
</div>

<div class="row crop" id="crop_{{ element._name }}">
    <div class="span2">Превью картинки</div>
    <div class="span9">
        <div class="crop_pic" id="crop_pic_{{ element._name }}" ></div>
    </div>
</div>


<input type="hidden" name="x1_{{ element._name }}" value="" />
<input type="hidden" name="y1_{{ element._name }}" value="" />
<input type="hidden" name="x2_{{ element._name }}" value="" />
<input type="hidden" name="y2_{{ element._name }}" value="" />
<input type="hidden" name="w_{{ element._name }}"  value="" />
<input type="hidden" name="h_{{ element._name }}"  value="" />

<input type="hidden" name="quality_{{ element._name }}"  value="100" />


<script type="text/javascript">

{#$( function() {
    var handle = $( ".custom-handle" );
    $( ".slider" ).slider({
        value: 100,
        create: function() {
            handle.text( $( this ).slider( "value" ) );
            $('input[name=quality_{{ element._name }}]').val($( this ).slider( "value" ));
        },
        slide: function( event, ui ) {
            handle.text( ui.value );
            $('input[name=quality_{{ element._name }}]').val(ui.value);
        }
    });
});
    #}


    $('#ok_{{ element._name }}').click(function(){
        if(!$(this).hasClass('selected')) {
            preview(null, null, false);
            $('.size').css('display', 'none')
        }else {
            $('.size').css('display', 'none')
            $(this).removeClass('selected').text('Не обрезать');
        }
        $('#crop_{{ element._name }}').show();
        $('#prev_{{ element._name }}, .imgareaselect-outer').hide();
        $('.imgareaselect-border4').parent().hide();
    });

    function preview(img, selection, crop=true) {

        var img = $('#output_{{ element._name }}').html();
        $('#crop_pic_{{ element._name }}').html(img);
        if(crop){
            $('#ok_{{ element._name }}').addClass('selected').text('OK');
            $('.size').css('display', 'block').html(selection.width+'x'+selection.height);
            var scaleX = selection.width;
            var scaleY = selection.height;
            $('#crop_pic_{{ element._name }}').css({
                width:  scaleX + 'px',
                height: scaleY + 'px'
            });
            $('#crop_pic_{{ element._name }} img').css({
                marginLeft: '-' + selection.x1 + 'px',
                marginTop:  '-' + selection.y1 + 'px'
            });
{#            setTimeout(
                function(){
                    if ( scaleX > 200 ){
                        $('#crop_pic_{{ element._name }} img').css('transform','sc');
                    console.log(scaleX);
                    }
                }, 10);#}
        } else {
            $('input[name=x1_{{ element._name }}],\n\
               input[name=y1_{{ element._name }}],\n\
               input[name=x2_{{ element._name }}],\n\
               input[name=y2_{{ element._name }}],\n\
               input[name=w_{{ element._name }}],\n\
               input[name=h_{{ element._name }}]').val('');

            $('#crop_pic_{{ element._name }}').css({
                width:  '100%',
                height: '100%'
            });
            $('#crop_pic_{{ element._name }} img').css({
                marginLeft: '0',
                marginTop:  '0'
            });
            setTimeout(
                function(){
                    if ( $('#crop_pic_{{ element._name }} img').width() > 200 ){
                        $('#crop_pic_{{ element._name }} img').css('width','200px');
                   // console.log($('#crop_pic_{{ element._name }} img').width());
                    }
                }, 10);
        }


    }

    $('#output_{{ element._name }}').imgAreaSelect({
        aspectRatio: '{{ element._width }}:{{ element._height }}',
        handles: true,
        onSelectChange: preview,
        onSelectEnd: function ( image, selection ) {
            $('input[name=x1_{{ element._name }}]').val(selection.x1);
            $('input[name=y1_{{ element._name }}]').val(selection.y1);
            $('input[name=x2_{{ element._name }}]').val(selection.x2);
            $('input[name=y2_{{ element._name }}]').val(selection.y2);
            $('input[name=w_{{ element._name }}]').val(selection.width);
            $('input[name=h_{{ element._name }}]').val(selection.height);
        }
    });

function handleFileSelect(evt) {
    $('#crop_{{ element._name }}').hide();
    $('#prev_{{ element._name }}').show();
    var file = evt.target.files; // FileList object
    var f = file[0];
    // Only process image files.
    if (!f.type.match('image.*')) {
        alert("Image only please....");
    }
    var reader = new FileReader();
    // Closure to capture the file information.
    reader.onload = (function(theFile) {
        return function(e) {
            // Render thumbnail.
            $('#output_{{ element._name }}').html(['<img class="thumb" title="', escape(theFile.name), '" src="', e.target.result, '" />'].join(''));

        };
    })(f);
    // Read in the image file as a data URL.
    reader.readAsDataURL(f);
}
$('#file_imulated_{{ element._name }}').click(function(){
    $(this).val('');
})
$('#file_imulated_{{ element._name }}').change(handleFileSelect);




</script>
