{% if element._value %}
    <div class="row">
        <div class="span2">&nbsp;</div>
        <div class="span9">
            {{ thumb(element._value,{'actions':['resize_200_200']}) }}
            &nbsp;<input type="checkbox" name="{{ element._name }}_delete" value="1" />&nbsp;&nbsp;удалить
            <input type="hidden" name="{{ element._name }}" value="{{ element._value }}"/>
        </div>
    </div>
{% endif %}

<div class="row">
    <div class="span2">{{ element._label }}{% if element._required %} <span>*</span> {% endif %}</div>
    <div class="span9">
        <input type="text" id="imulated_{{ element._name }}" class="file_input_textbox" readonly="readonly">
        <div class="file_input_div">
            <input type="button" value="" data-id="file_imulated_{{ element._name }}" class="file_input_button" />
            <input type="file"   value="" data-id="imulated_{{ element._name }}"      id="file_imulated_{{ element._name }}"   name="{{ element._name }}" class="file_input_hidden" accept="image/*" />
        </div>
        {% if element._help %}
            <span class="former-help-block">{{ element._help }}</span>
        {% endif %}
    </div>
</div>
