<div class="row">
    <div class="span2">{{ element._label }}{% if element._required %} <span>*</span> {% endif %}</div>
    <div class="span9">
        {% if element._choices|length > 0 %}
            <ul class="group-list">
                {% for value, label in element._choices %}
                    <li class="imgcheckbox">
                        <input class="imgcheckbox_radio"
                               type="radio"
                               id="former-{{ element._name }}-{{ loop.index }}"
                               name="{{ element._name }}"
                               value="{{ value }}"
                               {% if value == element._value %}checked
                               {% elseif loop.index == 1 %}checked
                               {% endif %}
                               {% for key, attribute in element._attributes %}{{ key }}="{{ attribute }}"{% endfor %}
                        />
                        <label for="former-{{ element._name }}-{{ loop.index }}">
                            <div class="imgcheckbox_img" style="background: url({{ label.img }});" data-num="{{ loop.index }}">
                                <!-- <i title="Посмотреть" class="icon-eye-open imgcheckbox_view" data-num="{{ loop.index }}"></i> -->
                            </div>
                        </label>
                    </li>
                    <div class="row prev imgcheckbox_fullimg imgcheckbox_fullimg_{{ loop.index }}">
                        <div class="span2 notification">{{ label.title }}</div>
                        <div class="size"></div>
                        <!-- <div class="ok_but">Ok</div> -->
                        <div class="">
                            <img src="{{ label.img }}" width="400" />
                        </div>
                    </div>
                {% endfor %}
            </ul>
        {% else %}
            Опции отсутствуют
        {% endif %}
    </div>
</div>
