<div class="row">
    <div class="span2">{{ element._label }}</div>
    <div class="span9">
        <div name="{{ element._name }}">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>ФИ</td>
                            <td>
                                {{ element._value.name }} {{ element._value.surname }}
                            </td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>
                                {{ element._value.email }}
                            </td>
                        </tr>
                        <tr>
                            <td>Телефон</td>
                            <td>
                                {{ element._value.phone }}
                            </td>
                        </tr>
                        <tr>
                            <td>Регион</td>
                            <td>
                                {{ element._value.city }}
                            </td>
                        </tr>
                        <tr>
                            <td>Вид оплаты</td>
                            <td>
                                {{ element._value.current }}
                            </td>
                        </tr>
                        <tr>
                            <td>Доставка</td>
                            <td>
                                {{ element._value.delivery }}
                            </td>
                        </tr>
                        <tr>
                            <td>Город</td>
                            <td>
                                {{ element._value.ci_city }}
                            </td>
                        </tr>
                        <tr>
                            <td>Адрес</td>
                            <td>
                                {{ element._value.address }}
                            </td>
                        </tr>
                        <tr>
                            <td>Индекс</td>
                            <td>
                                {{ element._value.index }}
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>




    </div>
</div>
