<div class="row">
    <div class="span2">{{ element._label }}</div>
    <div class="span9">
        <div name="{{ element._name }}">
            {% for param in element._value %}
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Наименование</td>
                            <td>
                                <a href="{{ param.url }}">{{ param.name }}</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Артикул</td>
                            <td>
                                {{ param.code }}
                            </td>
                        </tr>
                        <tr>
                            <td>Цена</td>
                            <td>
                                {{ param.price }}
                            </td>
                        </tr>
                        <tr>
                            <td>Размер</td>
                            <td>
                                {{ param.size }}
                            </td>
                        </tr>
                        <tr>
                            <td>Цвет</td>
                            <td>
                                {{ param.color }}
                            </td>
                        </tr>
                        <tr>
                            <td>Количество</td>
                            <td>
                                {{ param.count }}
                            </td>
                        </tr>
                        <tr>
                            <td>Общая сумма</td>
                            <td>
                                {{ param.total_price }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            {% endfor %}
        </div>




    </div>
</div>
