<div class="row">
    <div class="span2">{{ element._label }}{% if element._required %} <span>*</span> {% endif %}</div>
    <div class="span9">
        <input id='link_{{ element._name }}' type="text" name="{{ element._name }}"
            class = "text-635 {% if element._errors|length %} error{% endif %} en_text"
            {% for key, attribute in element._attributes %}
                {% if( key != 'class' ) %}
                    {{ key }}="{{ attribute }}"
                {% endif %}
            {% endfor %}
            {% if element._maxlength %}maxlength="{{ element._maxlength }}" {% endif %}
            value="{{ element._value }}" title="{{ element._value }}" />

            <i class='link' title='Сгенерировать URL' data-who="{{ element._by_who }}"></i>

            {% if element._help %}
                <span class="former-help-block">{{ element._help }}</span>
            {% endif %}
    </div>
</div>
