<script type="text/javascript">
    $(document).ready(function(){
        $(document).delegate( ".former-{{ element._name }}-add", "click", function() {
            var $table = $(this).closest('table.former-{{ element._name }}-table');
            if($table.find('tr.former-{{ element._name }}-empty').size() == 1){
                $table.find('tr.former-{{ element._name }}-empty').remove();
            }

            // Get indexes
            var $parameters_row_index = $table.find('tr.former-{{ element._name }}-row:last').data('index');
            if(typeof $parameters_row_index == "undefined") {
                $parameters_row_index = 0;
            } else {
                $parameters_row_index += 1;
            }

            // Get templates
            var $parameters_row_template   = '<tr class="former-{{ element._name }}-row" data-index="'+$parameters_row_index+'">\
                    <td>\
                        <input type="text" class="text-285" value="" name="{{ element._name }}['+$parameters_row_index+'][key]">\
                    </td>\
                    <td>\
                        <input type="text" class="text-285" value="" name="{{ element._name }}['+$parameters_row_index+'][value]">\
                    </td>\
                    <td>\
                        <a href="#" class="btn btn-mini former-{{ element._name }}-remove"><i class="icon-minus-sign"></i></a>\
                    </td>\
            </tr>';

            $table.children('tbody').append($parameters_row_template);
            return false;
        });

        $(document).delegate( ".former-{{ element._name }}-remove", "click", function() {
            var $table = $(this).closest('table.former-{{ element._name }}-table');
            var $parameters_empty_template = '<tr class="former-{{ element._name }}-empty"><td colspan="3">Список пуст</td></tr>';

            $(this).closest('tr.former-{{ element._name }}-row').remove();
            if($table.find('tr.former-{{ element._name }}-row').size() == 0){
                $table.children('tbody').append($parameters_empty_template);
            }

            return false;
        });
    });
</script>

<div class="row">
    <div class="span2">{{ element._label }}{% if element._required %} <span>*</span> {% endif %}</div>
    <div class="span9">
        <table class="table table-bordered table-default former-{{ element._name }}-table">
            <thead>
                <th>Ключ</th>
                <th>Значение</th>
                <th width="30"><a href="#" class="btn btn-mini former-{{ element._name }}-add"><i class="icon-plus-sign"></i></a></th>
            </thead>

            <tbody>
                {% if element._value|length > 0 %}
                    {% for _parameter in element._value %}
                        <tr class="former-{{ element._name }}-row" data-index="{{ loop.index0 }}">
                            <td><input type="text" class="text-285" value="{{ _parameter.key }}" name="{{ element._name }}[{{ loop.index0 }}][key]"></td>
                            <td><input type="text" class="text-285" value="{{ _parameter.value }}" name="{{ element._name }}[{{ loop.index0 }}][value]"></td>
                            <td width="30"><a href="#" class="btn btn-mini former-{{ element._name }}-remove"><i class="icon-minus-sign"></i></a></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr class="former-{{ element._name }}-empty">
                        <td colspan="3">Список пуст</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>