<div class="row">
    <div class="span2">{{ element._label }}{% if element._required %} <span>*</span> {% endif %}</div>
    <div class="span9">
        {% if element._choices|length > 0 %}
            <select name="{{ element._name }}"
                class="select-700 select2 {% if element._errors|length %} error{% endif %}"
                {% for key, attribute in element._attributes %}
                    {% if( key != 'class' ) %}
                        {{ key }}="{{ attribute }}"
                    {% endif %}
                {% endfor %}>
                    <option value="0" {% if 0 == element._value %}selected="" {% endif %} data-lvl="0">---</option>
                {% for value in element._choices %}
                    {% if value.id not in element._child_list %}
                        <option value="{{ value.id }}" {% if value.id == element._value %}selected="" {% endif %}>
                            {{ value.name }}
                        </option>
                    {% endif %}
                {% endfor %}
            </select>

            {% if element._help %}
                <span class="former-help-block">{{ element._help }}</span>
            {% endif %}
        {% else %}
            На данный момент не из кого выбирать.
        {% endif %}
    </div>
</div>