<div class="row">
    <div class="span2">{{ element._label }}{% if element._required %} <span>*</span> {% endif %}</div>
    <div class="span9">
        {% if element._choices|length > 0 %}
            <ul class="group-list">
                {% for value, label in element._choices %}
                    <li>
                        <input type="radio" id="former-{{ element._name }}-{{ loop.index }}" name="{{ element._name }}" value="{{ value }}" {% if value == element._value %}checked{% endif %} {% for key, attribute in element._attributes %}{{ key }}="{{ attribute }}"{% endfor %} />
                        <label for="former-{{ element._name }}-{{ loop.index }}">{{ label }}</label>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            Опции отсутствуют
        {% endif %}
    </div>
</div>