<div class="row">
    <div class="span2">{{ element._label }}{% if element._required %} <span>*</span> {% endif %}</div>
    <div class="span9">
        <textarea name="{{ element._name }}"
                  class="text-678 {% if element._errors|length %} error{% endif %}"
        {% for key, attribute in element._attributes %}
        {% if( key != 'class' ) %}
            {{ key }}="{{ attribute }}"
        {% endif %}
        {% endfor %}>{{ element._value }}</textarea>
        {% if element._help %}
            <span class="former-help-block">{{ element._help }}</span>
        {% endif %}
    </div>
</div>