<div class="row">
    <div class="span2">{{ element._label }}{% if element._required %} <span>*</span> {% endif %}</div>
    <div class="span9">
        {% if element._choices|length > 0 %}
            <select name="{{ element._name }}"
                class="select-700 select2 {% if element._errors|length %} error{% endif %}"
                {% for key, attribute in element._attributes %}
                    {% if( key != 'class' ) %}
                        {{ key }}="{{ attribute }}"
                    {% endif %}
                {% endfor %}>
                <option value=''>---</option>
                {% for value, label in element._choices %}
                    <option value="{{ value }}" {% if value == element._value %}selected="" {% endif %}>
                        {{ label }}
                    </option>
                {% endfor %}
            </select>
            {% if element._help %}
                <span class="former-help-block">{{ element._help }}</span>
            {% endif %}
        {% else %}
            Опции отсутствуют
        {% endif %}
    </div>
</div>
