{% set act = element._value|split(',') %}

{% if act.1 != '' and act.1 is not sameas('-') %}{% set sub = act.1 %}{% else %}{% set sub = 99999999999 %}{% endif %}

<div class="row">
    <div class="span2">{{ element._label }}{% if element._required %} <span>*</span> {% endif %}</div>
    <div class="span9">
        {% if element._choices|length > 0 %}
            <select class="select-700 select2 select2lvl select_{{ element._name }}" data-el="{{ element._name }}">
                <option value='-'>---</option>
                {% for value in element._choices %}
                    <option value="{{ value.alias }}" {% if value.alias == act.0 %}selected="" {% endif %}>
                        {{ value.head }}
                    </option>
                {% endfor %}
            </select>

            {% for value in element._choices %}
                {% if value.models|length > 0 %}
                    <select class="select-700 select2 sub_select el_{{ value.alias }} sub_{{ element._name }} hidden" style="margin-top: 10px;" data-el="{{ element._name }}">
                        <option value='-'>---</option>
                        {% for key,val in value.models %}
                            <option value="{{ val.alias }}" {% if val.alias == sub %}selected="" {% endif %}>
                                {{ val.head }}
                            </option>
                        {% endfor %}
                    </select>
                {% endif %}

            {% endfor %}

            {% if element._help %}
                <span class="former-help-block">{{ element._help }}</span>
            {% endif %}
        {% else %}
            Опции отсутствуют
        {% endif %}
    </div>
</div>

<input type="hidden" name="{{ element._name }}" value="{{ element._value }}" class="input_{{ element._name }}_1lvl" />

<script>
    $('.el_{{ act.0 }}').removeClass('hidden');
</script>
