<div class="row">
    <div class="span2">{{ element._label }}{% if element._required %} <span>*</span> {% endif %}</div>
    <div class="span9">
        {% if element._value == 1 %}
            <b style="color: #0b0;">Оплачено</b>
        {% else %}
            <b style="color: #b00;">Не оплачено</b>
        {% endif %}
    </div>
</div>
