<div class="row">
    <div class="span2">{{ element._label }}</div>
    <div class="span9">
        <input type="hidden" name="{{ element._name }}" value="{{ element._value|escape }}" />

        <div class='textarea-disabled'>{{ element._value }}</div>
    </div>
</div>
