<div class="row">
    <div class="span2">{{ element._label }}{% if element._required %} <span>*</span> {% endif %}</div>
    <div class="span9">
        <input type="hidden" name = "{{ element._name }}" value="{{ element._value }}" />
        <input
            type     = "text"
            class    = "text-678"
            disabled = "disabled"
            {% if element._maxlength %}maxlength="{{ element._maxlength }}" {% endif %}
            value="{{ element._value }}" />
            {% if element._help %}
                <span class="former-help-block">{{ element._help }}</span>
            {% endif %}
    </div>
</div>
