{% if element._value %}
    <div class="row">
        <div class="span2">&nbsp;</div>
        <div class="span9">
            <video style="width: 200px;">
                <source src="{{ element._value }}" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
            </video>
            &nbsp;<input type="checkbox" name="{{ element._name }}_delete" value="1" />&nbsp;&nbsp;удалить
            <input type="hidden" name="{{ element._name }}" value="{{ element._value }}"/>
        </div>
    </div>
{% endif %}

<div class="row">
    <div class="span2">{{ element._label }}{% if element._required %} <span>*</span> {% endif %}</div>
    <div class="span9">
        <input type="text" id="imulated_{{ element._name }}" class="file_input_textbox" readonly="readonly">
        <div class="file_input_div">
            <input type="button" value="" data-id="file_imulated_{{ element._name }}" class="file_input_button" />
            <input type="file"   value="" data-id="imulated_{{ element._name }}"      class="file_input_hidden" id="file_imulated_{{ element._name }}" name="{{ element._name }}" accept="video/*" />
        </div>
    </div>
</div>
