<div class="row">
    <div class="span2">{{ element._label }}{% if element._required %} <span>*</span> {% endif %}</div>
    <div class="span9">
        <textarea name="{{ element._name }}" class="text-678"
        {% for key, attribute in element._attributes %}
        {% if( key != 'class' ) %}
            {{ key }}="{{ attribute }}"
        {% endif %}
        {% endfor %}> {{ element._value }} </textarea>

        <script type="text/javascript">
            CKEDITOR.replace("{{ element._name }}",{
                height: "{{ element._properties.height|default('250px') }}",
                width: "{{ element._properties.width|default('100%') }}",
                toolbar: "{{ element._properties.toolbar|default('Default') }}"
            });
        </script>

        {% if element._help %}
            <span class="former-help-block">{{ element._help }}</span>
        {% endif %}
    </div>
</div>
