<?php defined('SYSPATH') OR die('No direct script access.');

/**
 * Class Admin_Controller_{{ data.name_big }}.
 */
class Admin_Controller_{{ data.name_big }} extends Admin_Controller_Crud {
    public $moduleName = '{{ data.name_small }}';

    public function before() {
        parent::before();

        /** @noinspection PhpUndefinedClassInspection */
        $this->_crud_model = ORM::factory('{{ data.name_big }}');
        $this->_crud_form = Former_Form::factory('Admin_Form_{{ data.name_big }}');

        // List properties
        $this->_list_properties = array(
            'sort'   => array( 'priority' => 'ASC' ),
            'fields' => array(
                array('name' => 'head',    'label' => 'Название'),
            ),
            'custom' => array(
                'table'      => '{{ data.name_small }}',
                'sortable'   => true,
                'pagination' => true,
                'drop'       => true,
                'hide'       => true,
            ),
        );
    }
}
