<?php defined('SYSPATH') or die('No direct script access.');

class Public_Controller_{{ data.name_big }} extends Public_Controller_Abstract {
    const MODEL_NAME = '{{ data.name_big }}';
    const TEMPLATE   = '{{ data.name_big }}/Index';

    public function action_index() {

        $all_item = Widget::getModule('{{ data.name_big }}');

        $elementsCount = 5;
        // $all_{{ data.name_small }}   = Widget::get{{ data.name_big }}List();
        $count        = count($all_item);
        $pager_count  = ceil($count/$elementsCount);
        $page         = isset($_GET['pn']) ? ($_GET['pn'] - 1) : 0;
        $limitPage    = $page * $elementsCount. "," .$elementsCount;
        $itembypage   = Widget::getBigModule('{{ data.name_big }}', $limitPage);

        $this->render(self::TEMPLATE, array(
                'arraylist'   => $itembypage,
                'index'       => true,
                'pager_count' => (int)$pager_count,
                'page'        => $page,
                'table'       => '{{ data.name_small }}',
            )
        );
    }

    public function action_inner() {
        $alias = HTML::chars($this->request->param('alias'));
        $item = Widget::getItem(self::MODEL_NAME, self::TEMPLATE, array('alias', '=', $alias));
    }

}
