<?php defined('SYSPATH') OR die('No direct script access.');

/**
 * Class Admin_Form_{{ data.name_big }}.
 */
class Admin_Form_{{ data.name_big }} extends Former_Form {
    public function initElements() {

        $id = explode('/admin/{{ data.name_small }}/edit/id/', $_SERVER['REQUEST_URI']);
        $id = $id[1];

        $this->_elements += array(
            array(
                'type' => 'section',
                'label' => 'Основная информация',
                'view' => 'open'
            ),

                'head' => array(
                    'label' => 'Название',
                    'type' => 'text',
                    'required' => true,
                    'rules' => array(
                        array('not_empty'),
                    ),
                ),
                {% if data.lvl %}
                    'alias' => array(
                        'label' => 'Ссылка',
                        'type' => 'link',
                    ),
                {% endif %}
                {% if data.img %}
                    'img' => array(
                        'label' => 'Изображение',
                        'type' => 'image',
                    ),
                {% endif %}
                'body' => array(
                    'label' => 'Основной текст',
                    'type' => 'wysiwyg',
                ),

            array(
                'type'      => 'section',
                'view'      => 'close'
            ),

            {% if data.fields %}

                array(
                    'type' => 'section',
                    'label' => 'Параметры',
                    'view' => 'open'
                ),
                    {% for field in data.fields %}
                        '{{ field.name }}' => array(
                            'label' => '{{ field.title }}',
                            'type' => '{{ field.function }}',
                        ),
                    {% endfor %}
                array(
                    'type'      => 'section',
                    'view'      => 'close'
                ),

            {% endif %}

  	        array(
                'type'      => 'section',
                'label'     => 'Продвижение',
                'view'      => 'open'
                ),
                'title' => array(
                    'label'     => 'Title страницы',
                    'type'      => 'text',
                ),
                'description' => array(
                    'label'     => 'Description страницы',
                    'type'      => 'textarea',
                ),
                'keywords' => array(
                    'label'     => 'Keywords страницы',
                    'type'      => 'textarea',
                ),

                array(
                    'type'      => 'section',
                    'view'      => 'close'
                ),

        );
        parent::initElements();
    }
}
