/*********************************/
/** @noinspection PhpUndefinedClassInspection, PhpParamsInspection */
    Route::set('public_{{ data.name_small }}', $moduleManager->getConfig('{{ data.name_small }}.fullpath').'(/<alias>)',
        array(
            'alias' => '[a-zA-Z0-9_/\-]*'
        )
    )
    {% if data.lvl %}
    ->filter(
        function( $route, $params, $request) {
            if($params['alias']) {
                $params['action'] = 'inner';
            }
            return $params;
        }
    )
    {% endif %}
    ->defaults(
        array(
            'controller' => $moduleManager->getConfig('{{ data.name_small }}.controller'),
            'template'   => $moduleManager->getConfig('{{ data.name_small }}.template'),
            'action'     => 'index',
            'prefix'     => 'Public_Controller'
        )
    );
/*********************************/
#################################
#################################
