/*********************************/
'{{ data.name_small }}' => Widget::getBigModule('{{ data.name_big }}', {{ data.count|default(999999999) }}),
/*********************************/
#################################
#################################
