/*********************************/
'{{ data.name_big }}'  => array(
    'head'   => '{{ data.title }}',
    'alias'  => '{{ data.name_big }}',
    'models' => array(),
),
/*********************************/
#################################
#################################
