/*********************************/
'{{ data.name_small }}' => Widget::getModule('{{ data.name_big }}',array(), {{ data.count|default(999999999) }}),
/*********************************/
#################################
#################################
