{% extends "Layout/Main" %}

{% block meta %}
    <meta name="keywords" content="{{ vars.keywords }}" />
    <meta name="description" content="{{ vars.description }}" />
{% endblock %}

{% block title %}{{ vars.title|default('Главная') }}{% endblock %}