{% extends "Layout/Page" %}

{% block content %}
    <div class="inner__content">
    		<h1
              id="header"
              class="
                  {% if wa_admin %}wa_admin{% endif %}
                  {% if admin %} life_edit{% endif %}"
              {% if wa_admin %}
                data-id="{{ document.id }}"
                data-table="pages"
                data-field="head"
              {% endif %}>{{ document.head }}</h1>
    		<div
              id="body"
              class="
                  {% if wa_admin %}wa_admin{% endif %}
                  {% if admin %} life_edit{% endif %}"
              {% if wa_admin %}
                  data-id="{{ document.id }}"
                  data-table="pages"
                  data-field="body"
              {% endif %}>{{ document.body|unescape }}</div>
    </div>
{% endblock %}
