{% verbatim %}
<div class="module__inner">
    <div
        id="module_body"
        class="module__preview{% if wa_admin %} wa_admin{% endif %}{% if admin %} life_edit{% endif %}"
        {% if wa_admin %}
            data-id="{{ item.id }}"
            data-table="{{ table }}"
            data-field="body"
        {% endif %} >
        {{ item.body|unescape }}
    </div>
    {{ item.img }}
</div>
{% endverbatim %}
