{% verbatim %}
<div class="module__inner">
    <div
        id="module_body"
        class="module__preview{% if wa_admin %} wa_admin{% endif %}{% if admin %} life_edit{% endif %}"
        {% if wa_admin %}
            data-id="{{ item.id }}"
            data-table="{{ table }}"
            data-field="body"
        {% endif %} >
        {{ item.body|unescape }}
    </div>
    {{ item.img }}
    {% endverbatim %}
    {% for field in data.fields %}
    {% verbatim %}
        <div>
            <span class="module__title">{{ item.{% endverbatim %}{{ field.title }}{% verbatim %} }}</span>
            <span class="module__title">{{ item.{% endverbatim %}{{ field.name }}{% verbatim %}|unescape }}</span>
        </div>
    {% endverbatim %}
    {% endfor %}
    {% verbatim %}
</div>
{% endverbatim %}
