{% extends "Layout/Project" %}
{% block content %}
    <div class="main__inner">
        {% if item.block1_body %}
          <div class="about__section about-me__section">
              <div class="inner-wrapper">
                  <div
                      id="block1_title"
                      class="title title_left
                          {% if wa_admin %}wa_admin{% endif %}
                          {% if admin %} life_edit{% endif %}"
                      {% if wa_admin %}
                          data-id="{{ item.id }}"
                          data-table="{{ table }}"
                          data-field="block1_title"
                      {% endif %}>{{ item.block1_title }}</div>
                  <div class="about-section__wrap content__col">
                      <div class="about-section__text">
                          {{ item.block1_body }}
                      </div>
                      <div class="about-section__photo-wrap">
                          <div class="about-section__photo">
                              <img src="{{ item.block1_img }}" alt="" class="about-section__img">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        {% endif %}

        {% if item.block2_body %}
          <div class="slider__section">
              <div class="inner-wrapper">
                <div class="title">{{ item.block2_title }}</div>
				 <!--<div class="slider__wrap video-slider__wrap">
                    <div class="slider video-slider">

                       <div class="video-slider__item__wrap">
                            <div class="video-slider__item video-overlay">
								<video class="video-past video-1">
									<source src="{{ block2_body.1 }}" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
								</video>
                            </div>
                        </div>

                        <div class="video-slider__nav-item__wrap">
                            <div class="video-slider__nav-item video-overlay">
                                <iframe width="854" height="480" src="https://www.youtube.com/embed/5AqpjsjiaIQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
					
                    </div>
                </div>-->
              </div>
          </div>
        {% endif %}

        {% if item.block3 %}
          <div class="page-quotes__section">
              <div class="page-quotes__section-wrap">
                  <div class="inner-wrapper">
                      <div class="quotes__wrap content__col">
                          {% for block3 in item.block3 %}
                            <div class="quotes__item">
                                <div class="quotes__title">{{ block3.1 }}</div>
                                <div class="quotes__desc">
                                    {{ block3.2 }}
                                </div>
                                <div class="quotes__author">{{ block3.3 }}</div>
                            </div>
                          {% endfor %}
                      </div>
                  </div>
              </div>
          </div>
        {% endif %}

        {% if item.block4_body %}
          <div class="photogallery__section">
              <div class="inner-wrapper">
                  <div class="title">{{ item.block4_title }}</div>
                  <div class="slider__wrap photogallery-slider__wrap">
                      <div class="slider photogallery-slider">
                          <div class="photogallery-slider__item__wrap">
                              {% for pic in item.block4_body %}
                                <div class="photogallery-slider__item">
                                    <img src="{{ pic.0 }}" alt="{{ pic.1 }}" class="photogallery-slider__item-img">
                                </div>
                              {% endfor %}
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        {% endif %}

        {% if item.block5_body %}
          <div class="instagram__section">
              <div class="inner-wrapper">
                  <div class="title">{{ item.block5_title }}</div>
                  <div class="instagram__widget">
                      {% for photo in item.block5_body %}
                        <div class="instagram__item">
                          <div class="instagram__item-inner">
                            <img src="{{ photo.0 }}" alt="{{ photo.1 }}" class="instagram__img">
                          </div>
                        </div>
                      {% endfor %}
                  </div>
                  <a href="{{ item.inst }}" class="btn btn_border btn_rectangle btn_center btn_border_ondark" target="_blank" rel="nofollow noopener noreferrer">Больше фото в Инстаграм</a>
              </div>
          </div>
        {% endif %}

        <div class="contact__section">
            <div class="inner-wrapper">
                <div class="title title_lowercase">Узнайте больше о проекте!</div>
                {% if item.block6_link_name %}
                  <a href="{{ item.link }}" class="btn btn_border btn_rectangle btn_center btn_border_ondark" target="_blank" rel="nofollow noopener noreferrer">
                    {{ item.block6_link_name }}
                  </a>
                {% endif %}
                <div class="social content__col">
                    {% if item.vk %}
                      <a href="{{ item.vk }}" class="social__link">
                          <svg class="icon">
                              <use xlink:href="#vk__icon" />
                          </svg>
                      </a>
                    {% endif %}
                    {% if item.inst %}
                      <a href="{{ item.inst }}" class="social__link">
                          <svg class="icon">
                              <use xlink:href="#inst__icon" />
                          </svg>
                      </a>
                    {% endif %}
                    {% if item.youtube %}
                      <a href="{{ item.youtube }}" class="social__link">
                          <svg class="icon">
                              <use xlink:href="#youtube__icon" />
                          </svg>
                      </a>
                    {% endif %}
                    {% if item.fb %}
                      <a href="{{ item.fb }}" class="social__link">
                          <svg class="icon">
                              <use xlink:href="#fb__icon" />
                          </svg>
                      </a>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>

<style>
.contact__section .social__link:hover .icon {
  fill: {{ item.social_hover }};
}
.contact__section .social__link .icon {
  fill: {{ item.social_color }};
}
.contact__section {
	background: url({{ item.block6_bg }}) no-repeat center center;
	background-size: cover;
}
.slick-dots li button {
    background-color: {{ item.block4_btn_color }};
}
.slick-dots li.slick-active button,
.slick-dots li button:hover {
    background-color:{{ item.block4_btn_hover }};
}
.gallery-slider__arrow,
.gallery-slider__arrow::before {
    border-color: {{ item.block4_btn_color }};
}
.gallery-slider__arrow:hover,
.gallery-slider__arrow:hover::before {
    border-color: {{ item.block4_btn_hover }};
}

.about-me__section {
    background-image: url('{{ item.block1_bg }}');
}
.slider__section {
    background-image: url('{{ item.block2_bg }}');
}
.page-quotes__section {
    background-image: url('{{ item.block3_bg }}');
}
.photogallery__section {
    background-image: url('{{ item.block4_bg }}');
}
</style>
{% endblock %}
