/* Reset */
div#kohana-debug-toolbar,
div#kohana-debug-toolbar div,
div#kohana-debug-toolbar span,
div#kohana-debug-toolbar pre,
div#kohana-debug-toolbar h1,
div#kohana-debug-toolbar img,
div#kohana-debug-toolbar a,
div#kohana-debug-toolbar ul,
div#kohana-debug-toolbar li,
div#kohana-debug-toolbar table,
div#kohana-debug-toolbar tr,
div#kohana-debug-toolbar td,
div#kohana-debug-toolbar th {
	width: auto;
	height: auto;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: middle;
	background: transparent;
	line-height: 1;
	text-transform: none;
	font-size:100%;
    border-radius: 0;
}
div#kohana-debug-toolbar table {
	border-collapse: collapse;
	border-spacing: 0;
    border: 1px solid #333;
}
div#kohana-debug-toolbar :focus { outline: 0; }
div#kohana-debug-toolbar ul {
	list-style:none;
}

/* Global */
div#kohana-debug-toolbar {
	font-family: Arial, sans-serif;
	font-size: 12px;
	color: #333;
	text-align: left;
	line-height: 12px;
    min-width: 980px;
}
div#kohana-debug-toolbar h1 {
  font-size: 16px;
  font-weight: bold;
	margin-top: 30px;
  margin-bottom: 10px;
  padding:0px 5px;
  border: 0px;
    color: #fff;
	display:block;
    position: relative;
}
div#kohana-debug-toolbar a,
div#kohana-debug-toolbar a:hover {
  text-decoration: none;
  color: #fff;
}
div#kohana-debug-toolbar pre { line-height: 1.3 }
div#kohana-debug-toolbar .top {
	position: absolute;
	left: 0px;
    width: 100%;
	z-index: 9999;
	border-bottom: 1px solid #aaa;
	background-color: #111;
	padding: 10px;
}

/* Tables */
div#kohana-debug-toolbar table {
  padding: 3px;
  font-size: 11px;
	border: 1px solid #333;
	width: 99%;
	margin:0px 5px;
	font-family: monospace;
}
div#kohana-debug-toolbar td {
  padding: 3px 3px;
  vertical-align: top;
	background-color: #111;
    color: #fff;
}
div#kohana-debug-toolbar tr.odd td {
	background-color: #111;
}

div#kohana-debug-toolbar tr.current td {
    background-color: #46a546;
    border: 1px solid #46a546;
}

div#kohana-debug-toolbar th {
	padding: 3px 5px;
	vertical-align: top;
	background-color: #111;
	color: #eee;
	white-space: nowrap;
}
div#kohana-debug-toolbar td,
div#kohana-debug-toolbar th {
	border: 1px solid #333;
}

/* Toolbar */
div#kohana-debug-toolbar div#debug-toolbar {
	position: relative;
	padding: 0 0 3px 0;
	top: 0px;
    filter: alpha(opacity:80);
    white-space: nowrap;
	line-height: 16px;
	background-color: #111;
    width: 100%;
}
div#kohana-debug-toolbar div#debug-toolbar.debug-toolbar-align-center { left: auto; right: auto; }
div#kohana-debug-toolbar div#debug-toolbar.debug-toolbar-align-right { right: 0;
    text-align: right;
}
div#kohana-debug-toolbar div#debug-toolbar.debug-toolbar-align-left { left: 0; }
div#kohana-debug-toolbar div#debug-toolbar img { vertical-align: middle; }
div#kohana-debug-toolbar div#debug-toolbar ul.menu {
	padding: 5px;
	display: inline;
}
div#kohana-debug-toolbar div#debug-toolbar ul.menu li {
	display: inline;
  list-style: none;
  padding: 0 5px;
  border-right: 1px solid #666;
	cursor: pointer;
	line-height: 16px;
    color: #fff;
}
div#kohana-debug-toolbar div#debug-toolbar ul.menu li.last {
	border: none;
}

/* Benchmarks */
div#kohana-debug-toolbar div#debug-benchmarks { padding: 3px 0px; }

/* SQL queries */
div#kohana-debug-toolbar div#debug-database { padding: 3px 0px; }

/* Vars & Config */
div#kohana-debug-toolbar div#debug-vars {
	padding: 3px 0px;
}
div#kohana-debug-toolbar div#debug-vars pre {
	background-color: #1B2329;
	padding: 5px;
	color: #fff;
    -moz-border-right-colors: nne;
    -moz-border-top-colors: none;
    border: 1px solid #333;
    border-top: 1px solid #333;
}
div#kohana-debug-toolbar div#debug-vars .varmenu {
  margin: 20px 0 0 0;
	height: 23px;
}
div#kohana-debug-toolbar div#debug-vars .varmenu li {
	float: left;
	display: block;
	padding: 5px;
	margin: 0 6px 0 0;
	border-top: 1px solid #333;
	border-left: 1px solid #333;
	border-right: 1px solid #333;
	cursor:  pointer;
    color: #fff;
}
div#kohana-debug-toolbar div#debug-vars .varmenu li.active {
	background-color: #eee;
	color: #000;
}
div#kohana-debug-toolbar div#debug-vars .configmenu { background-color: #ddd; }
div#kohana-debug-toolbar div#debug-vars .configmenu li {
	display: block;
	padding: 5px;
	cursor: pointer;
}
div#kohana-debug-toolbar div#debug-vars .configmenu li.odd { background-color: #eee; }
div#kohana-debug-toolbar div#debug-vars .configmenu li.even { background-color: #fff; }
div#kohana-debug-toolbar div#debug-vars .configmenu li.odd pre { background-color: #eee; }
div#kohana-debug-toolbar div#debug-vars .configmenu li.even pre { background-color: #fff; }
div#kohana-debug-toolbar div#debug-vars .configmenu li:hover.odd { background-color: #ddd; }
div#kohana-debug-toolbar div#debug-vars .configmenu li:hover.even { background-color: #ddd; }
div#kohana-debug-toolbar div#debug-vars .configmenu li:hover.odd pre { background-color: #ddd; }
div#kohana-debug-toolbar div#debug-vars .configmenu li:hover.even pre { background-color: #ddd; }

/* Logs & Msgs */
div#kohana-debug-toolbar div#debug-log {
	padding: 3px 0px;
	font-size: 11px;
}

/* Ajax */
div#kohana-debug-toolbar div#debug-ajax {
	padding: 3px 0px;
	font-size: 11px;
}

/* Custom data */
div#kohana-debug-toolbar div#debug-customs {
	padding: 3px 0px;
}
div#kohana-debug-toolbar div#debug-customs pre {
	background-color: #ddd;
	padding: 5px;
	color: #333;
}
div#kohana-debug-toolbar div#debug-customs .sectionmenu {
  margin: 20px 0 0 0;
	height: 23px;
}
div#kohana-debug-toolbar div#debug-customs .sectionmenu li {
	float: left;
	display: block;
	padding: 5px;
	margin: 0 6px 0 0;
	border-top: 1px solid #999;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	cursor:  pointer;
}
div#kohana-debug-toolbar div#debug-customs .sectionmenu li.active {
	background-color: #ddd;
	color: #000;
}