{% extends "Layout/Page" %}

{% block content %}
		<div class="error-page inner__content">
				<h1
	            id="id_404"
	            class="error-page__title
	                {% if wa_admin %} wa_admin{% endif %}
	                {% if admin %} life_edit{% endif %}"
	            {% if admin %}
	                data-to="text"
	                data-id="{{ document.id }}"
	                data-table="pages"
	                data-field="head"
	            {% endif %}>{{ document.head }}</h1>
				<div
	            id="text_404"
	            class="error-page__desc
	                {% if wa_admin %} wa_admin{% endif %}
	                {% if admin %} life_edit{% endif %}"
	            {% if admin %}
	                data-id="{{ document.id }}"
	                data-table="pages"
	                data-field="body"
	            {% endif %}>{{ document.body }}</div>
		</div>
{% endblock %}
