{% if     data.tmpl == 1 %}
    {% include 'Admin/Creator/Tmpl/MineModule/Tmpl1/Index' %}
{% elseif data.tmpl == 2 %}
    {% include 'Admin/Creator/Tmpl/MineModule/Tmpl2/Index' %}
{% elseif data.tmpl == 3 %}
    {% include 'Admin/Creator/Tmpl/MineModule/Tmpl3/Index' %}
{% elseif data.tmpl == 4 %}
    {% include 'Admin/Creator/Tmpl/MineModule/Tmpl4/Index' %}
{% elseif data.tmpl == 5 %}
    {% include 'Admin/Creator/Tmpl/MineModule/Tmpl5/Index' %}
{% endif %}
