{% verbatim %}
{% extends "Layout/Page" %}

{% block content %}
{% endverbatim %}
    {% if data.lvl %}
        {% include 'Admin/Creator/Tmpl/Module/Lvl' %}
    {% else %}
        {% include 'Admin/Creator/Tmpl/Module/NoLvl' %}
    {% endif %}
{% verbatim %}
{% endblock %}
{% endverbatim %}
