{% extends "Admin/Crud/Edit" %}

{% block title %}Администрирование | Выбор цвета сайта{% endblock %}

{% block form %}

<style media="screen">




    .test_title {
        text-decoration: none;
        font-weight: bold;
        font-size: 1.25rem;
        margin: 0 0 1.25rem;
    }
    .test_btn {
        -webkit-border-radius: 0.3125rem;
        -moz-border-radius: 0.3125rem;
        -ms-border-radius: 0.3125rem;
        border-radius: 0.3125rem;
        border: 0;
        outline: 0;
        line-height: 1;
        padding: 0.625rem 1.25rem;
        cursor: pointer;
        display: inline-block;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        color: #fff;
    }
</style>






    <div id="colorpicker">
        <input type="color" name="color" v-model="color">

        <hr>


        <span class="test_title" :style="'color:'+color">Мини Заголовок</span><br />
        <a href="javascript:;" :style="'color:'+color+'; font-size: 14px;'">Ссылка</a><br />
        <input
            :style="'background-color:'+color"
            type="submit"
            value="Кнопка"
            class="test_btn"
            onclick="return false"
        >
<hr>



        </div>
    </div>
<hr>
<script>
    new Vue({
        delimiters: ['[[', ']]'],
        el: '#colorpicker',
        data: {
            color: '{{ data.color }}',
        }
    });
</script>


{% endblock %}
