a:hover,
a:active,
a.active,
.breadcrumbs a:hover,
.breadcrumbs span,
.breadcrumbs span,
.news__title,
input[type="checkbox"]:checked+.filtr_label .filtr_label_title,
input[type="checkbox"]+.filtr_label .filtr_label_title:hover {
    color: {{ color }};
}

.icon {
    fill: {{ color }};
}


.input__check input:checked:after,
.input__radio input:checked:after {
    border-left: 3px solid {{ color }};
    border-bottom: 3px solid {{ color }};
}

.inner__content thead,
.btn,
.input__radio input:checked:after,
.social__link:hover,
.reviews__rating,
.page.current {
    background-color: {{ color }};
}

.form__item select[multiple]:focus option:checked {
    background: {{ color }} linear-gradient(0deg, {{ color }} 0%, {{ color }} 100%);
}

.agreement__label:after,
.input__radio input:checked:after {
    border-color: {{ color }};
}

.social__link {
    border: 2px solid {{ color }};
}


.team__item:hover .team__img,
.page {
    border: 1px solid {{ color }};
}

.owl-nav button:before {
    border-top: 3px solid {{ color }};
    border-left: 3px solid {{ color }};
}

.owl-dot:hover, .owl-dot.active {
    background: {{ color }};
}

.page:hover {
    outline: 1px solid {{ color }};
}
