{% verbatim %}
<div class="mainmodule section">
    <div class="wrapper">
        <div
            id="module_head_{{ params.id }}"
            class="title {% if wa_admin %} wa_admin{% endif %}{% if admin %} life_edit{% endif %}"
            {% if wa_admin %}
                data-id="{{ params.id }}"
                data-table="modules"
                data-field="head"
            {% endif %}>{{ params.head }}</div>
        <div
            id="module_body_{{ params.id }}"
            class="section__desc {% if wa_admin %} wa_admin{% endif %}{% if admin %} life_edit{% endif %}"
            {% if wa_admin %}
                data-id="{{ params.id }}"
                data-table="modules"
                data-field="body"
            {% endif %}>
            {{ params.body }}
        </div>

        <div class="mainmodule__slider">
            <div class="slider">
                <div class="slider__list mainmodule__list">
                    {% for item in {% endverbatim %}{{ data.name_small }}{% verbatim %} %}

                        {% endverbatim %}
                        {% if data.lvl %}
                            {% if data.img %}
                                {% include 'Admin/Creator/Tmpl/MineModule/Tmpl2/LvlImg' %}
                            {% else %}
                                {% include 'Admin/Creator/Tmpl/MineModule/Tmpl2/Lvl' %}
                            {% endif %}
                        {% else %}
                            {% if data.img %}
                                {% if data.fields %}
                                    {% include 'Admin/Creator/Tmpl/MineModule/Tmpl2/NoLvlImgParam' %}
                                {% else %}
                                    {% include 'Admin/Creator/Tmpl/MineModule/Tmpl2/NoLvlImg' %}
                                {% endif %}
                            {% else %}
                                {% if data.fields %}
                                    {% include 'Admin/Creator/Tmpl/MineModule/Tmpl2/NoLvlParam' %}
                                {% else %}
                                    {% include 'Admin/Creator/Tmpl/MineModule/Tmpl2/NoLvl' %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        {% verbatim %}

                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
</div>
{% endverbatim %}
