{% verbatim %}
<div class="slider__item mainmodule__item">
    <div class="mainmodule__content">
        <span   id="module__title_{{ item.id }}"
                class="mainmodule__title{% if wa_admin %} wa_admin{% endif %}{% if admin %} life_edit{% endif %}"
                {% if wa_admin %}
                    data-id="{{ item.id }}"
                    data-table="{{ table }}"
                    data-field="head"
                {% endif %}>{{ item.head }}</span>
    </div>
</div>
{% endverbatim %}
