{% if breadcrumb|length > 0 %}
    <a href="/">Главная</a>
    {% for _breadcrumb_item in breadcrumb %}
        {% if loop.last %}
            <span>{{ _breadcrumb_item.label }}</span>
        {% else %}
            <a href="{{ _breadcrumb_item.url }}">{{ _breadcrumb_item.label }}</a>
        {% endif %}
    {% endfor %}
{% endif %}
