<footer class="footer footer_sticky">
	<div class="wrapper footer__wrap content__col">
		<div class="copyright">
			2019, Иван Зубарев
		</div>
		<div class="privacy">
			<a href="/politika-konfidencialnosti" class="privacy__link" target="_blank" rel="noopener noreferrer">Политика конфиденциальности</a>
			<a href="/polzovatelskoe-soglashenie" class="privacy__link" target="_blank" rel="noopener noreferrer">Пользовательское соглашение</a>
		</div>
		<div class="wa">
			<a href="http://www.web-ar.ru/" class="wa__link" target="_blank" rel="nofollow noopener noreferrer">Создание сайта - WA</a>
		</div>
	</div>
	{{ vars.script_footer }}
</footer>

<!-------------modal------------->
<div class="modal__overlay"></div>
<div id="consult" class="modal">{% include 'Feedback/Form_consult' %}</div>
<div id="event" class="modal">{% include 'Feedback/Form_event' %}</div>
<div id="callme" class="modal">{% include 'Feedback/Form_callme' %}</div>
<div class="progress-bar">
	<div class="progress-bar-input_wrap">
		<input type="text" class="dial" readonly="readonly">
	</div>
	<a href="javascript:void(0);" class="btn-top">▲</a>
</div>
<link rel="stylesheet"    href="{{ css }}/jquery-ui-timepicker-addon.css">
<link rel="stylesheet"    href="{{ css }}/jquery-ui/all.css">

{% include 'Block/Scripts' %}

{% include 'LifeEdit/Menu' %}
