<header class="header">
  <div class="wrapper header__wrap content__col">
    <div class="header-logo">
      <a href="/" class="logo__link">
        <img src="{{ vars.logo }}" alt="" class="logo__img">
      </a>
    </div>

    <div class="nav-toggle">
      <div class="nav-toggle__part nav-toggle__part_top"></div>
      <div class="nav-toggle__part nav-toggle__part_middle"></div>
      <div class="nav-toggle__part nav-toggle__part_bottom"></div>
    </div>

  </div>
</header>
<div class="nav__overlay">
  <div class="wrapper">
    <div class="nav content__col">
      <div class="about nav_left">
        <div class="about__name">{{ vars.sitename }}</div>
        <div class="about__post">{{ vars.main_head }}</div>
      </div>
      <div class="nav_right">
        {% include 'Menu/Menu' %}
        <div class="nav_contacts">
          <div class="social content__col">
            <a href="{{ vars.link_vk }}" class="social__link" target="_blank" rel="nofollow noopener noreferrer">
              <svg class="icon">
                <use xlink:href="#vk__icon" />
              </svg>
            </a>
            <a href="{{ vars.link_inst }}" class="social__link" target="_blank" rel="nofollow noopener noreferrer">
              <svg class="icon">
                <use xlink:href="#inst__icon" />
              </svg>
            </a>
            <a href="{{ vars.link_yb }}" class="social__link" target="_blank" rel="nofollow noopener noreferrer">
              <svg class="icon">
                <use xlink:href="#youtube__icon" />
              </svg>
            </a>
            <a href="{{ vars.link_fb }}" class="social__link" target="_blank" rel="nofollow noopener noreferrer">
              <svg class="icon">
                <use xlink:href="#fb__icon" />
              </svg>
            </a>
          </div>
          <div class="contact-links">
            <div class="contact-links__title">По вопросам сотрудничества звоните по номеру</div>
            <a href="tel:{{ vars.phone|replace({' ': '', '-': '', '(': '', ')': ''}) }}" class="contact-links__phone">{{ vars.phone }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
