<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache">

        {% if document.title %}
            {% set meta = { 'title' : document.title|default(document.head) ,  "keywords" : document.keywords, "description" : document.description  } %}
        {% endif %}
        {% if item.title %}
            {% set meta = { 'title' : item.title ,  "keywords" : item.keywords, "description" : item.description  } %}
        {% endif %}
        {% if not item.title and not document.title %}
            {% set meta = { 'title' : vars.title ,  "keywords" : vars.keywords, "description" : vars.description  } %}
        {% endif %}

        {% block title %}
            <title>{{ vars.prefix }}{{ meta.title }}{{ vars.postfix }}</title>
        {% endblock %}
        {% block meta %}
            <meta name="keywords" content="{{ meta.keywords }}" />
            <meta name="description" content="{{ meta.description }}" />
        {% endblock %}

    <link rel="shortcut icon" href="{{ vars.favicon }}" type="image/x-icon">
    <link rel="stylesheet"    href="{{ css }}/slick.css" async="async">
    <link rel="stylesheet" 	  href="{{ css }}/jquery.custom-select.min.css" async="async">
    <!--<link rel="stylesheet"    href="{{ css }}/owl.carousel.min.css">-->
    <!--<link rel="stylesheet"    href="{{ css }}/style.min.css">-->
    <link rel="stylesheet"    href="{{ css }}/style.css"  async="async">
	
    <link rel="stylesheet"    href="{{ css }}/select2.css" type="text/css"/>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ vars.script_head }}
</head>
<body>
	<div class="svg__icon" style="display:none;">
		{% include 'Block/SVG' %}
	</div>