{% if pager_count > 1 %}
    {% if get %}{% set s = '&' %}{% else %}{% set s = '?' %}{% endif %}
    <div class="pagination">
        {% if page != 0 %}
            <a class="pagination-item pagination-prev" href="{{get}}{{s}}pn={{page}}"></a>
        {% endif %}
        {% for pn in 1.. pager_count %}
            {% if pn == (page + 1) %}
                <a class="pagination-item pagination-item-active" href="{{get}}{{s}}pn={{pn}}">{{pn}}</a>
            {% else %}
                <a class="pagination-item" href="{{get}}{{s}}pn={{pn}}">{{pn}}</a>
            {% endif %}
        {% endfor %}
        {% if page != pager_count - 1  %}
            <a class="pagination-item pagination-next" href="{{get}}{{s}}pn={{page+2}}"></a>
        {% endif %}
    </div>
{% endif %}
