<script src="{{ js }}/jquery-3.3.1.min.js"></script>
<script src="{{ js }}/jquery-ui.js"></script>
<script src="{{ js }}/jquery-ui-timepicker-addon.js"></script>
<script src="{{ js }}/jquery.custom-select.min.js"></script>
<script src="{{ js }}/slick.min.js"></script>
<!--<script src="{{ js }}/owl.carousel.min.js"></script>-->
<script src="{{ js }}/sliders.js"></script>
<script src="{{ js }}/feedback.js"></script>
<script src="{{ js }}/sourse/scripts.js"></script>
<script src="{{ js }}/knob.js"></script>
<!-- <script src="{{ js }}/scripts.min.js"></script> -->
<script src="{{ js }}/custom.js"></script>
<script src="{{ js }}/select2.min.js"></script>
<script src="{{ js }}/vue_min.js"></script>
<script src="{{ js }}/lodash.min.js"></script>
<script src="{{ js }}/TweenMax.min.js"></script>
<script src="{{ js }}/catalog.js"></script>
