<!--<section class="section footer-form-section">
    <div class="wrapper">
        <div class="footer-form-title">хотите первыми узнавать о новых книгах?</div>
        <div class="footer-form-desc">
            Выбираем лучшее из новых книг и отправляем вам 1 раз в неделю.
            <span>В первом письме дарим сразу два подарка!</span>
        </div>
        <form action="" class="footer-form">
            <label for="footer-form-email" class="label-email">Электронная почта:</label>
            <input id="footer-form-email" type="email" class="footer-form-mail" placeholder="например, rubyheart@gmail.com" data-pls="например, rubyheart@gmail.com">
            <input type="submit" class="footer-form-btn form-btn" value="подписаться">
            <div class="footer-form-policy">
                <input type="checkbox" class="policy-checkbox" id="policy" checked  data-btn="footer-form-btn">
                <label for="policy">
                    Вы согласны с <a href="/politika-konfidencialnosti" target="_blank">политикой конфиденциальности</a> и <a href="/polzovatelskoe-soglashenie" target="_blank">пользовательским соглашением</a>
                </label>
            </div>
        </form>
    </div>
</section>-->
{{ vars.subscribe }}
