<svg xmlns="http://www.w3.org/2000/svg">
	<symbol id="vk-ico" viewBox="0 0 17 10">
		<path d="M9.06,9.57a.83.83,0,0,0,.45-.2.75.75,0,0,0,.13-.44s0-1.35.6-1.55,1.38,1.31,2.21,1.88a1.54,1.54,0,0,0,1.1.34l2.2,0s1.15-.07.61-1a7.51,7.51,0,0,0-1.64-1.94c-1.38-1.31-1.2-1.1.47-3.36,1-1.38,1.42-2.22,1.29-2.58s-.87-.25-.87-.25l-2.48,0a.55.55,0,0,0-.32.06.71.71,0,0,0-.22.27,14.8,14.8,0,0,1-.92,2c-1.11,1.92-1.55,2-1.73,1.9C9.53,4.38,9.63,3.55,9.63,3c0-1.86.28-2.63-.54-2.83A4.16,4.16,0,0,0,7.94,0,5.26,5.26,0,0,0,5.88.22c-.28.14-.5.46-.37.47a1.1,1.1,0,0,1,.73.38,2.49,2.49,0,0,1,.25,1.15s.15,2.19-.34,2.46c-.33.19-.79-.19-1.78-1.93A16.31,16.31,0,0,1,3.48.86.75.75,0,0,0,3.28.58,1,1,0,0,0,2.9.42L.54.44S.18.45.05.61,0,1,0,1A27.53,27.53,0,0,0,4,7.67a5.6,5.6,0,0,0,4.09,1.9Z"/>
	</symbol>
	<symbol id="inst-ico" viewBox="0 0 15 15">
		<path d="M14,2.48a3.7,3.7,0,0,0-.82-1.29A3.41,3.41,0,0,0,11.87.37,5,5,0,0,0,10.13,0c-.76,0-1,0-3,0S5,0,4.21,0A5,5,0,0,0,2.47.37a3.67,3.67,0,0,0-1.28.83A3.44,3.44,0,0,0,.37,2.48,5.06,5.06,0,0,0,0,4.23c0,.77,0,1,0,3s0,2.21,0,3a5.06,5.06,0,0,0,.34,1.75,3.7,3.7,0,0,0,.82,1.29A3.42,3.42,0,0,0,2.47,14a5,5,0,0,0,1.74.34c.76,0,1,0,3,0s2.2,0,3,0A5,5,0,0,0,11.87,14a3.67,3.67,0,0,0,1.28-.83A3.44,3.44,0,0,0,14,11.93a5.06,5.06,0,0,0,.34-1.75c0-.77,0-1,0-3s0-2.21,0-3A5.06,5.06,0,0,0,14,2.48ZM13,10.12a4.39,4.39,0,0,1-.24,1.35,1.88,1.88,0,0,1-.55.83,2.6,2.6,0,0,1-.82.55,4.13,4.13,0,0,1-1.34.25c-.76,0-1,0-2.9,0s-2.14,0-2.9,0a4.33,4.33,0,0,1-1.34-.25,1.87,1.87,0,0,1-.82-.55,2.61,2.61,0,0,1-.55-.83,4.19,4.19,0,0,1-.24-1.35c0-.77,0-1,0-2.91s0-2.15,0-2.91a4.39,4.39,0,0,1,.24-1.35,1.88,1.88,0,0,1,.55-.83,2.6,2.6,0,0,1,.82-.55,4.13,4.13,0,0,1,1.34-.25c.76,0,1,0,2.9,0s2.14,0,2.9,0a4.33,4.33,0,0,1,1.34.25,1.87,1.87,0,0,1,.82.55,2.61,2.61,0,0,1,.55.83A4.19,4.19,0,0,1,13,4.29c0,.77,0,1,0,2.91S13.05,9.35,13,10.12Z"/><path d="M7.17,3.5a3.71,3.71,0,1,0,3.69,3.71A3.69,3.69,0,0,0,7.17,3.5Zm0,6.13A2.39,2.39,0,1,1,9.55,7.24,2.39,2.39,0,0,1,7.17,9.63Z"/><path d="M11,4.23a.86.86,0,1,0-.85-.86A.86.86,0,0,0,11,4.23Z"/>
	</symbol>
	<symbol id="fb-ico" viewBox="0 0 8 16">
		<path d="M1.65,3.1V5.24H0V8H1.65v8H4.82v-8H7l.24-2.7H4.82V3.68c0-.64.12-.89.73-.89H7.29V0H5.09C2.71,0,1.65,1.07,1.65,3.1Z"/>
	</symbol>
	<symbol id="loupe-ico" viewBox="0 0 32 32">
		<path d="M24,23.543l-4.356-4.356c0.875-1.168,1.399-2.614,1.399-4.186c0-3.866-3.134-7-7-7s-7,3.134-7,7s3.134,7,7,7   c1.572,0,3.018-0.525,4.186-1.399l4.356,4.356L24,23.543z M9.043,15c0-2.757,2.243-5,5-5c2.757,0,5,2.243,5,5c0,2.757-2.243,5-5,5   C11.286,20,9.043,17.757,9.043,15z"/>
	</symbol>
	<!-- <symbol id="calendar__icon" viewBox="0 0 48 48">
		<path d="M38,4V0h-4v4H14V0h-4v4H0v11.9v4V48h48V19.9v-4V4H38z M44,44H4V19.9h40V44z M4,15.9V8h6v4h4V8h20v4h4V8h6v7.9H4z"/><rect height="6" width="6" x="7.5" y="24"/><rect height="6" width="6" x="16.667" y="24"/><rect height="6" width="6" x="25.583" y="24"/><rect height="6" width="6" x="34.5" y="24"/><rect height="6" width="6" x="7.5" y="33"/><rect height="6" width="6" x="16.667" y="33"/><rect height="6" width="6" x="25.583" y="33"/><rect height="6" width="6" x="34.5" y="33"/>
	</symbol> -->
	<symbol id="time__icon" viewBox="0 0 48 48">
		<path d="M24,0C10.745,0,0,10.746,0,24c0,13.255,10.745,24,24,24s24-10.745,24-24C48,10.746,37.255,0,24,0z M24,44   C12.954,44,4,35.046,4,24S12.954,4,24,4s20,8.954,20,20S35.046,44,24,44z"/><rect height="3" width="3" x="22.5" y="7"/><rect height="3" width="3" x="7" y="22.5"/><rect height="3" transform="matrix(0.707 0.7072 -0.7072 0.707 19.43 -20.9842)" width="3" x="33.541" y="11.458"/><rect height="3" transform="matrix(-0.7069 -0.7073 0.7073 -0.7069 -2.2715 68.8157)" width="3" x="11.621" y="33.379"/><rect height="3" transform="matrix(0.7071 0.7071 -0.7071 0.7071 13.0402 -5.4013)" width="3" x="11.54" y="11.54"/><rect height="3" transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 34.9596 84.4016)" width="3" x="33.46" y="33.46"/><polygon points="38,22.5 22.5,22.5 22.5,24 22.5,25.5 22.5,38 22.5,41 25.5,41 25.5,38 25.5,25.5 38,25.5 41,25.5 41,22.5  "/>
	</symbol>
	<symbol id="calendar-time__icon" viewBox="0 0 48 48">
		<path d="M25.691,47.992C25.794,47.993,25.896,48,26,48s0.206-0.007,0.309-0.008H25.691z"/><g><rect height="6" width="6" x="7.5" y="24"/><rect height="6" width="6" x="16.667" y="24"/><rect height="6" width="6" x="7.5" y="33"/><rect height="6" width="6" x="16.667" y="33"/><polygon points="14,0 10,0 10,4 0,4 0,15.9 0,19.9 0,48 22.667,48 22.667,44 4,44 4,19.9 22.667,19.9 22.667,15.9 4,15.9 4,8 10,8    10,12 14,12 14,8 22.667,8 22.667,4 14,4  "/><path d="M25.98,4h0.039C26.013,4,26.007,4,26,4S25.987,4,25.98,4z"/><path d="M26.502,4.012v4.013C36.209,8.293,44,16.228,44,26c0,9.771-7.791,17.706-17.498,17.975v4.013C38.42,47.72,48,37.982,48,26   S38.42,4.28,26.502,4.012z"/><polygon points="40,28 40,24 30.501,24 30.501,12.083 26.502,12.083 26.502,24 26.502,28 30.501,28  "/>
	</symbol>

	<!----->
	<symbol id="fb__icon" viewBox="0 0 456 456">
		<path d="M0,0v455.73h242.704V279.691h-59.33v-71.864h59.33v-60.353c0-43.893,35.582-79.475,79.475-79.475h62.025v64.622h-44.382
		c-13.947,0-25.254,11.307-25.254,25.254v49.953h68.521l-9.47,71.864h-59.051V455.73H455.73V0H0z"/>
	</symbol>
	<symbol id="inst__icon" viewBox="0 0 456 456">
		<path d="M227.86,182.55c-24.98,0-45.32,20.33-45.32,45.31c0,24.99,20.34,45.33,45.32,45.33c24.99,0,45.32-20.34,45.32-45.33
		C273.18,202.88,252.85,182.55,227.86,182.55z M227.86,182.55c-24.98,0-45.32,20.33-45.32,45.31c0,24.99,20.34,45.33,45.32,45.33
		c24.99,0,45.32-20.34,45.32-45.33C273.18,202.88,252.85,182.55,227.86,182.55z M303.36,108.66H152.37
		c-24.1,0-43.71,19.61-43.71,43.71v150.99c0,24.1,19.61,43.71,43.71,43.71h150.99c24.1,0,43.71-19.61,43.71-43.71V152.37
		C347.07,128.27,327.46,108.66,303.36,108.66z M227.86,306.35c-43.27,0-78.48-35.21-78.48-78.49c0-43.27,35.21-78.48,78.48-78.48
		c43.28,0,78.49,35.21,78.49,78.48C306.35,271.14,271.14,306.35,227.86,306.35z M308.87,165.61c-10.24,0-18.57-8.33-18.57-18.57
		s8.33-18.57,18.57-18.57s18.57,8.33,18.57,18.57S319.11,165.61,308.87,165.61z M227.86,182.55c-24.98,0-45.32,20.33-45.32,45.31
		c0,24.99,20.34,45.33,45.32,45.33c24.99,0,45.32-20.34,45.32-45.33C273.18,202.88,252.85,182.55,227.86,182.55z M303.36,108.66
		H152.37c-24.1,0-43.71,19.61-43.71,43.71v150.99c0,24.1,19.61,43.71,43.71,43.71h150.99c24.1,0,43.71-19.61,43.71-43.71V152.37
		C347.07,128.27,327.46,108.66,303.36,108.66z M227.86,306.35c-43.27,0-78.48-35.21-78.48-78.49c0-43.27,35.21-78.48,78.48-78.48
		c43.28,0,78.49,35.21,78.49,78.48C306.35,271.14,271.14,306.35,227.86,306.35z M308.87,165.61c-10.24,0-18.57-8.33-18.57-18.57
		s8.33-18.57,18.57-18.57s18.57,8.33,18.57,18.57S319.11,165.61,308.87,165.61z M227.86,182.55c-24.98,0-45.32,20.33-45.32,45.31
		c0,24.99,20.34,45.33,45.32,45.33c24.99,0,45.32-20.34,45.32-45.33C273.18,202.88,252.85,182.55,227.86,182.55z M0,0v455.73h455.73
		V0H0z M380.23,303.36c0,42.39-34.48,76.87-76.87,76.87H152.37c-42.39,0-76.87-34.48-76.87-76.87V152.37
		c0-42.39,34.48-76.87,76.87-76.87h150.99c42.39,0,76.87,34.48,76.87,76.87V303.36z M303.36,108.66H152.37
		c-24.1,0-43.71,19.61-43.71,43.71v150.99c0,24.1,19.61,43.71,43.71,43.71h150.99c24.1,0,43.71-19.61,43.71-43.71V152.37
		C347.07,128.27,327.46,108.66,303.36,108.66z M227.86,306.35c-43.27,0-78.48-35.21-78.48-78.49c0-43.27,35.21-78.48,78.48-78.48
		c43.28,0,78.49,35.21,78.49,78.48C306.35,271.14,271.14,306.35,227.86,306.35z M308.87,165.61c-10.24,0-18.57-8.33-18.57-18.57
		s8.33-18.57,18.57-18.57s18.57,8.33,18.57,18.57S319.11,165.61,308.87,165.61z M227.86,182.55c-24.98,0-45.32,20.33-45.32,45.31
		c0,24.99,20.34,45.33,45.32,45.33c24.99,0,45.32-20.34,45.32-45.33C273.18,202.88,252.85,182.55,227.86,182.55z M227.86,182.55
		c-24.98,0-45.32,20.33-45.32,45.31c0,24.99,20.34,45.33,45.32,45.33c24.99,0,45.32-20.34,45.32-45.33
		C273.18,202.88,252.85,182.55,227.86,182.55z M227.86,182.55c-24.98,0-45.32,20.33-45.32,45.31c0,24.99,20.34,45.33,45.32,45.33
		c24.99,0,45.32-20.34,45.32-45.33C273.18,202.88,252.85,182.55,227.86,182.55z M303.36,108.66H152.37
		c-24.1,0-43.71,19.61-43.71,43.71v150.99c0,24.1,19.61,43.71,43.71,43.71h150.99c24.1,0,43.71-19.61,43.71-43.71V152.37
		C347.07,128.27,327.46,108.66,303.36,108.66z M227.86,306.35c-43.27,0-78.48-35.21-78.48-78.49c0-43.27,35.21-78.48,78.48-78.48
		c43.28,0,78.49,35.21,78.49,78.48C306.35,271.14,271.14,306.35,227.86,306.35z M308.87,165.61c-10.24,0-18.57-8.33-18.57-18.57
		s8.33-18.57,18.57-18.57s18.57,8.33,18.57,18.57S319.11,165.61,308.87,165.61z M227.86,182.55c-24.98,0-45.32,20.33-45.32,45.31
		c0,24.99,20.34,45.33,45.32,45.33c24.99,0,45.32-20.34,45.32-45.33C273.18,202.88,252.85,182.55,227.86,182.55z M227.86,182.55
		c-24.98,0-45.32,20.33-45.32,45.31c0,24.99,20.34,45.33,45.32,45.33c24.99,0,45.32-20.34,45.32-45.33
		C273.18,202.88,252.85,182.55,227.86,182.55z M227.86,182.55c-24.98,0-45.32,20.33-45.32,45.31c0,24.99,20.34,45.33,45.32,45.33
		c24.99,0,45.32-20.34,45.32-45.33C273.18,202.88,252.85,182.55,227.86,182.55z M303.36,108.66H152.37
		c-24.1,0-43.71,19.61-43.71,43.71v150.99c0,24.1,19.61,43.71,43.71,43.71h150.99c24.1,0,43.71-19.61,43.71-43.71V152.37
		C347.07,128.27,327.46,108.66,303.36,108.66z M227.86,306.35c-43.27,0-78.48-35.21-78.48-78.49c0-43.27,35.21-78.48,78.48-78.48
		c43.28,0,78.49,35.21,78.49,78.48C306.35,271.14,271.14,306.35,227.86,306.35z M308.87,165.61c-10.24,0-18.57-8.33-18.57-18.57
		s8.33-18.57,18.57-18.57s18.57,8.33,18.57,18.57S319.11,165.61,308.87,165.61z M227.86,182.55c-24.98,0-45.32,20.33-45.32,45.31
		c0,24.99,20.34,45.33,45.32,45.33c24.99,0,45.32-20.34,45.32-45.33C273.18,202.88,252.85,182.55,227.86,182.55z"/>
	</symbol>
	<symbol id="vk__icon" viewBox="0 0 456 456">
		<path d="M0,0v455.731h455.731V0H0z M365.342,252.874c10.995,11.342,22.766,21.954,33.414,33.605
		c7.738,8.477,14.9,17.674,21.032,27.355c7.756,12.245,2.965,23.778-11.524,25.832c-9.115,1.286-53.641,0.01-55.942,0
		c-11.971-0.054-22.464-4.207-30.914-12.336c-9.398-9.052-17.939-18.979-26.963-28.423c-2.719-2.847-5.621-5.575-8.75-7.957
		c-7.382-5.63-14.627-4.38-18.076,4.289c-2.947,7.446-5.493,27-5.612,28.669c-0.62,8.732-6.177,14.298-15.959,14.836
		c-28.24,1.533-55.605-1.615-81.098-15.274c-21.607-11.57-38.861-27.93-53.807-47.009c-23.742-30.304-42.495-63.615-59.616-97.904
		c-0.875-1.753-18.216-38.653-18.682-40.396c-1.549-5.836-0.104-11.411,4.827-13.33c3.074-1.197,60.248-0.004,61.199,0.047
		c9.123,0.493,15.345,4.342,19.187,13.812c10.922,26.972,24.764,52.402,42.995,75.231c2.418,3.039,5.466,5.739,8.677,7.938
		c4.69,3.221,9.115,2.089,11.022-3.276c2.017-5.63,3.868-17.04,3.978-22.952c0.301-15.448-0.045-25.572-0.875-41.001
		c-0.538-9.882-4.051-18.559-18.587-21.178c-4.489-0.812-4.906-4.507-2.022-8.193c6.004-7.674,14.368-8.897,23.438-9.381
		c14.7-0.794,29.454-0.146,44.172,0c5.995,0.055,12.026,0.538,17.93,1.825c7.701,1.679,11.825,7.081,13.094,14.599
		c0.657,3.878,0.995,7.865,0.903,11.789c-0.383,16.862-1.195,33.715-1.387,50.568c-0.082,6.615,0.401,13.395,1.816,19.837
		c1.98,8.979,8.093,11.232,14.344,4.745c7.938-8.24,14.937-17.51,21.506-26.926c11.935-17.127,20.849-35.923,28.523-55.303
		c3.969-10,7.008-12.172,17.765-12.199c20.22-0.046,40.44-0.064,60.66,0c3.586,0.018,7.336,0.356,10.721,1.432
		c5.493,1.752,7.674,6.232,6.387,11.917c-3.002,13.322-10.201,24.645-17.911,35.531c-12.373,17.464-25.339,34.509-38.003,51.772
		c-1.615,2.199-3.038,4.544-4.362,6.926C358.107,240.948,358.435,245.747,365.342,252.874z"/>
	</symbol>
	<symbol id="youtube__icon" viewBox="0 0 456 456">
		<path d="M200.399,337.104c0,0.56,0,1.26-0.31,1.65c-2.1,2.71-4.6,4.97-7.88,6.17c-2.85,1.04-5.12-0.23-5.72-3.19
		c-0.24-1.17-0.25-2.4-0.25-3.6c-0.01-22.05-0.07-67.26-0.1-67.81h-16.27c0,0.61-0.02,63.59,0.02,75.49
		c0.01,3.22,0.35,6.42,1.69,9.41c1.44,3.24,3.83,5.29,7.39,5.88c2.61,0.45,5.16,0.16,7.64-0.69c5.08-1.75,9.06-5.05,12.57-9.01
		c0.31-0.35,0.64-0.69,1.23-1.32v9.88h16.31v-43.23c0-14.98,0-46.55,0-46.55l-16.32,0.04V337.104z"/>
		<path d="M277.509,277.334c-3.44-7.33-10.67-9.27-16.94-7.7c-3.8,0.96-6.88,3.15-9.41,5.98c-0.84,0.95-1.76,2.79-1.76,2.79
		s0-27.07,0-40.01h-16.34v121.55h16.34v-6.82c0,0,1.16,1.23,1.58,1.68c3.75,4.07,8.3,6.3,13.91,6.35c6.9,0.07,11.7-3.27,13.88-9.83
		c1.01-3.05,1.34-6.19,1.35-9.37c0.02-16.99,0.02-33.98-0.01-50.97C280.109,286.284,279.539,281.665,277.509,277.334z
		M263.289,339.925c0,0.91-0.11,1.83-0.3,2.72c-0.75,3.56-3.46,5.16-7.3,4.37c-2.33-0.48-4.15-1.82-5.71-3.51
		c-0.07-0.08-0.53-0.7-0.53-0.7v-1.33l-0.04-53.97c0,0,0.35-1,1.12-1.67c1.92-1.7,4.04-2.77,6.69-2.51c2.26,0.22,4.06,1.26,4.9,3.35
		c0.63,1.59,1.13,3.36,1.14,5.06C263.339,307.794,263.309,323.854,263.289,339.925z"/>
		<path d="M218.753,171.39c3.81,0,6.909-3.099,6.909-6.909v-48.751c0-3.81-3.1-6.909-6.909-6.909s-6.909,3.1-6.909,6.909v48.751
		C211.843,168.29,214.943,171.39,218.753,171.39z"/>
		<polygon points="169.909,238.405 113.309,238.405 113.309,255.824 132.379,255.824 132.379,359.955 150.799,359.955
		150.799,255.784 169.909,255.784 	"/>
		<path d="M324.189,328.084v11.53c0,4.03-3.26,7.29-7.28,7.29c-4.03,0-7.29-3.26-7.29-7.29v-22.43h31.29c0,0,0.18-15.65,0.05-22.75
		c-0.05-3.03-0.28-6.1-0.9-9.06c-1.62-7.68-5.75-13.47-13.48-16.01c-2.27-0.75-4.71-1.14-7.1-1.29c-7.95-0.51-14.91,1.76-20.35,7.85
		c-4.77,5.33-6.43,11.75-6.44,18.71c-0.03,13.31-0.09,26.63,0.04,39.94c0.04,3.39,0.42,6.85,1.19,10.15
		c1.66,7.09,5.53,12.66,12.36,15.74c4.99,2.26,10.26,2.37,15.58,1.59c8.58-1.26,14.43-5.86,17.26-14.15
		c2.13-6.21,1.88-19.82,1.88-19.82H324.189z M309.619,290.685c0-4.02,3.26-7.29,7.29-7.29c4.02,0,7.28,3.27,7.28,7.29v12.59h-14.57
		V290.685z"/>
		<path d="M0,0v455.731h455.731V0H0z M256.735,94.99h16.596v68.821c0,0.912,0.073,1.834,0.233,2.728
		c0.503,2.836,2.6,4.171,5.331,3.224c3.329-1.152,5.87-3.457,8.024-6.173c0.306-0.388,0.25-1.112,0.25-1.681V94.99h16.717
		l-0.005,90.244H287.16l0.02-9.695c-1.849,1.821-3.427,3.522-5.161,5.05c-3.074,2.708-6.556,4.727-10.629,5.524
		c-6.253,1.222-11.579-0.754-13.573-7.23c-0.664-2.157-1.065-4.482-1.082-6.734V94.99z M218.753,92.731L218.753,92.731
		c13.224,0,23.944,10.72,23.944,23.944v46.859c0,13.224-10.72,23.944-23.944,23.944l0,0c-13.224,0-23.944-10.72-23.944-23.944
		v-46.859C194.808,103.451,205.528,92.731,218.753,92.731z M154.343,63.07c0,0,7.605,32.301,11.235,47.602h0.006
		c3.63-15.301,11.235-47.602,11.235-47.602h19.029c0,0-14.62,48.487-21.158,70.111c-0.236,0.781-0.343,1.631-0.343,2.45
		l0.008,49.584h-17.547l0.007-49.584c0-0.819-0.108-1.668-0.343-2.45c-6.538-21.624-21.158-70.111-21.158-70.111H154.343z
		M363.579,350.865c0,22.18-17.72,40.3-39.89,40.77c-63.87,1.37-127.77,1.37-191.65,0c-22.16-0.47-39.88-18.59-39.88-40.77v-99.76
		c0-22.17,17.72-40.29,39.88-40.76c63.88-1.37,127.78-1.37,191.65,0c22.17,0.47,39.89,18.59,39.89,40.76V350.865z"/>
	</symbol>
	<symbol id="play__icon" viewBox="0 0 512 512">
		<path d="m354.2,247.4l-135.1-92.4c-4.2-3.1-15.4-3.1-16.3,8.6v184.8c1,11.7 12.4,11.9 16.3,8.6l135.1-92.4c3.5-2.1 8.3-10.7 0-17.2zm-130.5,81.3v-145.4l106.1,72.7-106.1,72.7z"/><path d="M256,11C120.9,11,11,120.9,11,256s109.9,245,245,245s245-109.9,245-245S391.1,11,256,11z M256,480.1    C132.4,480.1,31.9,379.6,31.9,256S132.4,31.9,256,31.9S480.1,132.4,480.1,256S379.6,480.1,256,480.1z"/>
	</symbol>
	<symbol id="calendar__icon" viewBox="0 0 489 489">
		<path d="M177.854,269.311c0-6.115-4.96-11.069-11.08-11.069h-38.665c-6.113,0-11.074,4.954-11.074,11.069v38.66
			c0,6.123,4.961,11.079,11.074,11.079h38.665c6.12,0,11.08-4.956,11.08-11.079V269.311L177.854,269.311z"/>
		<path d="M274.483,269.311c0-6.115-4.961-11.069-11.069-11.069h-38.67c-6.113,0-11.074,4.954-11.074,11.069v38.66
			c0,6.123,4.961,11.079,11.074,11.079h38.67c6.108,0,11.069-4.956,11.069-11.079V269.311z"/>
		<path d="M371.117,269.311c0-6.115-4.961-11.069-11.074-11.069h-38.665c-6.12,0-11.08,4.954-11.08,11.069v38.66
			c0,6.123,4.96,11.079,11.08,11.079h38.665c6.113,0,11.074-4.956,11.074-11.079V269.311z"/>
		<path d="M177.854,365.95c0-6.125-4.96-11.075-11.08-11.075h-38.665c-6.113,0-11.074,4.95-11.074,11.075v38.653
			c0,6.119,4.961,11.074,11.074,11.074h38.665c6.12,0,11.08-4.956,11.08-11.074V365.95L177.854,365.95z"/>
		<path d="M274.483,365.95c0-6.125-4.961-11.075-11.069-11.075h-38.67c-6.113,0-11.074,4.95-11.074,11.075v38.653
			c0,6.119,4.961,11.074,11.074,11.074h38.67c6.108,0,11.069-4.956,11.069-11.074V365.95z"/>
		<path d="M371.117,365.95c0-6.125-4.961-11.075-11.069-11.075h-38.67c-6.12,0-11.08,4.95-11.08,11.075v38.653
			c0,6.119,4.96,11.074,11.08,11.074h38.67c6.108,0,11.069-4.956,11.069-11.074V365.95L371.117,365.95z"/>
		<path d="M440.254,54.354v59.05c0,26.69-21.652,48.198-48.338,48.198h-30.493c-26.688,0-48.627-21.508-48.627-48.198V54.142
			h-137.44v59.262c0,26.69-21.938,48.198-48.622,48.198H96.235c-26.685,0-48.336-21.508-48.336-48.198v-59.05
			C24.576,55.057,5.411,74.356,5.411,98.077v346.061c0,24.167,19.588,44.015,43.755,44.015h389.82
			c24.131,0,43.755-19.889,43.755-44.015V98.077C482.741,74.356,463.577,55.057,440.254,54.354z M426.091,422.588
			c0,10.444-8.468,18.917-18.916,18.917H80.144c-10.448,0-18.916-8.473-18.916-18.917V243.835c0-10.448,8.467-18.921,18.916-18.921
			h327.03c10.448,0,18.916,8.473,18.916,18.921L426.091,422.588L426.091,422.588z"/>
		<path d="M96.128,129.945h30.162c9.155,0,16.578-7.412,16.578-16.567V16.573C142.868,7.417,135.445,0,126.29,0H96.128
			C86.972,0,79.55,7.417,79.55,16.573v96.805C79.55,122.533,86.972,129.945,96.128,129.945z"/>
		<path d="M361.035,129.945h30.162c9.149,0,16.572-7.412,16.572-16.567V16.573C407.77,7.417,400.347,0,391.197,0h-30.162
			c-9.154,0-16.577,7.417-16.577,16.573v96.805C344.458,122.533,351.881,129.945,361.035,129.945z"/>
	</symbol>
</svg>
