{% extends "Admin/Crud/Edit" %}

{% block title %}Администрирование | Страницы{% endblock %}

{% block form %}
<input type="hidden" name="parent_id" value="{{ parent_id }}"/>
<input type="hidden" name="section_id" value="{{ section_id }}"/>
<div class="former-category-block">
    <div class="former-category-title">Отображение</div>
    <div class="row">
        <div class="span2">Видимость</div>
        <div class="span9">
            <ul class="group-list">
                <li>
                    <input type="hidden" name="menushow" value="0"/>
                    <input class="checkbox" id="menushow" type="checkbox" name="menushow" value="1" {% if item.menushow %}checked="checked"{% endif %} /> <label for="menushow">Показывать в главном меню</label>
                </li>
                <li>
                    <input type="hidden" name="bottomshow" value="0"/>
                    <input class="checkbox" id="bottomshow" type="checkbox" name="bottomshow" value="1" {% if item.bottomshow %}checked="checked"{% endif %} /> <label for="bottomshow">Показывать в футере</label>
                </li>
            </ul>
        </div>
    </div>
    {{ parent() }}

    {% endblock %}
