{% extends "Admin/Layout/Main" %}

{% block title %}Администрирование | Страницы{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}

    <div class="actions-block">
        <div class="btn-group">
            <a class="btn btn-mini" href="{{ get_route_uri('admin_base',{ 'controller' : admin.self, 'action': 'create', 'filter' : {'parent_id' : parent_id } }) }}">
                <i class="icon-plus-sign"></i> {{ vars.text.add|default('Добавить страницу') }}
            </a>
            {% if items|length > 0 %}
            <a class="btn btn-mini" href="#" onclick="return Helper.deleteItems();">
                <i class="icon-remove-sign"></i> {{ vars.text.drop|default('Удалить выбранные страницы') }}
            </a>
            {% endif %}
        </div>
        <div style="float: right;">
            <span style="float:left;font-size: 13px;margin: 5px 8px;">Компактый режим</span>
            <i class="checkbox_rond activate_compact_menu {% if compact_menu %}actived{% endif %}" data-name="former-life_edit" title="Активировать">
                <div class="round base toggleBase">
                    <div class="round switch {% if compact_menu %}green{% endif %}">
                        <div class="round symbol"></div>
                    </div>
                </div>
            </i>
        </div>
    </div>

    <table width="100%" cellpadding="0" cellspacing="1" class="table table-bordered sortable table-pages">
        <thead>
        <tr>
            <th class="td_center td_width_30" ><input type="checkbox" onclick="Helper.checkAll(this);" /></th>
            <th >Заголовок</th>

            <th class="compact_menu_td   td_width_30 {% if not compact_menu %}hidden{% endif %}" ><i class="icon-white icon-chevron-left"></i></th>
            <th class="uncompact_menu_td td_width_90 {% if compact_menu %}hidden{% endif %}"     >Действия</th>
            <th class="uncompact_menu_td td_width_30 {% if compact_menu %}hidden{% endif %}"     ><i class="icon-white icon-folder-open"></i></th>
            <th class="uncompact_menu_td td_width_30 {% if compact_menu %}hidden{% endif %}"     ><i class="icon-white icon-ok"></i></th>
            <th class="uncompact_menu_td td_width_30 {% if compact_menu %}hidden{% endif %}"     ><i class="icon-white icon-eye-open"></i></th>

            <th class="td_center td_width_30" ><i class="icon-white icon-move"></i></th>
        </tr>
        </thead>
        <tbody>

        {% if items|length > 0 %}
            {% set N = 0 %}
            {% for item in items %}
                {% set N = N + 1 %}
                <tr id="row_item_{{ item.id }}" {% if item.module and item.module != "text" %}class="module"{% endif %}  data-id="{{ item.id }}">
                    <td class="td_center td_width_30"><input class="del_checkbox" type="checkbox" id="i_del_{{ item.id }}"/></td>
                    <td id="can_click_{{ item.id }}_{{ N }}" class="can_click" data-id="{{ item.id }}" data-table="pages" data-field="head">{{ item.head }}</td>

                    <td class="compact_menu_td td_width_30 {% if not compact_menu %}hidden{% endif %}">
                        <span class="btn btn-mini get_compact_menu" title="Развернуть"><i class="icon-chevron-left"></i></span>
                        <div class="compact_menu">
                            <a class="btn btn-icon" href="{{ get_route_uri('admin_base',{ 'controller' : admin.self, 'action': 'edit', 'filter' : {'id' : item.id } }) }}" title="Редактировать">
                                <i class="icon-pencil"></i>
                            </a>
                            {% if item.module == "products" %}
                                <a class="btn btn-icon" href="{{ get_route_uri('admin_base',{ 'controller' : 'products', 'action': 'list', 'filter' : {'parent_id' : item.id } }) }}" title="Товары">
                                    <i class="icon-shopping-cart"></i>
                                </a>
                            {% endif %}
                            <span class="btn btn-icon page_delete" title="Удалить" data-id="{{ item.id }}" >
                                <i class="icon-trash"></i>
                            </span>
                            {% if not item.module or item.module == "text" or item.module == 'allproducts' %}
                                <a class="btn btn-icon" href="{{ get_route_uri('admin_base',{ 'controller' : admin.self, 'action': 'list', 'filter' : {'parent_id' : item.id } }) }}" title="Подразделы">
                                    <i class="icon-folder-open"></i>
                                </a>
                            {% endif %}
                            {% if not item.menushow and not item.bottomshow %}
                                <span class="toggle_menushow" data-id="{{ item.id }}" data-show="1" ><i title="Отображать в меню"    class="icon-remove"></i></span>
                            {% else %}
                                <span class="toggle_menushow" data-id="{{ item.id }}" data-show="0" ><i title="Не отображать в меню" class="icon-ok"></i></span>
                            {% endif %}
                            <a class="toggle_hide" href="#" data-id="{{ item.id }}" onclick="return Helper.setHide(this, '{{ item.id }}');">
                                {% if item.hide %}
                                    <i title="Показать" class="icon-eye-close"></i>
                                {% else %}
                                    <i title="Скрыть" class="icon-eye-open"></i>
                                {% endif %}
                            </a>
                        </div>
                    </td>

                    <td class="uncompact_menu_td td_width_90 {% if compact_menu %}hidden{% endif %}">
                        <a class="btn btn-icon" href="{{ get_route_uri('admin_base',{ 'controller' : admin.self, 'action': 'edit', 'filter' : {'id' : item.id } }) }}" title="Редактировать">
                            <i class="icon-pencil"></i>
                        </a>
                        {% if item.module == "products" %}
                            <a class="btn btn-icon" href="{{ get_route_uri('admin_base',{ 'controller' : 'products', 'action': 'list', 'filter' : {'parent_id' : item.id } }) }}" title="Товары">
                                <i class="icon-shopping-cart"></i>
                            </a>
                        {% endif %}

                        <span class="btn btn-icon page_delete" title="Удалить" data-id="{{ item.id }}" >
                            <i class="icon-trash"></i>
                        </span>
                    </td>
                    <td class="uncompact_menu_td td_width_30 {% if compact_menu %}hidden{% endif %}">
                        {% if not item.module or item.module == "text" or item.module == 'allproducts' %}
                            <a class="btn btn-icon" href="{{ get_route_uri('admin_base',{ 'controller' : admin.self, 'action': 'list', 'filter' : {'parent_id' : item.id } }) }}" title="Подразделы">
                                <i class="icon-folder-open"></i>
                            </a>
                        {% endif %}
                    </td>
                    <td class="uncompact_menu_td td_width_30 {% if compact_menu %}hidden{% endif %}">
                        {% if not item.menushow and not item.bottomshow %}
                            <span class="toggle_menushow" data-id="{{ item.id }}" data-show="1" ><i title="Отображать в меню"    class="icon-remove"></i></span>
                        {% else %}
                            <span class="toggle_menushow" data-id="{{ item.id }}" data-show="0" ><i title="Не отображать в меню" class="icon-ok"></i></span>
                        {% endif %}
                    </td>
                    <td class="uncompact_menu_td td_width_30 {% if compact_menu %}hidden{% endif %}">
                        <a class="toggle_hide" href="#" data-id="{{ item.id }}" onclick="return Helper.setHide(this, '{{ item.id }}');">
                            {% if item.hide %}
                                <i title="Показать" class="icon-eye-close"></i>
                            {% else %}
                                <i title="Скрыть" class="icon-eye-open"></i>
                            {% endif %}
                        </a>
                    </td>

                    <td class="td_center td_width_30">
                        <span class="move_groups btn btn-mini" title="Передвинуть"><i class="icon-move"></i></span>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="4">{{ vars.text.empty|default('Страницы отсутствуют') }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    <div class="actions-block">
        <div class="btn-group">
            <a class="btn btn-mini" href="{{ get_route_uri('admin_base',{ 'controller' : admin.self, 'action': 'create', 'filter' : {'parent_id' : parent_id } }) }}">
                <i class="icon-plus-sign"></i> {{ vars.text.add|default('Добавить страницу') }}
            </a>
            {% if items|length > 0 %}
            <a class="btn btn-mini" href="#" onclick="return Helper.deleteItems();">
                <i class="icon-remove-sign"></i> {{ vars.text.drop|default('Удалить выбранные страницы') }}
            </a>
            {% endif %}
        </div>
    </div>

{% endblock %}
