{% extends "Layout/Page" %}

{% block content %}

	<div class="inner__content">
		<div class="breadcrumbs">{% include 'Block/Breadcrumb' %}</div>

		<h1 id="contact_head" class="{% if wa_admin %} wa_admin{% endif %}{% if admin %} life_edit{% endif %}" {% if admin %} data-id="{{ document.id }}" data-table="pages" data-field="head"{% endif %}>{{ document.head }}</h1>

		<div class="contacts_page_content">
			<div class="contacts_page_content_left">
				{{ document.body }}
			</div>

			{% include 'Feedback/Form_in_contact' %}
		</div>

		<div id="map" class="map"></div>
	</div>

{% endblock %}
