{% extends "Layout/About" %}
{% block content %}
<div class="main__inner">

    {% if item.block1_body %}
      <div class="about__section about-me__section">
          <div class="inner-wrapper">
              <div class="title title_left">{{ item.block1_title }}</div>
              <div class="about-section__wrap content__col">
                  <div class="about-section__text">
                      {{ item.block1_body }}
                  </div>
                  <div class="about-section__photo-wrap">
                      <div class="about-section__photo">
                          <img src="{{ item.block1_img }}" alt="" class="about-section__img">
                      </div>
                  </div>
              </div>
          </div>
      </div>
    {% endif %}

    {% if item.block2_body %}
      <div class="about-advantages__section">
          <div class="inner-wrapper">
              <div class="about-advantages__wrap">
                  <div class="title title_left">{{ item.block2_title }}</div>
                  {{ item.block2_body }}
                  <a href="#consult" class="btn btn_rectangle btn_blue js-modal_open">Записаться на консультацию →</a>
              </div>
          </div>
      </div>
    {% endif %}

    {% if item.block3_body %}
      <div class="about-articles__section">
          <div class="inner-wrapper">
              <div class="about-articles__wrap">
                  <div class="title">{{ item.block3_title }}</div>
                  <div class="articles__wrap content__col">
                      {% for block3_body in item.block3_body %}
                        <div class="article">
                          <a href="{{ block3_body.2 }}" class="articles__item">
                              <div class="article__img">
                                <div class="article__img-inner">
                                  <img src="/upload/modules/About/images/block3_body/{{ block3_body.5 }}" alt="">
                                </div>    
                              </div>
                              <div class="article__content">
                                <div class="article__title">{{ block3_body.1 }}</div>
                                <div class="article__desc">{{ block3_body.3 }}</div>
                                <div class="article__date">{{ block3_body.4 }}</div>
                              </div>
                          </a>
                        </div>
                      {% endfor %}
                  </div>
                  <a href="{{ item.block3_link }}" class="btn btn_border btn_center btn_rectangle btn_border_ondark" target="_blank" rel="nofollow noopener noreferrer">Больше статей на DK.ru</a>
              </div>
          </div>
      </div>
    {% endif %}

    {% if item.block4_body %}
      <div class="slider__section">
          <div class="inner-wrapper">
              <div class="title">{{ item.block4_title }}</div>
              <div class="slider__wrap video-slider__wrap">
                  {{ item.block4_body }}
                  <div class="slider video-slider">
                      <div class="video-slider__item__wrap">
                          <!--- видео храним в id ------->
                          <div class="video-slider__item">
                              <div class="video-overlay">
                                  <div class="youtube-container" id="XElwJRdwyAY"></div>
                              </div>
                          </div>
                          <div class="video-slider__item">
                              <div class="video-overlay">
                                  <div class="youtube-container" id="_v5GAFVAe6A"></div>
                              </div>
                          </div>
                          <div class="video-slider__item">
                              <div class="video-overlay">
                                  <div class="youtube-container" id="v3NQNVfaeUM"></div>
                              </div>
                          </div>
                          <div class="video-slider__item">
                              <div class="video-overlay">
                                  <div class="youtube-container" id="J1F6jOf_Zhs"></div>
                              </div>
                          </div>
                      </div>
                      <div class="video-slider__nav-item__wrap">
                          <div class="video-slider__nav-item">
                              <img src="http://i.ytimg.com/vi/XElwJRdwyAY/sddefault.jpg" alt="" class="video-slider__nav-img-preview">
                          </div>
                          <div class="video-slider__nav-item">
                              <img src="http://i.ytimg.com/vi/_v5GAFVAe6A/sddefault.jpg" alt="" class="video-slider__nav-img-preview">
                          </div>
                          <div class="video-slider__nav-item">
                              <img src="http://i.ytimg.com/vi/v3NQNVfaeUM/sddefault.jpg" alt="" class="video-slider__nav-img-preview">
                          </div>
                          <div class="video-slider__nav-item">
                              <img src="http://i.ytimg.com/vi/J1F6jOf_Zhs/sddefault.jpg" alt="" class="video-slider__nav-img-preview">
                          </div>
                      </div>
                  </div>
              </div>
              <a href="{{ item.block4_link }}" class="btn btn_border btn_rectangle btn_center btn_border_onlight">Больше видео на YouTube</a>
          </div>
      </div>
    {% endif %}

    {% if item.block5_body %}
      <div class="instagram__section">
          <div class="inner-wrapper">
              <div class="title">{{ item.block5_title }}</div>
              <div class="instagram__widget">
                  {% for photo in item.block5_body %}
                    <div class="instagram__item">
                      <div class="instagram__item-inner">
                        <img src="{{ photo.0 }}" alt="{{ photo.1 }}" class="instagram__img">
                      </div>
                    </div>
                  {% endfor %}
              </div>
              <a href="{{ item.block5_link }}" class="btn btn_border btn_rectangle btn_center btn_border_ondark">Больше фото в Инстаграм</a>
          </div>
      </div>
    {% endif %}
    
    <div class="contact__section">
        <div class="inner-wrapper">
            <div class="title title_lowercase">{{ item.block6_title }}</div>
            <div class="contact__desc">
                {{ item.block6_body }}
            </div>
            <a href="#callme" class="btn btn_border btn_rectangle btn_center btn_border_ondark js-modal_open">Поехали!</a>
        </div>
    </div>

</div>

{% endblock %}
