<div class="form__col form__col_third">
    <label class="form__label">
        <input
    			type="text"
    			class="{% if data.1 == '1' %}required{% endif %} form__input form_calendar"
    			data-title="{{ data.2 }}"
    			placeholder="{{ data.2 }}"
    			data-pls="{{ data.2 }}">
        <svg class="icon">
            <use xlink:href="#calendar__icon"></use>
        </svg>
    </label>
</div>
