<div class="form__item form__item_checkbox">
    <label class="form__label" for="contact_form_name">{{ data.2 }}:</label>
    <span class="input__check">
		<input
			type="checkbox"
			class="{% if data.1 == '1' %}required{% endif %} form__input"
			data-title="{{ data.2 }}"
			placeholder="{{ data.2 }}"
			data-pls="{{ data.2 }}">
	<span>
</div>
