<div class="form__item">
    <label class="form__label" for="contact_form_name">{{ data.2 }}:</label>
    <input
        type="file"
        multiple
        class="{% if data.1 == '1' %}required{% endif %} form__input form_file"
        data-type="{{ data.b3 }}"
        data-title="{{ data.2 }}"
        placeholder="{{ data.2 }}"
        data-pls="{{ data.2 }}">
    <span class="form_file_list"></span>
</div>
