<div class="modal__close"></div>
<div
    id="{{ form[form_alias].alias }}"
    class="subtitle modal__title {% if wa_admin %}wa_admin{% endif %}{% if admin %} life_edit{% endif %}"
    {% if wa_admin %}
        data-id="{{ form[form_alias].id }}"
        data-table="formconstruct"
        data-field="head"
    {% endif %}>
    {{ form[form_alias].head }}
</div>
<div class="modal__desc">{{ form[form_alias].body }}</div>
<div
    id="thanks_{{ form[form_alias].alias }}"
    class="tnx_msg hidden {% if wa_admin %} wa_admin{% endif %}{% if admin %} life_edit{% endif %}"
    {% if admin %}
        data-id="{{ form[form_alias].id }}"
        data-table="formconstruct"
        data-field="tnx"
    {% endif %}>
    {{ form[form_alias].tnx }}
</div>

<form class="form contact_form" enctype="multipart/form-data">
  <div class="form__main-inputs content__col">
    {% for item in form[form_alias].html_fields %}
        {{ item }}
    {% endfor %}
  </div>

    <div class="agreement">
        <input type="checkbox" data-title="" checked class="agreement__checkbox required section_argee">
        <label
            id="agreement_{{ form[form_alias].alias }}"
            class="agreement__label {% if wa_admin %}wa_admin{% endif %}{% if admin %} life_edit{% endif %}"
            {% if wa_admin %}
                data-id="14"
                data-table="settings"
                data-field="value"
            {% endif %}>
            {{ vars.agreement }}
        </label>
    </div>

    <input type="submit"
           value="{{ btn_name|default('Отправить') }}"
           class="form_send btn form__btn btn_modal"
           data-table="feedback_{{ form[form_alias].alias }}"
           data-title="{{ form[form_alias].head }}"
           onclick="return false;">
</form>
