<div class="form__item">
    <label class="form__label" for="contact_form_name">{{ data.2 }}:</label>
    <select
        multiple
        class="{% if data.1 == '1' %}required{% endif %} form__input"
        data-title="{{ data.2 }}"
        placeholder="{{ data.2 }}"
        data-pls="{{ data.2 }}">
        {% for item in data.b3|split(';') %}
            <option value="{{ item }}">{{ item }}</option>
        {% endfor %}
    </select>
</div>
