<div class="form__item">
    <label class="form__label" for="contact_form_name">{{ data.2 }}:</label>
    <span class="form__input">
        {% for item in data.b3|split(';') %}
			<span class="input__radio">
				<input
                    id="{{ data.2 }}_{{ loop.index }}"
					type="radio"
					value="{{ item }}"
					name="{{ data.2 }}"
					class="{% if data.1 == '1' %}required{% endif %} btn__radio"
					data-title="{{ data.2 }}"
					placeholder="{{ data.2 }}"
					data-pls="{{ data.2 }}">
                    <label for="{{ data.2 }}_{{ loop.index }}"> {{ item }}</label>
			</span>
        {% endfor %}
    </span>
</div>
