<div class="form__col form__col_half">
  <select
      class="{% if data.1 == '1' %}required{% endif %} form__input form__select js-form__select"
      data-title="{{ data.2 }}"
      placeholder="{{ data.2 }}"
      data-pls="{{ data.2 }}">
          <option value="">Выберите элемент</option>
      {% for item in data.b3|split(';') %}
          <option value="{{ item }}">{{ item }}</option>
      {% endfor %}
  </select>
</div>
