<div class="form__col form__col_third">
    <label class="form__label">
        <input
            type="text"
            class="{% if data.1 == '1' %}required{% endif %} form__input"
            data-title="{{ data.2 }}"
            placeholder="{{ data.2 }}"
            data-pls="{{ data.2 }}">
    </label>
</div>
