<div class="form__row">
    <textarea
      class="{% if data.1 == '1' %}required{% endif %} form__input form__textarea form__text"
      placeholder="{{ data.2 }}"
      data-pls="{{ data.2 }}"
      data-title="{{ data.2 }}"></textarea>
</div>
