<div class="form__item">
    <label class="form__label" for="contact_form_name">{{ data.2 }}:</label>
	<div class="form__input_icon">
		<input
			type="text"
			class="{% if data.1 == '1' %}required{% endif %} form__input form_time"
			data-title="{{ data.2 }}"
			placeholder="{{ data.2 }}"
			data-pls="{{ data.2 }}">
		<svg class="icon input__icon">
			<use xlink:href="#time__icon"></use>
		</svg>
	</div>
</div>
