<div class="advantages  section">
    <div class="wrapper">
        <div
            id="module_head_{{ params.id }}"
            class="title {% if wa_admin %} wa_admin{% endif %}{% if admin %} life_edit{% endif %}"
            {% if wa_admin %}
                data-id="{{ params.id }}"
                data-table="modules"
                data-field="head"
            {% endif %}>{{ params.head }}</div>
        <div
            id="module_body_{{ params.id }}"
            class="section__desc {% if wa_admin %} wa_admin{% endif %}{% if admin %} life_edit{% endif %}"
            {% if wa_admin %}
                data-id="{{ params.id }}"
                data-table="modules"
                data-field="body"
            {% endif %}>
            {{ params.body }}
        </div>
        <div class="advantages__list">
            <div class="advantages__item">
                <svg class="icon advantages__icon">
                    <use xlink:href="#inst-ico"></use>
                </svg>
                <div class="advantages__content">
                    <div class="advantages__title">Преимущество 1</div>
                    <div class="advantages__desc">текст текст текст</div>
                </div>
            </div>
            <div class="advantages__item">
                <svg class="icon advantages__icon">
                    <use xlink:href="#inst-ico"></use>
                </svg>
                <div class="advantages__content">
                    <div class="advantages__title">Преимущество 2</div>
                    <div class="advantages__desc">текст текст текст</div>
                </div>
            </div>
            <div class="advantages__item">
                <svg class="icon advantages__icon">
                    <use xlink:href="#inst-ico"></use>
                </svg>
                <div class="advantages__content">
                    <div class="advantages__title">Преимущество 3</div>
                    <div class="advantages__desc">текст текст текст</div>
                </div>
            </div>
            <div class="advantages__item">
                <svg class="icon advantages__icon">
                    <use xlink:href="#inst-ico"></use>
                </svg>
                <div class="advantages__content">
                    <div class="advantages__title">Преимущество 4</div>
                    <div class="advantages__desc">текст текст текст</div>
                </div>
            </div>
        </div>
    </div>
</div>
