<div class="about section">
    <div class="map">
        <div class="wrapper">
            <div
                id="module_body_{{ params.id }}"
                class="map__contacts {% if wa_admin %} wa_admin{% endif %}{% if admin %} life_edit{% endif %}"
                {% if wa_admin %}
                    data-id="{{ params.id }}"
                    data-table="modules"
                    data-field="body"
                {% endif %}>
                {{ params.body }}
            </div>
        </div>
        <div class="map__code">
            {{ vars.map }}
        </div>
    </div>
</div>
