<div class="news section">
    <div class="wrapper">
        <div
            id="module_head_{{ params.id }}"
            class="title {% if wa_admin %} wa_admin{% endif %}{% if admin %} life_edit{% endif %}"
            {% if wa_admin %}
                data-id="{{ params.id }}"
                data-table="modules"
                data-field="head"
            {% endif %}>{{ params.head }}</div>
        <div
            id="module_body_{{ params.id }}"
            class="section__desc {% if wa_admin %} wa_admin{% endif %}{% if admin %} life_edit{% endif %}"
            {% if wa_admin %}
                data-id="{{ params.id }}"
                data-table="modules"
                data-field="body"
            {% endif %}>
            {{ params.body }}
        </div>

        <div class="news__slider">
            <div class="slider">
                <div class="slider__list news__list">
                    {% for item in news %}

                        <div class="slider__item news__item">
                            <div class="news__image">
                                <img src="{{ item.img }}" alt="{{ item.head }}" class="news__img">
                            </div>
                            <div class="news__content">
                                <div class="news__date">{{ item.date }}</div>
                                <a href="{{ item.fullpath }}" class="news__title">{{ item.head }}</a>
                            </div>
                        </div>

                    {% endfor %}
                </div>
            </div>
        </div>
        <a href="{{ news_url }}" class="btn">Читать все новости</a>
    </div>
</div>
