<div class="partners section">
    <div class="wrapper">
        <div
            id="module_head_{{ params.id }}"
            class="title {% if wa_admin %} wa_admin{% endif %}{% if admin %} life_edit{% endif %}"
            {% if wa_admin %}
                data-id="{{ params.id }}"
                data-table="modules"
                data-field="head"
            {% endif %}>{{ params.head }}</div>
        <div
            id="module_body_{{ params.id }}"
            class="section__desc {% if wa_admin %} wa_admin{% endif %}{% if admin %} life_edit{% endif %}"
            {% if wa_admin %}
                data-id="{{ params.id }}"
                data-table="modules"
                data-field="body"
            {% endif %}>
            {{ params.body }}
        </div>
        <div class="partners__slider">
            <div class="slider">
                <div class="slider__list partners__list">
                    <div class="slider__item partners__item">
                        <img class="partners__img" src="/assets/public/img/box.png" alt="">
                    </div>
                    <div class="slider__item partners__item">
                        <img class="partners__img" src="/assets/public/img/box.png" alt="">
                    </div>
                    <div class="slider__item partners__item">
                        <img class="partners__img" src="/assets/public/img/box.png" alt="">
                    </div>
                    <div class="slider__item partners__item">
                        <img class="partners__img" src="/assets/public/img/box.png" alt="">
                    </div>
                    <div class="slider__item partners__item">
                        <img class="partners__img" src="/assets/public/img/box.png" alt="">
                    </div>
                    <div class="slider__item partners__item">
                        <img class="partners__img" src="/assets/public/img/box.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
