<div class="reviews section">
    <div class="wrapper">
        <div
            id="module_head_{{ params.id }}"
            class="title {% if wa_admin %} wa_admin{% endif %}{% if admin %} life_edit{% endif %}"
            {% if wa_admin %}
                data-id="{{ params.id }}"
                data-table="modules"
                data-field="head"
            {% endif %}>{{ params.head }}</div>
        <div
            id="module_body_{{ params.id }}"
            class="section__desc {% if wa_admin %} wa_admin{% endif %}{% if admin %} life_edit{% endif %}"
            {% if wa_admin %}
                data-id="{{ params.id }}"
                data-table="modules"
                data-field="body"
            {% endif %}>
            {{ params.body }}
        </div>
        <div class="reviews__slider">
            <div class="slider">
                <div class="slider__list reviews__list">
                    <div class="slider__item reviews__item">
                        <div class="reviews__rating">5</div>
                        <div class="reviews__desc">
                            <div class="reviews__date">15.02.2018</div>
                            <div class="reviews__title">ФИО</div>
                            <div class="reviews__preview">
                                отзыв отзыв отзыв
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <a href="#" class="btn js__modal-open">оставить отзыв</a>
    </div>
</div>
