<div class="services section">
    <div class="wrapper">
        <div
            id="module_head_{{ params.id }}"
            class="title {% if wa_admin %} wa_admin{% endif %}{% if admin %} life_edit{% endif %}"
            {% if wa_admin %}
                data-id="{{ params.id }}"
                data-table="modules"
                data-field="head"
            {% endif %}>{{ params.head }}</div>
        <div
            id="module_body_{{ params.id }}"
            class="section__desc {% if wa_admin %} wa_admin{% endif %}{% if admin %} life_edit{% endif %}"
            {% if wa_admin %}
                data-id="{{ params.id }}"
                data-table="modules"
                data-field="body"
            {% endif %}>
            {{ params.body }}
        </div>
        <div class="services__menu">
            <a href="#" class="services__item">
                <div class="services__bg">
                    <img src="https://i.mycdn.me/image?id=848956528132&ts=000000000000a203b1&plc=WEB&tkn=*hIMU6nsG5BtrEzLu5a51QnLAhxM&fn=sqr_288" alt="" class="services__img">
                </div>
                <div class="services__title">Услуга 1</div>
            </a>
            <a href="#" class="services__item">
                <div class="services__bg">
                    <img src="https://pbs.twimg.com/profile_images/463397945073991680/r1zt6x7y.jpeg" alt="" class="services__img">
                </div>
                <div class="services__title">Услуга 2</div>
            </a>
            <a href="#" class="services__item">
                <div class="services__bg">
                    <img src="https://pp.userapi.com/c617319/v617319842/10af8/VjHDl9FiB2w.jpg?ava=1" alt="" class="services__img">
                </div>
                <div class="services__title">Услуга 3</div>
            </a>
            <a href="#" class="services__item">
                <div class="services__bg">
                    <img src="https://i.mycdn.me/image?id=848956528132&ts=000000000000a203b1&plc=WEB&tkn=*hIMU6nsG5BtrEzLu5a51QnLAhxM&fn=sqr_288" alt="" class="services__img">
                </div>
                <div class="services__title">Услуга 4</div>
            </a>
            <a href="#" class="services__item">
                <div class="services__bg">
                    <img src="https://i.mycdn.me/image?id=848956528132&ts=000000000000a203b1&plc=WEB&tkn=*hIMU6nsG5BtrEzLu5a51QnLAhxM&fn=sqr_288" alt="" class="services__img">
                </div>
                <div class="services__title">Услуга 5</div>
            </a>
            <a href="#" class="services__item">
                <div class="services__bg">
                    <img src="https://i.mycdn.me/image?id=848956528132&ts=000000000000a203b1&plc=WEB&tkn=*hIMU6nsG5BtrEzLu5a51QnLAhxM&fn=sqr_288" alt="" class="services__img">
                </div>
                <div class="services__title">Услуга 6</div>
            </a>
        </div>
    </div>
</div>
