<div class="main-slider">
  <div class="slider__wrap main-slider__wrap">
    <div class="slider main-slider">
      <div class="slider__nav"></div>
      <div class="slider__item__wrap main-slider__item-wrap">
        {% for slide in slider %}
        <div class="slider__item main-slider__item" data-bordercolor="{{ slide.nav_color }}" data-navhovercolor="{{ slide.nav_hover }}">
          <div class="main-slider__item-info content__col" style="background-image: url({{ slide.background }});">
            <div class="main-slider__item-desc content__col">
              <div class="item-desc__wrap">
                <div class="about">
                  <!--<div class="about__name">{{ slide.head }}</div>-->
                  <a href="{{ slide.alias }}" class="about__name">
                    <img src="{{ slide.logo }}" alt="{{ slide.post }}">
                  </a>
                  
				  
                  <div class="about__post">{{ slide.post }}</div>
                </div>
                <div class="quotes">
                  {{ slide.quotes }}
                </div>
                <div class="main-slider__link">
                  <a href="{{ slide.alias }}" class="main-slider__btn_more" data-color="{{ slide.btn_color }}" data-hovercolor="{{ slide.btn_hover }}"><span>{{ slide.btn_link }}</span></a>
                </div>
              </div>
            </div>
          </div>
          <div class="main-slider__item-photo">
            <div class="main-slider__photo">
              <img src="{{ slide.img }}" alt="" class="main-slider__item-img">
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
