<div class="team section">
    <div class="wrapper">
        <div
            id="module_head_{{ params.id }}"
            class="title {% if wa_admin %} wa_admin{% endif %}{% if admin %} life_edit{% endif %}"
            {% if wa_admin %}
                data-id="{{ params.id }}"
                data-table="modules"
                data-field="head"
            {% endif %}>{{ params.head }}</div>
        <div
            id="module_body_{{ params.id }}"
            class="section__desc {% if wa_admin %} wa_admin{% endif %}{% if admin %} life_edit{% endif %}"
            {% if wa_admin %}
                data-id="{{ params.id }}"
                data-table="modules"
                data-field="body"
            {% endif %}>
            {{ params.body }}
        </div>

        <div class="team__slider">
            <div class="slider">
                <div class="slider__list team__list">
                    <a href="#" class="slider__item team__item">
                        <div class="team__img">
                            <img src="https://i.mycdn.me/image?id=848956528132&ts=000000000000a203b1&plc=WEB&tkn=*hIMU6nsG5BtrEzLu5a51QnLAhxM&fn=sqr_288" alt="" class="team__photo">
                        </div>
                        <div class="team__name">
                            <span class="team__surname">Фамилия</span>Имя Отчество
                        </div>
                        <div class="team__post">Директор</div>
                    </a>
                    <a href="#" class="slider__item team__item">
                        <div class="team__img">
                            <img src="https://i.mycdn.me/image?id=848956528132&ts=000000000000a203b1&plc=WEB&tkn=*hIMU6nsG5BtrEzLu5a51QnLAhxM&fn=sqr_288" alt="" class="team__photo">
                        </div>
                        <div class="team__name">
                            <span class="team__surname">Фамилия</span>Имя Отчество
                        </div>
                        <div class="team__post">Директор</div>
                    </a>
                    <a href="#" class="slider__item team__item">
                        <div class="team__img">
                            <img src="https://i.mycdn.me/image?id=848956528132&ts=000000000000a203b1&plc=WEB&tkn=*hIMU6nsG5BtrEzLu5a51QnLAhxM&fn=sqr_288" alt="" class="team__photo">
                        </div>
                        <div class="team__name">
                            <span class="team__surname">Фамилия</span>Имя Отчество
                        </div>
                        <div class="team__post">Директор</div>
                    </a>
                    <a href="#" class="slider__item team__item">
                        <div class="team__img">
                            <img src="https://i.mycdn.me/image?id=848956528132&ts=000000000000a203b1&plc=WEB&tkn=*hIMU6nsG5BtrEzLu5a51QnLAhxM&fn=sqr_288" alt="" class="team__photo">
                        </div>
                        <div class="team__name">
                            <span class="team__surname">Фамилия</span>Имя Отчество
                        </div>
                        <div class="team__post">Директор</div>
                    </a>
                </div>
            </div>
        </div>
        
    </div>
</div>
