<div class="about section">
    <div class="wrapper">
        <div
            id="module_head_{{ params.id }}"
            class="title {% if wa_admin %} wa_admin{% endif %}{% if admin %} life_edit{% endif %}"
            {% if wa_admin %}
                data-id="{{ params.id }}"
                data-table="modules"
                data-field="head"
            {% endif %}>{{ params.head }}</div>
        <div
            id="module_body_{{ params.id }}"
            class="seo__text inner__content {% if wa_admin %} wa_admin{% endif %}{% if admin %} life_edit{% endif %}"
            {% if wa_admin %}
                data-id="{{ params.id }}"
                data-table="modules"
                data-field="body"
            {% endif %}>
            {{ params.body }}
        </div>
    </div>
</div>
