{% include 'Block/Header' %}
    <div class="main_sticky main-inner_sticky">
				{% include 'Block/header_nav' %}
        <div class="head__section about-head__section">
            <div class="page__bg">
                <img src="{{ item.background }}" alt="" class="page__bg-img">
            </div>
            <div class="inner-wrapper about-head__wrap">
                <div class="content__col about-head__logos">
                    <div class="about">
                        <div class="about__name">{{ item.head }}</div>
                        <div class="about__post">{{ item.post }}</div>
                    </div>
                    <div class="projects__wrap content__col">
                        {% for logo_menu in item.logo_menu %}
                          <a href="{{ logo_menu.1 }}" class="projects__item">
                              <img src="/upload/modules/About/images/logo_menu/{{ logo_menu.2 }}" alt="" class="projects__logo">
                          </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
		{% block content %}

		{% endblock %}
{% include 'Block/Footer' %}
