{% include 'Block/Header' %}

<div class="main_sticky main-inner_sticky">
{% include 'Block/header_nav' %}
	<div class="head__section calendar-head__section">
		<div class="page__bg">
			<img src="/assets/public/img/calendar_bg.jpg" alt="" class="page__bg-img">
		</div>
		<div class="calendar-head__wrap">
			<div class="calendar-head__info">
				<div class="about">
					<div class="about__name">{{ document.head }}</div>
					<div class="about__post">с участием Ивана Зубарева</div>
				</div>
				<div class="calendar__link-btn">
					<a href="#event" class="calendar__btn brn_rhombus js-modal_open"><span>Пригласить Ивана на мероприятие</span></a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="main__inner">
	{% block content %}

	{% endblock %}
</div>

{% include 'Block/Footer' %}
