{% include 'Block/Header' %}



<div class="main_sticky">
{% include 'Block/header_nav' %}
<!--<div class="main__inner" style="">-->
    {% for module in modules %}
        {% set act    = module.module|split(',') %}
        {% set includ =  (act.0 != '') ? 'MainModules/'~act.0 : 'MainModules/Text' %}
        {% set params = {'id' : module.id, 'head' : module.head, 'body' : module.body, 'type': act.1} %}
        {% include includ with params %}
    {% endfor %}
<!--</div>-->



</div>

{% include 'Block/Footer' %}
