{% include 'Block/Header' %}
<div class="main_sticky main-page_sticky">
		{% include 'Block/header_nav' %}
</div>
<div class="main__inner">
		<div class="inner-wrapper">
				{% block content %}

				{% endblock %}
		</div>
</div>
{% include 'Block/Footer' %}
