{% include 'Block/Header' %}


    <div class="main_sticky main-inner_sticky">
				{% include 'Block/header_nav' %}


        <div class="head__section page-head__section">
            <a href="/" class="page__logo">
                <img src="{{ item.logo }}" alt="" class="page__logo-img">
            </a>
            <div class="page__bg">
                <img src="{{ item.background }}" alt="" class="page__bg-img">
            </div>
            <div class="inner-wrapper page-head__wrap">
                <div class="page-head__company">
                    <div class="about">
                        <div class="about__name">{{ item.head }}</div>
                        <div class="about__post">{{ item.post }}</div>
                    </div>

										<div class="numbers__wrap content__col">
											{% for numbers in item.info_in_head %}
                        <div class="number__item">
                            <div class="number__count"><span>{{ numbers.1 }}</span></div>
                            <div class="number__title">{{ numbers.2 }}</div>
                            <div class="number__desc">{{ numbers.3 }}</div>
                        </div>
											{% endfor %}
                    </div>
                    {% if item.link %}
                      <a href="{{ item.link }}" class="btn btn_border btn_rectangle btn_border_ondark" target="_blank" rel="nofollow noopener noreferrer">
                        Перейти на сайт
                      </a>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
		{% block content %}

		{% endblock %}




    {% include 'Block/Footer' %}
