			<div class="footer__menu">
				{% if menu %}
					<nav class="nav">
						<ul class="menu">
							{% for item in footermenu %}
								{% if item.active %}
									<li><a class="active" href="{{ item.fullpath }}">{{ item.head }}</a></li>
								{% else %}
									<li><a href="{{ item.fullpath }}">{{ item.head }}</a></li>
								{% endif %}
							{% endfor %}
						</ul>
					</nav>
				{% endif %}
			</div>
