{% if menu %}
<div class="menu">
	{% for item in menu %}
		{% if item.active %}
		<a href="{{ item.fullpath }}" class="menu__item active">{{ item.head }}</a>
		{% else %}
		<a href="{{ item.fullpath }}" class="menu__item">{{ item.head }}</a>
		{% endif %}
	{% endfor %}
</div>
{% endif %}