{% extends "Layout/Events" %}

{% block content %}
<!--
    <div class="inner__content">
			<div class="breadcrumbs">{% include 'Block/Breadcrumb' %}</div>
			<h1 id="news_head" class="{% if wa_admin %} wa_admin{% endif %}{% if admin %} life_edit{% endif %}" {% if admin %} data-id="{{ document.id }}" data-table="pages" data-field="head"{% endif %}>{{ document.head }}</h1>
			<div id="id_1" class="{% if wa_admin %} wa_admin{% endif %}{% if admin %} life_edit{% endif %}" {% if admin %}data-id="{{ document.id }}" data-table="pages" data-field="body"{% endif %}>
				{{ document.body }}
			</div>
			{% include 'News/List' %}
    </div> -->

    {% if future_events %}
        <div class="event__section event__section_new">
      		<div class="inner-wrapper">
      			<div class="title title_left">Ближайшие события</div>
				<div class="event__slider">
					<div class="event__list">
						<div class="event__wrap">
						{% for event in future_events %}
							<div class="event__item content__col">
								<div class="event__img-link">
    							<img src="{{ event.img }}" alt="" class="event__img">
                </div>
								<div class="event__info content__col">
									<div class="event__preview">
										<div class="event__title-link">{{ event.head }}</div>
										<div class="event__place">{{ event.place }}</div>
										<div class="event__desc">{{ event.body }}</div>
									</div>
									<div class="event__date-wrap">
										<div class="event__date_rhombus">
											<div class="event__date">
												<div class="date__num">{{ event.day }}</div>
												<div class="date__month">{{ event.month }}</div>
												<div class="date__year">{{ event.year }}</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
						</div>
					</div>
      			</div>
      		</div>
      	</div>
    {% endif %}
    
  	<div class="event__section event__section_old">
  		<div class="inner-wrapper">
  			<div class="title title_left">Прошедшие события</div>
  			<div class="event__wrap">
        {% for event in post_events %}
  				<div class="event__item content__col">
  					<div class="event__img-link">
  						<img src="{{ event.img }}" alt="" class="event__img">
  					</div>
  					<div class="event__info content__col">
  						<div class="event__preview">
  							<div class="event__title-link">{{ event.head }}</div>
  							<div class="event__place">{{ event.place }}</div>
  							<div class="event__desc">{{ event.body }}</div>
  						</div>
  						<div class="event__date-wrap">
  							<div class="event__date_rhombus">
  								<div class="event__date">
  									<div class="date__num">{{ event.day }}</div>
  									<div class="date__month">{{ event.month }}</div>
  									<div class="date__year">{{ event.year }}</div>
  								</div>
  							</div>
  						</div>
  					</div>
  				</div>
        {% endfor %}
  			</div>
  		</div>
  	</div>

{% endblock %}
