{% extends "Admin/Layout/Main" %}

{% block title %}Администрирование | Файлы{% endblock %}

{% block content %}
    <div class="filemanager-block">
        <iframe width="100%" height="600" src="/assets/elfinder/standalone.html" frameborder="0"> </iframe>
    </div>
{% endblock %}