{% extends "Admin/Crud/Edit" %}

{% block title %}Администрирование | Карта сайта{% endblock %}

{% block form %}

<p>
  Для отображения или скрытия пункта кликните по нему. Изменения сохранаются автоматически.
</p>

{{ sitemap }}


{% endblock %}
