
<div class="pagination">
    <div style='float: left; margin-bottom: 5px;'>
        <div class="pre_pagination">По</div>
        <select class="pagination_col" style="width: 60px; margin: 0;">
            <option value="10"  {% if pagination.params.page_col == 10 %}    selected="selected"{% endif %}>10</option>
            <option value="20"  {% if pagination.params.page_col == 20 %}    selected="selected"{% endif %}>20</option>
            <option value="100" {% if pagination.params.page_col == 100 %}   selected="selected"{% endif %}>100</option>
            <option value="all" {% if pagination.params.page_col == 'all' %} selected="selected"{% endif %}>все</option>
        </select>
    </div>
    <ul>
        {% if middle_pages|length %}
            {% if previous_page %}
                <li><a href="{{ pagination.url(previous_page)}}">«</a></li>
            {% endif %}

            {% if first_pages %}
                {% for _first in first_pages %}
                    <li><a href="{{ pagination.url(_first) }}">{{ _first }}</a></li>
                {% endfor %}
                <li><span>...</span></li>
            {% endif %}

            {% for _page, _active in middle_pages %}
                {% if _active %}
                    <li class="active"><a href="#">{{ _page }}</a></li>
                {% else %}
                    <li><a href="{{ pagination.url(_page) }}">{{ _page }}</a></li>
                {% endif %}
            {% endfor %}

            {% if last_pages %}
                <li><span>...</span></li>
                {% for _last in last_pages %}
                    <li><a href="{{ pagination.url(_last) }}">{{ _last }}</a></li>
                {% endfor %}
            {% endif %}

            {% if next_page %}
                <li><a href="{{ pagination.url(next_page)}}">»</a></li>
            {% endif %}
        {% endif %}

    </ul>
</div>
<div style='clear: both;'></div>
<script>
    $(document).ready(function(){
        {% if pagination.params.page_col == 'all' %}
            $('.pre_pagination').html('На странице');
        {% else %}
            $('.pre_pagination').html('По');
        {% endif %}
    });
    $('.pagination_col').change(function(){
        var val = $(this).val();
        $.cookie("pagination", val, {
            expires: 365 // раз в год
        });
        window.location = $('#breadcrumb_link').val()+'/list/page/1';
    });
</script>
