{% if total_pages > 1 %}
    <div class="pagination">
        <ul>
            {% if previous_page %}
                <li><a href="{{ pagination.url(previous_page) }}">«</a></li>
            {% endif %}

            {% for _page in 1..total_pages %}
                {% if _page == current_page %}
                    <li class="active"><a href="#">{{ _page }}</a></li>
                {% else %}
                    <li><a href="{{ pagination.url(_page) }}">{{ _page }}</a></li>
                {% endif %}
            {% endfor %}

            {% if next_page %}
                <li><a href="{{ pagination.url(next_page)}}">»</a></li>
            {% endif %}
        </ul>
    </div>
{% endif %}