{% extends "Admin/Crud/List" %}

{% block title %}Администрирование | Пользователи{% endblock %}

{% block content %}

    <table width="100%" cellpadding="0" cellspacing="1" class="table table-bordered">
        <thead>
        <tr>
            <th width="13"><input type="checkbox" onclick="Helper.checkAll(this);"/></th>

            <th>Логин</th>
            <th>ФИО</th>
            <th>Эл. почта</th>
            <th width="100">Активность</th>
            <th width="100">Действия</th>
        </tr>
        </thead>
        <tbody>

        {% if items|length > 0 %}
            {% for item in items %}
                <tr id="row_item_{{ item.id }}">
                    <td width="13"><input type="checkbox" id="i_del_{{ item.id }}"/></td>
                    <td> {{ item.username }}</td>
                    <td> {{ item.fio }}</td>
                    <td> {{ item.email }}</td>
                    <td width="100">
                        {% if item.hide %}
                            <a href="#" onclick="return Helper.setHide(this, '{{ item.id }}');">Не активен</a>
                        {% else %}
                            <a href="#" onclick="return Helper.setHide(this, '{{ item.id }}');">Активен</a>
                        {% endif %}
                    </td>
                    <td width="100">
                        <a class="btn btn-icon"
                           href="{{ get_route_uri('admin_base',{ 'controller' : admin.self, 'action': 'edit', 'filter' : {'id' : item.id } }) }}"
                           title="Редактировать"><i class="icon-pencil"></i></a>
                    </td>
                </tr>
            {% endfor %}

        {% else %}
            <tr>
                <td colspan="4">Пользователи не найдены</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
    {{ pagination }}

    <div class="actions-block">
        <div class="btn-group">
            <a class="btn btn-mini"
               href="{{ get_route_uri('admin_base',{ 'controller' : admin.self, 'action': 'create' }) }}">
                <i class="icon-plus-sign"></i> Добавить пользователя
            </a>
            {% if items|length > 0 %}
                <a class="btn btn-mini" href="#" onclick="return Helper.deleteItems();">
                    <i class="icon-remove-sign"></i> Удалить выбранных пользователей
                </a>
            {% endif %}
        </div>
    </div>

{% endblock %}