@font-face {
    font-family: 'helveticaneuecyrbold';
    src: url("fonts/helveticaneuecyr-bold-webfont.eot");
    src: url("fonts/helveticaneuecyr-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/helveticaneuecyr-bold-webfont.woff") format("woff"), url("fonts/helveticaneuecyr-bold-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneuecyrroman';
    src: url("fonts/helveticaneuecyr-roman-webfont.eot");
    src: url("fonts/helveticaneuecyr-roman-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/helveticaneuecyr-roman-webfont.woff") format("woff"), url("fonts/helveticaneuecyr-roman-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

body {
    color: #000;
    font: 14px/100% 'helveticaneuecyrroman', sans-serif;
}

h1 {
    color: #3e3e3e;
    margin-bottom: 25px;
    margin-top: 0;
    font-weight: normal;
    font-size: 29px;
    line-height: 100%;
}

h2 {
    font-size: 19px;
    line-height: 100%;
    font-family: 'helveticaneuecyrbold', Arial, sans-serif;
    color: #3e3e3e;
}

h3 {
    font-size: 15px;
    line-height: 100%;
    font-family: 'helveticaneuecyrbold', Arial, sans-serif;
    color: #3e3e3e;
}

a {
    color: #4d7ed6;
    text-decoration: underline;
}

a:hover {
    color: #4d7ed6;
    text-decoration: none;
}

img.float-left {
    float: left;
    padding-right: 15px;
}

img.float-rigth {
    float: right;
    padding-left: 15px;
}

p {
    margin-bottom: 20px;
    line-height: 20px;
}

.content-title-icon img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.content-title-icon h2 {
    display: inline-block;
    vertical-align: middle;
    width: 90%;
}

ul {
    padding: 0;
    margin: 25px 0;
    list-style: none;
}

ul li {
    padding-bottom: 20px;
    line-height: 20px;
}

ul li:before {
    content: "\2022";
    color: #f90000;
    padding-right: 5px;
}

ul li:last-child {
    padding-bottom: 0;
}

ul.iconic li img {
    padding-right: 5px;
}

ul.iconic li:before {
    content: "" !important;
}

.content-stock {
    border: 1px dotted #c9c9c9;
    padding: 20px 35px;
    margin-bottom: 20px;
}

.content-stock .content-stock-inner {
    min-height: 86px;
}

.content-stock .content-stock-inner img {
    float: left;
    margin-right: 27px;
}

.content-stock .content-stock-inner .content-stock-head {
    color: #ff0007;
    font-size: 25px;
    margin-bottom: 13px;
    line-height: 100%;
}

.content-stock .content-stock-inner .content-stock-text {
    font-size: 16px;
    line-height: 20px;
    color: #3e3e3e;
}