<div class="products products_catalog" id="catalog">
    <div v-if="catalog">

        {% include 'Catalog/Filter' %}

        <hr style="margin: 20px 0;">

        {% include 'Catalog/Pagination' %}

        <hr style="margin: 20px 0;">

            <transition-group name="fade" tag="div">
                <div class="news__item" v-for="item in collection" v-bind:key="item.id">
            		<div class="news__image">
            			<img :src="item.img || '/assets/public/images/no-photo.png'" :alt="item.head" class="news__img">
            		</div>
                    <div class="news__content">
            			<div
                            :id="'price_' + item.id"
                            class="news__date{% if wa_admin %} wa_admin{% endif %}{% if admin %} life_edit{% endif %}"
                            {% if wa_admin %}
                                :data-id="item.id"
                                data-table="{{ table }}"
                                data-field="price"
                            {% endif %}>[[ item.price ]]</div>
                        <a :href="item.fullpath" class="news__title">[[ item.head ]]</a>

                            <table>
                                <tr>
                                    <td width="200"><strong>Отрасль</strong></td>
                                    <td
                                        :id="'industry_' + item.id"
                                        class="news__preview{% if wa_admin %} wa_admin{% endif %}{% if admin %} life_edit{% endif %}"
                                        {% if wa_admin %}
                                            :data-id="item.id"
                                            data-table="{{ table }}"
                                            data-field="industry"
                                        {% endif %}>[[ item.industry ]]</td>
                                </tr>
                                <tr>
                                    <td><strong>Назначение</strong></td>
                                    <td
                                        :id="'functions_' + item.id"
                                        class="news__preview{% if wa_admin %} wa_admin{% endif %}{% if admin %} life_edit{% endif %}"
                                        {% if wa_admin %}
                                            :data-id="item.id"
                                            data-table="{{ table }}"
                                            data-field="functions"
                                        {% endif %}>[[ item.functions ]]</td>
                                </tr>
                                <tr>
                                    <td><strong>Продукт</strong></td>
                                    <td
                                        :id="'product_' + item.id"
                                        class="news__preview{% if wa_admin %} wa_admin{% endif %}{% if admin %} life_edit{% endif %}"
                                        {% if wa_admin %}
                                            :data-id="item.id"
                                            data-table="{{ table }}"
                                            data-field="product"
                                        {% endif %}>[[ item.product ]]</td>
                                </tr>
                            </table>


                    </div>
                </div>
            </transition-group>

        <div v-if="count === 0">Нет ничо</div>
    </div>
    <div v-else> Загрузка каталога…</div>

</div>
