<table>
    <thead>
        <tr>
            <td>По Названию</td>
            <td>По отрасли</td>
            <td>По назначению</td>
            <td>По продукту</td>
        </tr>
    </thead>
    <tr>
        <td>
            <input
                type="text"
                class="form__input"
                placeholder="Введите название"
                data-pls="Введите название"
                {# @keyup="totalFilter({ 'industry': 'industryFilter', 'functions': 'functionsFilter', 'product': 'productFilter' })"#}
                @keyup="totalFilter('text')"
                v-model="search">
                <div style="margin-top: 20px;">
                    <span class="input__check">
                        <input
                            id="adaptive_filter"
                            class="form__input"
                            type="checkbox"
                            v-model="adaptive_filter"
                            @change="totalFilter('text')">
                            <label for="adaptive_filter">Включить зависимости фильтра</label>
                        <span></span>
                    </span>
                </div>
        </td>
        <td>
            <transition name="slide-string">
                <div v-if="!industryFilter.length">
                    <i>Нет подходящих параметров</i>
                </div>
            </transition>
            <transition-group name="slide-string" tag="div">
                <span v-for="(f_item, key, index) in industryFilter" :key="key" style="display: block">
                    <input style="display: none"
                           :id="index+'_'+key+'_industry'"
                           type="checkbox"
                           @change="totalFilter('industry')"
                           :value="f_item.title"
                           v-model="selectedIndustry">
                    <label class="filtr_label" :for="index+'_'+key+'_industry'">
                        <span class="filtr_label_title">[[ f_item.title ]]</span>
                        <span>([[ f_item.count ]])</span>
                    </label>
                </span>
            </transition-group>
        </td>
        <td>
            <transition name="slide-string">
                <div v-if="!functionsFilter.length">
                    <i>Нет подходящих параметров</i>
                </div>
            </transition>
            <transition-group name="slide-string" tag="div">
                <span v-for="(f_item, key, index) in functionsFilter" :key="key" style="display: block">
                    <input style="display: none"
                           :id="index+'_'+key+'_functions'"
                           type="checkbox"
                           @change="totalFilter('functions')"
                           :value="f_item.title"
                           v-model="selectedFunctions">
                    <label class="filtr_label" :for="index+'_'+key+'_functions'">
                        <span class="filtr_label_title">[[ f_item.title ]]</span>
                        <span>([[ f_item.count ]])</span>
                    </label>
                </span>
            </transition-group>
        </td>
        <td>
            <transition name="slide-string">
                <div v-if="!productFilter.length">
                    <i>Нет подходящих параметров</i>
                </div>
            </transition>
            <transition-group name="slide-string" tag="div">
                <span v-for="(f_item, key, index) in productFilter" :key="key" style="display: block">
                    <input style="display: none"
                           :id="index+'_'+key+'_product'"
                           type="checkbox"
                           @change="totalFilter('product')"
                           :value="f_item.title"
                           v-model="selectedProduct">
                    <label class="filtr_label" :for="index+'_'+key+'_product'">
                        <span class="filtr_label_title">[[ f_item.title ]]</span>
                        <span>([[ f_item.count ]])</span>
                    </label>
                </span>
            </transition-group>
        </td>
    </tr>
</table>
<div  style="height: 50px;">
    <transition name="slide-string">
        <div v-if="search.length > 0">
            <strong>Показаны результаты по совпадению с </strong>
            <span >«[[ search ]]»</span>
        </div>
    </transition>

    <transition name="slide-string">
        <div v-if="selectedIndustry.length + selectedFunctions.length + selectedProduct.length > 0">
            <strong>Показаны результаты из категорий: </strong>
            <transition-group name="slide-string" tag="span">
                <span v-for="(item, index) in selectedIndustry" :key="index">[[ item ]] </span>
            </transition-group>
            <transition-group name="slide-string" tag="span">
                <span v-for="(item, index) in selectedFunctions" :key="index">[[ item ]] </span>
            </transition-group>
            <transition-group name="slide-string" tag="span">
                <span v-for="(item, index) in selectedProduct" :key="index">[[ item ]] </span>
            </transition-group>
        </div>
    </transition>

        <div v-html="computedCount"></div>

</div>
