{% extends "Layout/Page" %}

{% block meta %}
    {% if index %}
        <meta name="keywords" content="{{ document.keywords }}" />
        <meta name="description" content="{{ document.description }}{% if page != 1 %} Страница {{page}}.{% endif %}" />
    {% else %}
        <meta name="keywords" content="{{ item.keywords }}" />
        <meta name="description" content="{{ item.description }}" />
    {% endif %}
{% endblock %}


{% block title %}
    {% if index %}{{ document.title|default(document.head) }}{% else %}{{ item.title|default(item.head) }}{% endif %}
{% endblock %}

{% block content %}
     {% if index %}
     <div class="inner__content">
         <div class="breadcrumbs">{% include 'Block/Breadcrumb' %}</div>
         <h1
            id="news_head"
            class="{% if wa_admin %} wa_admin{% endif %}{% if admin %} life_edit{% endif %}"
            {% if admin %}
                data-id="{{ document.id }}"
                data-table="pages"
                data-field="head"
            {% endif %}
         >{{ document.head }}</h1>
         <div
            id="id_1"
            class="{% if wa_admin %} wa_admin{% endif %}{% if admin %} life_edit{% endif %}"
            {% if admin %}
                data-id="{{ document.id }}"
                data-table="pages"
                data-field="body"
            {% endif %}
         >
             {{ document.body }}
         </div>

             {% include 'Catalog/Catalog' %}


     </div>
    {% else %}
        <div class="inner__content">
            <div class="breadcrumbs">{% include 'Block/Breadcrumb' %}</div>
            <h1
                id="news_head"
                class="{% if wa_admin %} wa_admin{% endif %}{% if admin %} life_edit{% endif %}"
                {% if admin %}
                    data-id="{{ item.id }}"
                    data-table="pages"
                    data-field="head"
                {% endif %}
            >{{ item.head }}</h1>
            <div
                id="id_1"
                class="{% if wa_admin %} wa_admin{% endif %}{% if admin %} life_edit{% endif %}"
                {% if admin %}
                    data-id="{{ item.id }}"
                    data-table="pages"
                    data-field="body"{% endif %}
            >
                {{ item.body }}
            </div>
            {{ item.articul }} <br />
            {{ item.industry }} <br />
            {{ item.function }} <br />
            {{ item.product }} <br />


        </div>
    {% endif %}

{% endblock %}
