<div style="height: 60px;">
    <div>
        <strong>Показать по </strong>
        <input
            style="width: 65px; margin: -10px 12px;"
            class="form__input"
            type="number"
            min="1"
            placeholder="Кол-во"
            data-pls="Кол-во"
            v-model="perPage"
            @click="setPage(1)"
            @keyup="setPage(1)"
            @mousewheel="setPage(1)"
        >
    </div>
    <transition name="slide-string">
        <div v-if="pagination.page_count > 1" style="margin-top: 25px;">
            <transition-group name="slide-string" tag="div">
                <span
                    :key="p"
                    class="page"
                    v-for="p in pagination.pages"
                    @click="setPage(p)"
                    :class="(pagination.currentPage == p) ? 'current' : ''">[[ p ]]</span>
            </transition-group>
            <span style="display: block;margin-top: 25px;">
                <strong>Результаты</strong> с [[ pagination.startIndex+1 ]] по [[ pagination.endIndex+1 ]].
            </span>
        </div>
    </transition>
</div>
