a:hover,
a:active,
a.active,
.breadcrumbs a:hover,
.breadcrumbs span,
.breadcrumbs span,
.news__title,
input[type="checkbox"]:checked+.filtr_label .filtr_label_title,
input[type="checkbox"]+.filtr_label .filtr_label_title:hover {
    color: #aa2525;
}

.icon {
    fill: #aa2525;
}


.input__check input:checked:after,
.input__radio input:checked:after {
    border-left: 3px solid #aa2525;
    border-bottom: 3px solid #aa2525;
}

.inner__content thead,
.btn,
.input__radio input:checked:after,
.social__link:hover,
.reviews__rating,
.page.current {
    background-color: #aa2525;
}

.form__item select[multiple]:focus option:checked {
    background: #aa2525 linear-gradient(0deg, #aa2525 0%, #aa2525 100%);
}

.agreement__label:after,
.input__radio input:checked:after {
    border-color: #aa2525;
}

.social__link {
    border: 2px solid #aa2525;
}


.team__item:hover .team__img,
.page {
    border: 1px solid #aa2525;
}

.owl-nav button:before {
    border-top: 3px solid #aa2525;
    border-left: 3px solid #aa2525;
}

.owl-dot:hover, .owl-dot.active {
    background: #aa2525;
}

.page:hover {
    outline: 1px solid #aa2525;
}