@charset "UTF-8";
@font-face {
  font-family: "ProximaNovaRegular";
  src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot");
  src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaRegular/ProximaNovaRegular.woff") format("woff"), url("../fonts/ProximaNovaRegular/ProximaNovaRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ProximaNovaBold";
  src: url("../fonts/ProximaNovaBold/ProximaNovaBold.eot");
  src: url("../fonts/ProximaNovaBold/ProximaNovaBold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaBold/ProximaNovaBold.woff") format("woff"), url("../fonts/ProximaNovaBold/ProximaNovaBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ProximaNovaBlack";
  src: url("../fonts/ProximaNovaBlack/ProximaNovaBlack.eot");
  src: url("../fonts/ProximaNovaBlack/ProximaNovaBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaBlack/ProximaNovaBlack.woff") format("woff"), url("../fonts/ProximaNovaBlack/ProximaNovaBlack.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ProximaNovaLight";
  src: url("../fonts/ProximaNovaLight/ProximaNovaLight.eot");
  src: url("../fonts/ProximaNovaLight/ProximaNovaLight.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaLight/ProximaNovaLight.woff") format("woff"), url("../fonts/ProximaNovaLight/ProximaNovaLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.content__col, .slider__nav, .form__row, .calendar-head__wrap, .about-head__wrap, .page-head__wrap {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

.footer__wrap, .header__wrap, .form__row, .articles__wrap, .numbers__wrap, .quotes__wrap, .form__main-inputs {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.logo__img, .main-slider__item-img, .event__img, .video-slider__nav-img-preview, .instagram__img, .page__bg-img, .page__logo-img, .photogallery-slider__item-img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%; }

.instagram__img,
.article__img img {
  object-position: top center;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.nav__overlay, .nav__overlay::before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.main_sticky, .main-slider .slick-list,
.main-slider .slick-track, .slider__item__wrap, .main-slider, .main-slider__item {
  height: 100vh; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  height: 100%;
  font-size: 100%;
  font-family: "ProximaNovaRegular";
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%; }

body {
  height: 100%;
  background-color: #242222;
  color: #fff;
  font-size: 14px; }
  body.js-scroll {
    overflow: hidden; }

.wrapper {
  margin: 0 auto;
  max-width: 1920px;
  padding: 0 60px;
  position: relative; }

.inner-wrapper {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 60px;
  position: relative; }

.clearfix::after {
  content: '';
  clear: both;
  display: table; }

img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  display: block; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

a {
  display: inline-block;
  text-decoration: none;
  line-height: 1;
  color: #7f7f7f;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s; }
  a:hover, a:active, a.active {
    color: #42c6fb; }

input,
textarea {
  line-height: 1;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s; }

.btn {
  cursor: pointer;
  display: block;
  width: fit-content;
  text-align: center;
  white-space: nowrap;
  position: relative;
  z-index: 5; }
  .btn.disabled {
    background-color: #8f8f8f;
    pointer-events: none; }
  .btn.error {
    background-color: #d73318;
    pointer-events: none; }

.btn_radius {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.brn_rhombus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg); }
  .brn_rhombus span {
    display: block;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(-45deg);
    -moz-transform: translateY(-50%) rotate(-45deg);
    transform: translateY(-50%) rotate(-45deg);
    text-align: center; }

.btn_rectangle {
  font-size: 22px;
  padding: 17px 45px; }

.btn_border {
  border: 1px solid;
  padding: 12px 45px; }

.btn_blue {
  color: #fff;
  background-color: #08acfd; }
  .btn_blue:hover {
    color: #fff;
    background-color: #0990c7; }

.btn_center {
  margin: 0 auto; }

.btn_border_onlight {
  color: #1c1b1b;
  border-color: rgba(0, 0, 0, 0.5); }
  .btn_border_onlight:hover {
    color: #1c1b1b;
    border-color: #1c1b1b; }

.btn_border_ondark {
  color: #fff;
  border-color: rgba(255, 255, 255, 0.5); }
  .btn_border_ondark:hover {
    color: #fff;
    border-color: #fff; }

input.btn {
  border: 0; }
  input.btn:focus {
    outline: 0; }

.icon {
  display: block;
  fill: #08acfd;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s; }
.hidden {display: none;}
.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 36px;
  font-family: "ProximaNovaLight";
  line-height: 1;
  margin: 0 0 60px;
  position: relative;
  z-index: 2; }
  .title span {
    display: block; }

.title_left {
  text-align: left;
  font-size: 40px;
}

.title_lowercase {
  text-transform: none;
  margin: 0 0 30px; }

.main_sticky {
  position: relative;
  min-height: 100%;
  margin-bottom: -41px; }
  .main_sticky::after {
    content: '';
    display: block;
    height: 41px; }

.main__inner {
  overflow: hidden; }

.footer {
  background-color: #242222;
  opacity: .5;
  font-size: 14px;
  padding: 12px 0px;
  z-index: 10; }

.footer_sticky {
  height: 41px;
  position: relative; }

.privacy__link {
  padding: 0 10px; }
  .privacy__link:not(:last-of-type) {
    border-right: 1px solid #7f7f7f; }

.header {
  padding: 40px 0;
  background: transparent;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0; }

.header__wrap {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center; }

.header-logo {
  z-index: 10;  }

.logo__link {
  display: block;
  width: 177px;
  height: 15px; }

.logo__img {
  display: block; }

.nav_toggle {
  z-index: 30;
  cursor: pointer;
  background-color: #242222;
  width: 40px;
  height: 40px;
  position: relative;
  line-height: normal;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }
  .nav_toggle:hover, .nav_toggle.js-menu__open {
    background-color: #33a0cc; }
  .nav_toggle span {
    content: '';
    cursor: pointer;
    display: block;
    position: absolute;
    top: 18px;
    left: 11px;
    opacity: 1;
    height: 3px;
    width: 18px;
    background: #fff;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s; }
    .nav_toggle span::before, .nav_toggle span::after {
      content: '';
      position: absolute;
      display: block;
      cursor: pointer;
      opacity: 1;
      height: 3px;
      width: 18px;
      background: #fff;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      transition: 0.5s; }
    .nav_toggle span::before {
      top: -8px; }
    .nav_toggle span::after {
      bottom: -8px; }
  .nav_toggle.js-menu__open span {
    background-color: transparent; }
    .nav_toggle.js-menu__open span::before, .nav_toggle.js-menu__open span::after {
      top: 0; }
    .nav_toggle.js-menu__open span::before {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      transform: rotate(45deg); }
    .nav_toggle.js-menu__open span::after {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      transform: rotate(-45deg); }

.nav__overlay {
  background: url(../img/menu-bg.jpg) #242222 center center no-repeat;
  background-size: cover;
 /* -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;*/
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  z-index: 20; }
  .nav__overlay {
    left: initial;
    right: -100%;
    visibility: visible;
    opacity: 0.75; }
  /*.nav__overlay.js-menu__open {
    opacity: 1;
    visibility: visible; }*/
  .nav__overlay::before {
    content: '';
    display: block;
    background: url(../img/bg_line.png) rgba(36, 34, 34, 0.9) no-repeat left bottom;
    background-size: contain; }

.nav {
  position: relative;
  margin-top: 10%; }

.nav_left {
  width: 50%;
  padding: 0 100px 0 0;
  text-align: right; }

.nav_right {
  width: 50%;
  padding: 0 0 0 100px;
  font-size: 18px; }

.social {
  margin: 0 0 35px; }

.social__link {
  display: block; }
  .social__link:not(:last-of-type) {
    margin: 0 12px 0 0; }
  .social__link .icon {
    display: block;
    width: 35px;
    height: 35px;
    fill: #33a0cc; }
  .social__link:hover .icon {
    fill: #08acfd; }

.about {
  line-height: 1;
  font-family: "ProximaNovaLight"; }

.about__name {
  font-size: 40px;
  text-transform: uppercase;
  margin: 12px 0 25px; }

.about__post {
  font-size: 18px;
  opacity: .5; }

.menu {
  padding: 0 0 50px;
  margin: 0 0 30px;
  border-bottom: 1px solid #7f7f7f; }

.menu__item {
  display: block;
  width: fit-content;
  color: #fff;
  position: relative; }
.menu__item {
  opacity: 0;
  transform: matrix(0.8, 0, 0, 0.8, 100, 0);
  transition: 360ms;
}
  .menu__item:not(:last-of-type) {
    margin: 0 0 35px; }
  .menu__item:before {
    content: '♦';
    display: block;
    position: absolute;
    left: -20px;
    color: transparent;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s; }
  .menu__item:hover:before,
  .menu__item.active:before {
    color: #42c6fb; }

  /*.nav_contacts {
    opacity: 0;
    transform: matrix(0.8, 0, 0, 0.8, -80, 30);
    transition: 300ms;
  }*/

.contact-links__title {
  opacity: .5;
  margin: 0 0 12px; }

.contact-links__phone {
  display: block;
  font-size: 20px;
  color: #fff; }

.slider__wrap {
  position: relative; }

.slider {
  overflow: hidden; }

.slider__item__wrap {
  white-space: nowrap;
  overflow: hidden; }

.slider__item {
  width: 100%;
  vertical-align: top;
  white-space: normal;
  display: inline-block; }
  .slider__item:focus {
    outline: 0; }

.slider__nav {
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  width: calc(40% + 40px);
  top: 205px;
  z-index: 1; }

.slick-arrow {
  display: block;
  background: transparent;
  border: 0;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s; }
  .slick-arrow:focus {
    outline: 0; }

.slick-slide:focus {
  outline: 0; }

.slick-dots {
  text-align: center;
  margin: 40px auto 0; }
  .slick-dots li {
    display: inline-block;
    margin: 0 7px; }
    .slick-dots li button {
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      transition: 0.5s;
      background-color: #f4c7c6;
      border: 0;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      cursor: pointer;
      color: transparent;
      width: 12px;
      height: 12px; }
      .slick-dots li button:focus {
        outline: 0; }
      .slick-dots li button:hover {
        background-color: #d94542; }
    .slick-dots li.slick-active button {
      background-color: #d94542; }

.gallery-slider__arrow {
  position: absolute;
  top: calc(50% - 35px);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 1px solid #d94542;
  width: 35px;
  height: 35px; }
  .gallery-slider__arrow:hover {
    border-color: #1d2637; }
    .gallery-slider__arrow:hover::before {
      border-color: #1d2637; }
  .gallery-slider__arrow::before {
    content: '';
    position: absolute;
    border-top: 1px solid #d94542;
    border-left: 1px solid #d94542;
    width: 10px;
    height: 10px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s; }

.truba-photogallery__section .slick-dots li button {
  background-color: #f4c7c6; }
  .truba-photogallery__section .slick-dots li button:hover {
    background-color: #d94542; }

.truba-photogallery__section .slick-dots li.slick-active button {
  background-color: #d94542; }

.truba-photogallery__section .gallery-slider__arrow {
  border-color: #d94542; }
  .truba-photogallery__section .gallery-slider__arrow:hover {
    border-color: #1d2637; }
    .truba-photogallery__section .gallery-slider__arrow:hover::before {
      border-color: #1d2637; }
  .truba-photogallery__section .gallery-slider__arrow::before {
    border-color: #d94542;
    border-color: #d94542; }

.business-photogallery__section .slick-dots li button {
  background-color: #8d8d8d; }
  .business-photogallery__section .slick-dots li button:hover {
    background-color: #22b9e1; }

.business-photogallery__section .slick-dots li.slick-active button {
  background-color: #22b9e1; }

.business-photogallery__section .gallery-slider__arrow {
  border-color: #8d8d8d; }
  .business-photogallery__section .gallery-slider__arrow:hover {
    border-color: #22b9e1; }
    .business-photogallery__section .gallery-slider__arrow:hover::before {
      border-color: #22b9e1; }
  .business-photogallery__section .gallery-slider__arrow::before {
    border-color: #8d8d8d;
    border-color: #8d8d8d; }

.fb-photogallery__section .slick-dots li button {
  background-color: #a684ff; }
  .fb-photogallery__section .slick-dots li button:hover {
    background-color: #422789; }

.fb-photogallery__section .slick-dots li.slick-active button {
  background-color: #422789; }

.fb-photogallery__section .gallery-slider__arrow {
  border-color: #a684ff; }
  .fb-photogallery__section .gallery-slider__arrow:hover {
    border-color: #422789; }
    .fb-photogallery__section .gallery-slider__arrow:hover::before {
      border-color: #422789; }
  .fb-photogallery__section .gallery-slider__arrow::before {
    border-color: #a684ff;
    border-color: #a684ff; }

.rocket-photogallery__section .slick-dots li button {
  background-color: #b3e3ef; }
  .rocket-photogallery__section .slick-dots li button:hover {
    background-color: #04a2cb; }

.rocket-photogallery__section .slick-dots li.slick-active button {
  background-color: #04a2cb; }

.rocket-photogallery__section .gallery-slider__arrow {
  border-color: #b3e3ef; }
  .rocket-photogallery__section .gallery-slider__arrow:hover {
    border-color: #04a2cb; }
    .rocket-photogallery__section .gallery-slider__arrow:hover::before {
      border-color: #04a2cb; }
  .rocket-photogallery__section .gallery-slider__arrow::before {
    border-color: #b3e3ef;
    border-color: #b3e3ef; }

.gallery-slider-prev {
  left: -55px; }
  .gallery-slider-prev::before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 11px;
    right: 9px; }

.gallery-slider-next {
  right: -55px; }
  .gallery-slider-next::before {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    transform: rotate(135deg);
    top: 11px;
    left: 9px; }

.main-slider__arrow {
  position: relative;
  width: 40px;
  height: 40px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  border: 2px solid #33a0cc;
  background-color: transparent; }
  .main-slider__arrow:hover {
    background-color: #33a0cc; }
  .main-slider__arrow::before {
    content: '';
    position: absolute;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    width: 15px;
    height: 15px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s; }

.main-slider-prev {
  margin: 0 32px 0 0; }
  .main-slider-prev::before {
    -webkit-transform: rotate(-88deg);
    -moz-transform: rotate(-88deg);
    transform: rotate(-88deg);
    bottom: 11px;
    right: 8px; }

.main-slider-next::before {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 11px;
  left: 8px; }

.main-slider {
  z-index: 5;
  position: relative;
  height: 100%;
  min-height: 100%;
  width: 100%;
  margin-bottom: -41px;
  overflow: hidden;
  /*&::after {
        content: '';
        display: block;
        height: 41px;
    }*/ }

.main-slider__item {
  position: relative;
  display: -webkit-flex !important;
  display: -moz-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  height: 100%; }

.main-slider__item-info {
  position: relative;
  overflow: hidden;
  width: 40%;
  background-color: #242222;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right top;
  /*background-position: left bottom;*/
  /*background-image: url(../img/bg_line.png);*/
  padding: 40px 40px 0 60px; }

.main-slider__item-desc {
  /*padding: 95px 0 0;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;*/ }

.item-desc__wrap {
  width: 340px;
  /*max-width: 380px;*/
  z-index: 2; }

.main-slider__item-logo {
  height: 185px;
  position: relative;
  z-index: 2; }

.main-slider__item-photo {
  width: 60%; }

.main-slider__photo {
  width: 100%;
  height: 100%; }

.main-slider__item-img {
  display: block;
  width: auto;
  min-width: 100%; }

.main-slider__link {
  padding: 30px; }

.main-slider__btn_more {
  display: block;
  color: #fff;
  background-color: #33a0cc;
  width: 110px;
  height: 110px;
  border: 2px solid #fff;
  font-size: 16px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg); }
  .main-slider__btn_more:focus {
    outline: 0; }
  .main-slider__btn_more:hover {
    color: #fff;
    background-color: #0990c7; }
  .main-slider__btn_more span {
    display: block;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(-45deg);
    -moz-transform: translateY(-50%) rotate(-45deg);
    transform: translateY(-50%) rotate(-45deg);
    text-align: center; }
    .main-slider__btn_more span::before, .main-slider__btn_more span::after {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      transform: translateX(-50%);
      border: 1px solid #fff;
      width: 30px;
      margin: 0 auto; }
    .main-slider__btn_more span::before {
      top: -15px; }
    .main-slider__btn_more span::after {
      bottom: -15px; }

.main-slider__item-desc .about {
  margin: 0 0 40px; }

.quotes {
  font-size: 18px;
  font-family: "ProximaNovaLight";
  margin: 0 0 45px; }

.modal__overlay {
  display: none;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  border: 0;
  left: 0;
  z-index: 10;
  height: 100%;
  width: 100%; }

.modal {
  display: none;
  position: fixed;
  max-width: 950px;
  width: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #fff;
  color: #1c1b1b;
  z-index: 15;
  padding: 60px 70px 45px;
  overflow-y: auto;
  max-height: 100%;
  font-family: "ProximaNovaLight";
  text-align: center; }
  .modal::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border: solid transparent;
    height: 0;
    width: 0;
    border-color: transparent;
    border-top-color: #33a0cc;
    border-width: 30px;
    margin-left: -30px; }

.modal__close {
  cursor: pointer;
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  right: 25px;
  top: 25px; }
  .modal__close::before, .modal__close::after {
    content: '';
    position: absolute;
    left: 15px;
    top: 0;
    height: 30px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s; }
  .modal__close::before {
    border-left: 2px solid #b2b2b2;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .modal__close::after {
    border-right: 2px solid #b2b2b2;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg); }
  .modal__close:hover::before, .modal__close:hover::after {
    border-color: #1c1b1b; }

.modal__title {
  font-size: 36px;
  text-transform: uppercase;
  line-height: 1;
  margin: 0 0 20px; }

.modal__desc {
  font-size: 18px;
  line-height: 1;
  margin: 0 0 30px; }

.form__row:not(:last-of-type) {
  margin: 0 0 20px; }

.form__col_third {
  width: 32%; }

.form__col_half {
  width: 66%; }

.form__label {
  width: 100%;
  position: relative; }
  .form__label .icon {
    display: block;
    position: absolute;
    top: -5px;
    right: 10px;
    width: 24px;
    height: 24px;
    fill: #b2b2b2; }

.form__input {
  width: 100%;
  font-size: 15px;
  font-family: "ProximaNovaLight";
  line-height: 1;
  border: 1px solid #d1d1d1;
  padding: 15px 20px; }
  .form__input:focus {
    outline: 0;
    border-color: #1c1b1b;
    color: #1c1b1b; }
  .form__input.error {
    border-color: #d73318; }

.form__text {
  resize: none;
  height: 120px;
  overflow-y: auto;
  width: 100%; }

.btn_modal {
  font-size: 16px;
  padding: 16px 45px;
  color: #fff;
  background-color: #33a0cc; }

.agreement {
  margin: 20px 0;
  font-size: 14px;
  color: #1c1b1b; }
  .agreement a {
    color: #33a0cc; }
    .agreement a:hover {
      color: #1c1b1b; }

.custom-select__option--value,
.custom-select--active .custom-select__option--value,
.custom-select__dropdown,
.custom-select__option {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-size: 15px;
  font-family: "ProximaNovaLight";
  line-height: 1;
  border-color: #d1d1d1;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s; }

.custom-select__option--value,
.custom-select--active .custom-select__option--value {
  padding: 15px 20px;
  height: 50px; }

.custom-select__option:hover,
.custom-select__option:focus {
  background-color: #fff; }

.custom-select__option:focus,
.custom-select__dropdown {
  border-color: #1c1b1b; }

.calendar-head__section {
  position: relative;
  height: calc(100vh - 41px); }
  .calendar-head__section::before {
    content: '';
    position: absolute;
    display: block;
    width: 300px;
    height: 300px;
    border: 1px solid #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 1;
    border-color: #fff;
    opacity: 0.1;
    top: 150px;
    left: -155px; }
  .calendar-head__section::after {
    content: '';
    position: absolute;
    display: block;
    width: 800px;
    height: 800px;
    border: 1px solid #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    border-color: #fff;
    opacity: 0.1;
    bottom: 250px;
    left: -410px; }
  .calendar-head__section .page__bg::after {
    content: '';
    position: absolute;
    display: block;
    width: 640px;
    height: 640px;
    border: 1px solid #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 1;
    border-color: #fff;
    opacity: 0.1;
    bottom: -221px;
    left: -410px; }

.calendar-head__wrap {
  position: relative;
  height: calc(100vh - 41px);
  max-width: 750px;
  background-color: rgba(36, 34, 34, 0.9);
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
  padding: 0 100px 0 0; }
  .calendar-head__wrap::before {
    content: '';
    position: absolute;
    display: block;
    width: 600px;
    height: 600px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 1;
    background-color: #33a0cc;
    bottom: -199px;
    left: -410px; }
  .calendar-head__wrap::after {
    content: '';
    position: absolute;
    display: block;
    width: 200px;
    height: 200px;
    border: 1px solid #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 1;
    border-color: #fff;
    opacity: 0.1;
    top: -120px;
    left: 30%; }

.calendar-head__info {
  position: relative;
  z-index: 1;
  max-width: 330px;}
  .calendar-head__info .about {
    margin: 0 0 50px; }

.calendar__link-btn {
  padding: 30px; }

.calendar__btn {
  width: 140px;
  height: 140px;
  font-size: 16px;
  border: 2px solid #fff;
  background-color: #33a0cc;
  color: #fff; }
  .calendar__btn:hover {
    color: #fff;
	background-color: #0990c7;}
  .calendar__btn span {
    position: relative; }
    .calendar__btn span::before, .calendar__btn span::after {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      transform: translateX(-50%);
      border: 1px solid #fff;
      width: 30px;
      margin: 0 auto; }
    .calendar__btn span::before {
      top: -15px; }
    .calendar__btn span::after {
      bottom: -15px; }

.event__section {
  padding: 95px 0 105px;
  position: relative; }

.event__section_new {
  background-color: #2f2d2d; }
  .event__section_new::before {
    content: '';
    position: absolute;
    display: block;
    width: 300px;
    height: 300px;
    border: 1px solid #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 1;
    border-color: #fff;
    opacity: 0.1;
    top: 215px;
    left: -210px; }
  .event__section_new::after {
    content: '';
    position: absolute;
    display: block;
    width: 400px;
    height: 400px;
    border: 1px solid #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 1;
    border-color: #fff;
    opacity: 0.1;
    bottom: -250px;
    left: -200px; }
  .event__section_new .inner-wrapper {
    position: relative;
    z-index: 2; }
    .event__section_new .inner-wrapper::before {
      content: '';
      position: absolute;
      display: block;
      width: 600px;
      height: 600px;
      border: 1px solid #fff;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      transform: rotate(45deg);
      z-index: 1;
      border-color: #fff;
      opacity: 0.1;
      top: -30px;
      left: -650px;
      z-index: 0; }
    .event__section_new .inner-wrapper::after {
      content: '';
      position: absolute;
      display: block;
      width: 800px;
      height: 800px;
      border: 1px solid #fff;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      transform: rotate(45deg);
      z-index: 1;
      border-color: #fff;
      opacity: 0.1;
      bottom: -200px;
      left: -455px; }

.event__section_old {
  background-color: #3a3939; }
  .event__section_old::before {
    content: '';
    position: absolute;
    display: block;
    width: 400px;
    height: 400px;
    border: 1px solid #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 1;
    border-color: #fff;
    opacity: 0.1;
    bottom: 550px;
    left: -205px; }
  .event__section_old::after {
    content: '';
    position: absolute;
    display: block;
    width: 800px;
    height: 800px;
    border: 1px solid #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 1;
    border-color: #fff;
    opacity: 0.1;
    bottom: -350px;
    left: -155px; }

.event__wrap {
  z-index: 2;
  position: relative; }

.event__item {
  position: relative;
  font-size: 18px;
  font-family: "ProximaNovaLight";
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center; }
  .event__item:not(:last-of-type) {
    margin: 0 0 50px;
  }

.event__img-link {
  display: block;
  background-color: #9dd1dd;
  min-width: 380px;
  width: 380px;
  height: 270px;
  margin: 0 30px 0 0; }

.event__info {
  width: calc(100% - 410px);
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center; }

.event__preview {
  padding: 0 80px 0 0;
  width: calc(100% - 160px); }

.event__title-link {
  display: block;
  font-size: 24px;
  color: #fff;
  margin: 0 0 20px; }

.event__place {
  opacity: .5;
  margin: 0 0 30px; }

.event__desc {
  padding: 25px 0 0;
  position: relative; }
  .event__desc::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid #fff;
    width: 30px;
    margin: 0 auto; }

.event__date-wrap {
  width: 160px; }

.event__date_rhombus {
  margin: 0 auto;
  text-align: center;
  display: block;
  width: 115px;
  height: 115px;
  border: 2px solid #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg); }

.event__date {
  font-size: 20px;
  display: block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
  -moz-transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg); }

.date__num {
  font-size: 36px;
  font-family: "ProximaNovaBold";
  line-height: 1; }

.date__month {
  line-height: 1;
  margin: 0 0 10px; }

.about-head__section {
  position: relative;
  height: calc(100vh - 41px); }
  .about-head__section .about {
    width: 40%; }
  .about-head__section .projects__wrap {
    width: 60%;
    /*padding-top: 5px;*/
  }
  .about-head__section::before {
    content: '';
    position: absolute;
    display: block;
    width: 600px;
    height: 600px;
    border: 1px solid #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 1;
    border-color: #fff;
    opacity: 0.1;
    bottom: -100px;
    left: -350px; }
  .about-head__section::after {
    content: '';
    position: absolute;
    display: block;
    width: 800px;
    height: 800px;
    border: 1px solid #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    /*z-index: 1;*/
    border-color: #fff;
    opacity: 0.1;
    bottom: 250px;
    left: -410px; }
  .about-head__section .page__bg {
    overflow: hidden; }
    .about-head__section .page__bg::before {
      background: rgba(0, 0, 0, 0.1); }
    .about-head__section .page__bg::after {
      content: '';
      position: absolute;
      display: block;
      width: 800px;
      height: 800px;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      transform: rotate(45deg);
      background-color: #33a0cc;
      bottom: -199px;
      left: -410px;
      z-index: 0; }

.about-head__wrap {
  position: relative;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  height: calc(100vh - 41px); }
  .about-head__wrap::before {
    content: '';
    position: absolute;
    display: block;
    width: 200px;
    height: 200px;
    border: 1px solid #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 1;
    border-color: #fff;
    opacity: 0.1;
    top: -120px;
    left: -50px; }
  .about-head__wrap::after {
    content: '';
    position: absolute;
    display: block;
    width: 300px;
    height: 300px;
    border: 1px solid #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 1;
    border-color: #fff;
    opacity: 0.1;
    top: 100px;
    left: -40%; }

.projects__wrap {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center; }

.projects__item {
  display: block;
  width: 50%;
  text-align: center;
  text-align: -webkit-center;

}
  .projects__item:nth-of-type(1), .projects__item:nth-of-type(2) {
    margin: 0 0 130px;
  }

.about-me__section {
  position: relative;
  overflow: hidden;
  padding: 80px 0;
  background-color: #3e3e3e;
  background-image: -webkit-radial-gradient(60% 35%, circle farthest-corner, rgba(110, 110, 110, 0.8) 0%, #3e3e3e 30%, #3e3e3e 100%);
  background-image: -moz-radial-gradient(60% 35%, circle farthest-corner, rgba(110, 110, 110, 0.8) 0%, #3e3e3e 30%, #3e3e3e 100%);
  background-image: radial-gradient(circle farthest-corner at 60% 35%, rgba(110, 110, 110, 0.8) 0%, #3e3e3e 30%, #3e3e3e 100);
  background-image: -ms-radial-gradient(60% 35%, circle farthest-corner, rgba(110, 110, 110, 0.8) 0%, #3e3e3e 30%, #3e3e3e 100%); }

.business-about-me__section::before {
  content: '';
  background: url(../img/web_top.png) no-repeat center center;
  background-size: cover;
  opacity: 0.1;
  position: absolute;
  display: block;
  top: -10%;
  right: -10%;
  width: 70%;
  height: 110%; }

.about-section__wrap {
  z-index: 2;
  position: relative; }

.about-section__text {
  width: 50%;
  font-size: 18px;
  font-family: "ProximaNovaLight";
  line-height: 1.4; }
  .about-section__text p:not(:last-of-type) {
    margin: 0 0 20px; }
  .about-section__text li * {
    display: inline; }

.about-section__photo-wrap {
  width: 50%;
  min-height: 450px;
  position: relative; }

.about-section__photo {
  position: absolute;
  width: 100%;
  bottom: -120px;
  right: 0; }

.about-section__img {
  display: block;
  object-position: center;
  object-fit: contain;
  height: 740px;
  width: 484px;
  margin: 0 auto; }

.about-advantages__section {
  padding: 80px 0 95px;
  background-color: #dadada;
  color: #1c1b1b; }
.about-advantages__section .btn_blue:hover {
	background-color: #086afd;
}
.advantages__list {
  list-style-type: none;
  font-size: 22px;
  /*font-family: "ProximaNovaLight";*/
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 0 50px;
  width: 80%; }
  .advantages__list li {
    width: 50%;
    position: relative;
    padding: 0 25px;
    margin: 0 0 30px; }
    .advantages__list li::before {
      content: '';
      position: absolute;
      left: 3px;
      top: 7px;
      display: block;
      width: 5px;
      height: 5px;
      border: 2px solid #33a0cc;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      transform: rotate(45deg); }

.about-articles__section {
  padding: 80px 0;
  background-color: #2e8bb1;
  background-image: -webkit-radial-gradient(center top, circle farthest-corner, rgba(255, 255, 255, 0.35) 0%, #118ec0 28.7%, #03597c 100%);
  background-image: -moz-radial-gradient(center top, circle farthest-corner, rgba(255, 255, 255, 0.35) 0%, #118ec0 28.7%, #03597c 100%);
  background-image: radial-gradient(circle farthest-corner at center top, rgba(255, 255, 255, 0.35) 0%, #118ec0 28.7%, #03597c 100%);
  background-image: -ms-radial-gradient(center top, circle farthest-corner, rgba(255, 255, 255, 0.35) 0%, #118ec0 28.7%, #03597c 100%); }

.articles__wrap {
  margin: 0 -20px 20px; }

.articles__item {
  display: block;
  color: #fff;
  max-width: 360px;
  margin: 0 20px 30px;
  font-family: "ProximaNovaLight"; }
  .articles__item:hover {
    color: #fff; }

.article__img {
  width: 100%;
  margin: 0 0 30px; }

.article__title {
  font-size: 20px;
  margin: 0 0 20px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s; }

.article__desc {
  font-size: 16px;
  line-height: 1.5;
  padding: 22px 0 0;
  margin: 0 0 28px;
  position: relative; }
  .article__desc::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    border: .5px solid #fff;
    width: 30px;
    margin: 0 auto; }
  .article__desc p:not(:last-of-type) {
    margin: 0 0 20px; }

.article__date {
  font-style: italic;
  opacity: .5; }

.slider__section {
  background-color: #fff;
  color: #1c1b1b;
  padding: 65px 0 70px;
  position: relative;
  overflow: hidden; }

.video-slider__wrap {
  margin: 0 auto 50px;
  max-width: 730px; }

.video-slider {
  overflow: initial; }

.video-slider__nav-item__wrap,
.video-slider__item__wrap {
  white-space: nowrap;
  overflow: hidden; }

.video-slider__nav-item,
.video-slider__item {
  vertical-align: top;
  white-space: normal;
  display: inline-block; }
  .video-slider__nav-item:focus,
  .video-slider__item:focus {
    outline: 0; }

.video-slider__item__wrap {
  margin: 0 0 20px; }

.video-slider__item {
  width: 730px;
  height: 410px; }
  .video-slider__item iframe {
    width: 100% !important;
    height: 100% !important; }

.video-slider__nav-item__wrap {
  margin: 0 -10px;
  overflow: initial; }
  .video-slider__nav-item__wrap .gallery-slider__arrow {
    top: calc(50% - 17px); }

.video-slider__nav-item {
  cursor: pointer;
  display: inline-block;
  width: calc(100% - 20px);
  height: 130px;
  margin: 0 10px;
  overflow: hidden;
  position: relative; }
  .video-slider__nav-item::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s; }
  .video-slider__nav-item:hover::before {
    background-color: rgba(0, 0, 0, 0); }

.play-icon {
  width: 60px;
  height: 60px;
  fill: #fff; }
  .play-icon:hover {
    fill: #08acfd; }

/*.start-video {
    position: absolute;
    top: 80px;
    padding: 12px;
    //left: 174px;
    opacity: .3;
    cursor: pointer;
    transition: all 0.3s;
}
.start-video:hover {
    opacity: 1;
    -webkit-filter: brightness (1);
}
div.thumbnail_container {
    width: 434px;
    height: 244px;
    overflow: hidden;
    background-color: #000;
}
img.thumbnail {
    margin-top: -50px;
    opacity: 0.5;
}*/
/*
.youtube {
    width: 500px;
    height: 400px;

    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: block;
    overflow: hidden;
    transition: all 200ms ease-out;
    cursor: pointer;
    margin: 40px auto 0 auto;
}

iframe {
  margin: 40px auto 0 auto;
}

.youtube .play {
    background: url(../img/play-button.svg) no-repeat center center;
    background-size: 64px 64px;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: .8;
    filter: alpha(opacity=80);
    transition: all 0.2s ease-out;
}

.youtube .play:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}
*/
.instagram__section {
  color: #fff;
  background-color: #3a3939;
  padding: 90px 0; }

.instagram__widget {
  /*height: 236px;*/
  overflow: hidden;
  margin: 0 -10px 30px;
  /*-webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;*/
}

/*.instagram__item {
  height: 240px;
  width: calc(20% - 20px);
  margin: 0 10px 20px; }*/
.instagram__item {
  /*width: 216px;*/
  margin: 0 10px 20px;
  /*flex-grow: 1;*/
  }
  .instagram__item-inner,
  .article__img-inner {
    width: 100%;
    padding-bottom: 100%;
    position: relative; }

.contact__section {
  position: relative;
  overflow: hidden;
  text-align: center;
  padding: 80px 0;
  background-color: #2e8bb1;
  background-image: -webkit-radial-gradient(center top, circle farthest-corner, rgba(255, 255, 255, 0.35) 0%, #118ec0 30%, #03597c 100%);
  background-image: -moz-radial-gradient(center top, circle farthest-corner, rgba(255, 255, 255, 0.35) 0%, #118ec0 30%, #03597c 100%);
  background-image: radial-gradient(circle farthest-corner at center top, rgba(255, 255, 255, 0.35) 0%, #118ec0 30%, #03597c 100%);
  background-image: -ms-radial-gradient(center top, circle farthest-corner, rgba(255, 255, 255, 0.35) 0%, #118ec0 30%, #03597c 100%); }
  .contact__section .social {
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 45px 0 0; }

.contact__desc {
  max-width: 460px;
  margin: 0 auto 45px;
  font-size: 16px;
  line-height: 1.5; }
  .contact__desc a {
    color: #fff;
    font-family: "ProximaNovaBold"; }

.truba-contact__section {
  background: #1d2637; }
  .truba-contact__section .social .icon {
    fill: #fff; }
    .truba-contact__section .social .icon:hover {
      fill: #d94542; }

.fb-contact__section {
  background: #30247d;
  background: -moz-linear-gradient(top, #30247d 0%, #6f2d85 100%);
  background: -webkit-linear-gradient(top, #30247d 0%, #6f2d85 100%);
  background: linear-gradient(to bottom, #30247d 0%, #6f2d85 100%); }
  .fb-contact__section .social .icon {
    fill: #a684ff; }
    .fb-contact__section .social .icon:hover {
      fill: #fff; }

.rocket-contact__section {
  background: #1b5592;
  background: -moz-linear-gradient(top, #1b5592 0%, #03a4cd 100%);
  background: -webkit-linear-gradient(top, #1b5592 0%, #03a4cd 100%);
  background: linear-gradient(to bottom, #1b5592 0%, #03a4cd 100%); }
  .rocket-contact__section .social .icon {
    fill: #b3e3ef; }
    .rocket-contact__section .social .icon:hover {
      fill: #fff; }

.business-contact__section {
  background-color: #14487c;
  background-image: -webkit-radial-gradient(center top, circle farthest-corner, rgba(255, 255, 255, 0.35) 0%, #2362a3 30%, #14487c 100%);
  background-image: -moz-radial-gradient(center top, circle farthest-corner, rgba(255, 255, 255, 0.35) 0%, #2362a3 30%, #14487c 100%);
  background-image: radial-gradient(circle farthest-corner at center top, rgba(255, 255, 255, 0.35) 0%, #2362a3 30%, #14487c 100%);
  background-image: -ms-radial-gradient(center top, circle farthest-corner, rgba(255, 255, 255, 0.35) 0%, #2362a3 30%, #14487c 100%); }
  .business-contact__section .social .icon {
    fill: #22b9e1; }
    .business-contact__section .social .icon:hover {
      fill: #fff; }
  .business-contact__section::before {
    content: '';
    background: url(../img/web_right.png) no-repeat center center;
    background-size: cover;
    opacity: 0.1;
    position: absolute;
    display: block;
    bottom: -10%;
    left: -10%;
    width: 55%;
    height: 110%; }
  .business-contact__section::after {
    content: '';
    background: url(../img/web_bottom.png) no-repeat center center;
    background-size: cover;
    opacity: 0.1;
    position: absolute;
    display: block;
    top: -10%;
    right: -10%;
    width: 55%;
    height: 110%; }

.page-head__section {
  position: relative;
  z-index: 2;
  height: calc(100vh - 41px); }
  .page-head__section .about {
    margin: 0 0 80px; }
  .page-head__section .page__logo {
    top: 40px;
    display: none;}

.page__bg {
  width: 100%;
  height: 100%;
  position: absolute; }
  .page__bg::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0; }

.truba-page-head__section .page__bg::before {
  background: rgba(27, 37, 57, 0.8); }

.truba-page-head__section::before {
  content: '';
  position: absolute;
  display: block;
  width: 400px;
  height: 400px;
  border: 2px solid #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 1;
  border-color: #d94542;
  bottom: -202px;
  left: -250px; }

.fb-page-head__section .page__bg::before {
  background: rgba(48, 36, 125, 0.8);
  background: -moz-linear-gradient(top, rgba(48, 36, 125, 0.8) 0%, rgba(111, 45, 133, 0.8) 100%);
  background: -webkit-linear-gradient(top, rgba(48, 36, 125, 0.8) 0%, rgba(111, 45, 133, 0.8) 100%);
  background: linear-gradient(to bottom, rgba(48, 36, 125, 0.8) 0%, rgba(111, 45, 133, 0.8) 100%); }

.fb-page-head__section::before {
  content: '';
  background: url(../img/bd_fresh-blood.png) no-repeat center center;
  background-size: contain;
  position: absolute;
  display: block;
  width: 268px;
  height: 496px;
  z-index: 1;
  left: 0;
  bottom: -185px; }

.rocket-page-head__section .page__bg::before {
  background: rgba(0, 73, 109, 0.8); }

.rocket-page-head__section::before {
  content: '';
  position: absolute;
  display: block;
  width: 400px;
  height: 400px;
  border: 2px solid #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 1;
  border-color: #08acfd;
  bottom: -202px;
  left: -250px; }

.business-page-head__section .page__bg {
  overflow: hidden; }
  .business-page-head__section .page__bg::before {
    background: rgba(19, 79, 137, 0.9); }
  .business-page-head__section .page__bg::after {
    content: '';
    background: url(../img/business-bg-before.png) no-repeat center center;
    background-size: cover;
    opacity: 0.1;
    position: absolute;
    display: block;
    top: -10%;
    left: -10%;
    width: 60%;
    height: 110%; }

.page-head__wrap {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  height: calc(100vh - 41px); }

.page-head__company {
  width: 100%; }

.page__logo {
  position: absolute;
  z-index: 1;
  top: 70px;
  left: 60px;
  max-width: 280px; }

.page__logo-img {
  object-fit: contain; }

.numbers__wrap {
  font-family: "ProximaNovaLight";
  margin: 0 0 68px;
  max-width: 730px;
  position: relative;
  z-index: 2; }

.number__item {
  max-width: 180px; }

.number__count {
  /*font-size: 36px;*/
  font-size: 40px; }

.number__title {
  /*font-size: 18px;*/
  font-size: 25px;
  margin: 0 0 25px; }

.number__desc {
  /*font-size: 14px;*/
  font-size: 18px;
  opacity: 0.5; }

.photogallery__section {
  background-color: #fff;
  color: #1c1b1b;
  padding: 80px 0 95px;
  position: relative;
  overflow: hidden; }

.business-photogallery__section::before,
.business-slider__section::before {
  content: '';
  background: url(../img/web_left.png) no-repeat center center;
  background-size: cover;
  opacity: 0.8;
  position: absolute;
  display: block;
  bottom: -20%;
  left: -10%;
  width: 60%;
  height: 120%; }

.photogallery-slider {
  overflow: initial; }

.photogallery-slider__wrap {
  width: 730px;
  margin: 0 auto; }

.photogallery-slider__item__wrap {
  position: relative; }

.photogallery-slider__item {
  height: 410px;
  width: 100%; }

.page-quotes__section {
  padding: 100px 0;
  position: relative;
  overflow: hidden; }
  .page-quotes__section::before, .page-quotes__section::after {
    content: '';
    position: absolute;
    display: block;
    width: 400px;
    height: 400px;
    border: 2px solid #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg); }
  .page-quotes__section::before {
    bottom: 100px;
    left: -250px; }
  .page-quotes__section::after {
    top: -100px;
    right: -250px; }

.page-quotes__section-wrap {
  z-index: 2;
  position: relative; }
  .page-quotes__section-wrap::after {
    content: '';
    position: absolute;
    display: block;
    width: 200px;
    height: 200px;
    border: 2px solid #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -220px;
    right: 0; }

.truba-page-quotes__section {
  background-color: #1d2637; }
  .truba-page-quotes__section::before, .truba-page-quotes__section::after {
    border-color: #d94542; }
  .truba-page-quotes__section .page-quotes__section-wrap::after {
    border-color: #d94542; }

.fb-page-quotes__section {
  background: #30247d;
  background: -moz-linear-gradient(top, #30247d 0%, #6f2d85 100%);
  background: -webkit-linear-gradient(top, #30247d 0%, #6f2d85 100%);
  background: linear-gradient(to bottom, #30247d 0%, #6f2d85 100%); }
  .fb-page-quotes__section::before, .fb-page-quotes__section::after {
    display: none; }
  .fb-page-quotes__section .page-quotes__section-wrap::after {
    display: none; }

.rocket-page-quotes__section {
  background: #1b5592;
  background: -moz-linear-gradient(top, #1b5592 0%, #03a4cd 100%);
  background: -webkit-linear-gradient(top, #1b5592 0%, #03a4cd 100%);
  background: linear-gradient(to bottom, #1b5592 0%, #03a4cd 100%); }
  .rocket-page-quotes__section::before, .rocket-page-quotes__section::after {
    border-color: #08acfd; }
  .rocket-page-quotes__section .page-quotes__section-wrap::after {
    border-color: #08acfd; }

.business-page-quotes__section {
  background-color: #14487c;
  background-image: -webkit-radial-gradient(center top, circle farthest-corner, rgba(255, 255, 255, 0.35) 0%, #2362a3 30%, #14487c 100%);
  background-image: -moz-radial-gradient(center top, circle farthest-corner, rgba(255, 255, 255, 0.35) 0%, #2362a3 30%, #14487c 100%);
  background-image: radial-gradient(circle farthest-corner at center top, rgba(255, 255, 255, 0.35) 0%, #2362a3 30%, #14487c 100%);
  background-image: -ms-radial-gradient(center top, circle farthest-corner, rgba(255, 255, 255, 0.35) 0%, #2362a3 30%, #14487c 100%); }
  .business-page-quotes__section::before, .business-page-quotes__section::after {
    display: none; }
  .business-page-quotes__section .page-quotes__section-wrap::after {
    display: none; }

.quotes__wrap {
  font-family: "ProximaNovaLight"; }

.quotes__item {
  width: 32%;
  max-width: 360px; }

.quotes__title {
  font-size: 30px;
  line-height: 1;
  margin: 0 0 30px; }

.quotes__desc {
  font-size: 16px;
  margin: 0 0 25px;
  line-height: 1.5; }
  .quotes__desc p:not(:last-of-type) {
    margin: 0 0 30px; }

.quotes__author {
  font-size: 14px;
  font-style: italic;
  opacity: .5; }

/*------------------------MEDIA------------------------------*/
@media (max-width: 1680px) {
  .page-quotes__section::before,
  .page-quotes__section::after,
  .page-quotes__section-wrap::after {
    opacity: 0.3; } }
  }
@media (max-width: 1280px) {
  .nav {
    margin-top: 80px; }
  .article__img {
    width: 100%; }
  .about-me__section,
  .about-advantages__section,
  .about-articles__section,
  .slider__section,
  .instagram__section,
  .contact__section,
  .event__section {
    padding: 60px 0; }
  .instagram__item {
    width: calc(33.333% - 20px); } }

@media (max-width: 1024px) {
  .wrapper,
  .inner-wrapper {
    padding: 0 20px; }
  .header {
    padding: 20px 0; }
  .nav {
    display: block; }
  .nav_left,
  .nav_right {
    width: 100%;
    padding: 0; }
  .nav_left {
    text-align: center;
    margin: 0 0 25px; }
    .nav_left .about__name {
      margin: 0 0 10px; }
  .nav__overlay::before {
    background: rgba(36, 34, 34, 0.9); }
  .menu {
    padding: 0 0 30px;
    text-align: center; }
  .menu__item:not(:last-of-type) {
    margin: 0 auto 20px; }
  .menu__item:last-of-type {
    margin: 0 auto; }
  .nav_contacts {
    text-align: center; }
    .nav_contacts .social {
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin: 0 0 20px; }
  .modal {
    padding: 40px 30px;
    width: 100%;
    max-width: 400px; }
    .modal::before {
      border-width: 34px;
      margin-left: -34px; }
  .modal__title {
    font-size: 25px;
    margin: 0 0 10px; }
  .modal__desc {
    font-size: 16px;
    margin: 0 0 20px; }
  .form__input {
    font-size: 14px;
    padding: 10px 20px; }
  .form__row:not(:last-of-type) {
    margin: 0 0 15px; }
  .form__row {
    display: block; }
  .form__col_third,
  .form__col_half {
    width: 100%; }
  .form__col:not(:last-of-type) {
    margin: 0 0 15px; }
  .modal__close {
    right: calc(50% - 14px);
    top: -2px; }
    .modal__close::before, .modal__close::after {
      border-color: #fff; }
  .btn_modal {
    font-size: 15px;
    padding: 15px; }
  .agreement {
    margin: 15px 0; }
  .custom-select__option--value,
  .custom-select--active .custom-select__option--value,
  .custom-select__dropdown,
  .custom-select__option {
    font-size: 14px; }
  .custom-select__option--value,
  .custom-select--active .custom-select__option--value {
    padding: 10px 20px;
    height: 39px; }
  .event__item {
    display: block; }
  .event__img-link {
    margin: 0 0 30px;
    min-width: 100%;
    width: 100%; }
  .event__info {
    width: 100%; }
  .event__preview {
    padding: 0 30px 0 0; }
  .advantages__list {
    width: 100%; }
  .calendar-head__wrap::before {
    opacity: 0.8; }
  .about-head__section .page__bg::after {
    opacity: 0.8; }
  .about-head__section,
  .about-head__wrap,
  .page-head__section,
  .page-head__wrap,
  .calendar-head__section,
  .calendar-head__wrap {
    height: auto; }
  .about-section__text ul {
    list-style-position: inside;
  }
  .main_sticky,
  .main-slider .slick-list,
  .main-slider .slick-track,
  .slider__item__wrap,
  .main-slider__item {
    min-height: auto;
    height: auto; }
    .main_sticky::after,
    .main-slider .slick-list::after,
    .main-slider .slick-track::after,
    .slider__item__wrap::after,
    .main-slider__item::after {
      display: none; }
  .main_sticky,
  .main-slider {
    min-height: auto;
    height: auto; }
    .main_sticky::after,
    .main-slider::after {
      display: none; }
  .main_sticky,
  .main-slider {
    margin: 0; }
  .about-head__wrap,
  .calendar-head__wrap,
  .page-head__wrap {
    padding: 100px 20px 50px; }
  .main-slider__item-info {
    padding: 20px 20px 40px; }
  .about-head__logos {
    display: block; }
  .about-head__section .projects__wrap {
    width: 100%; }
  .about-head__section .about {
    width: 100%;
    margin: 0 0 40px; }
  .calendar-head__wrap {
    max-width: 100%;
    display: block; }
  .page__logo,
  .page-head__section .page__logo {
    top: 20px;
    left: 20px; }
  .page__logo {
    height: 80px;
  }
  .page__logo-img {
    height: initial;
    object-position: left;
  }
  .page-head__company {
    margin: 20px 0 0; }
  .fb-page-head__section .page-head__company {
    margin: 120px 0 0; }
  .main-slider__item-info {
    width: 50%; }
  .main-slider__item-photo {
    width: 50%; }
  .quotes__desc {
    list-style-position: inside;
  }
  .quotes__desc li * {
    display: inline;
  }
}

@media (max-width: 992px) {
  .articles__wrap {
    display: block;
    margin: 0 -10px 60px;
  }
  .article {
    margin: 0 10px;
  }
    .article__content {
      display: inline-block;
      width: calc(60% - 34px);
      vertical-align: top;
    }
    .article__img {
      display: inline-block;
      width: 40%;
      margin-right: 30px;
    }
  /*.articles__item::after {
    content: '';
    display: block;
    clear: both; }*/
  .articles__item {
    width: 100%;
    max-width: initial; }
    .articles__item {
      margin: 0 0 30px; }
  .about-me__section {
    padding-top: 50px;
    padding-bottom: 0;
  }
  .about-section__wrap {
    display: block; }
  .about-section__img {
    width: 250px;
    height: 382px; }
  .about-section__photo {
    bottom: -40px;
    position: relative; }
  .about-section__photo-wrap {
    width: 250px;
    margin: 0 auto;
	min-height: auto;}
  .about-section__text {
    width: 100%;
    font-size: 15px; }
  .quotes__wrap {
    display: block; }
  .quotes__item {
    width: 100%;
    max-width: 100%; }
    .quotes__item:not(:last-of-type) {
      margin: 0 0 30px; }
  .page-quotes__section,
  .photogallery__section {
    padding: 60px 0; }
  .photogallery-slider__wrap {
    width: 100%; }
  .photogallery-slider__item {
    height: 325px; }
  .gallery-slider__arrow {
    display: none !important; }
  .about-me__section {
    background: #3e3e3e; }
  .main-slider__item {
    display: block !important; }
  .main-slider__item-info {
    width: 100%;
    background: rgba(36, 34, 34, 0.5) !important; }
  .main-slider__item-photo {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1; }
  .slider__nav {
    padding: 0 0 0 30px;
    width: 100%;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start; }
  .main-slider__item-desc {
    display: block; }
  .main-slider__btn_more {
    width: 90px;
    height: 90px; }
  .quotes {
    margin: 0 0 15px; } }

@media (max-width: 768px) {
  .footer__wrap {
    display: block;
    text-align: center; }
  .copyright,
  .privacy {
    margin: 0 0 10px; }
  .footer_sticky {
    height: 95px; }
  .nav {
    margin-top: 60px; }
  .advantages__list {
    display: block; }
    .advantages__list li {
      width: 100%;
      padding: 0 0 0 25px; }
  .numbers__wrap {
    display: block;
    max-width: 100%; }
  .number__item {
    max-width: 100%; }
    .number__item:not(:last-of-type) {
      margin: 0 0 30px; }
  .number__title {
    margin: 0 0 10px; }
  .page-head__section .about {
    margin: 0 0 40px; }
  /*.instagram__item {
    width: calc(50% - 20px); }*/
  .about-head__section {
    overflow: hidden; }
    .about-head__section .projects__wrap {
      display: block; }
  .projects__item {
    width: 100%;
    margin: 0 0 40px !important; }
    .projects__item:last-of-type {
      margin: 0 !important; }
  .calendar-head__section {
    overflow: hidden; } }

@media (max-width: 576px) {
  .copyright,
  .privacy {
    margin: 0 0 5px; }
  .privacy__link {
    padding: 5px 0;
    display: block; }
    .privacy__link:not(:last-of-type) {
      border-right: 0; }
  .footer_sticky {
    height: 116px; }
  .nav_left {
    margin: 0 0 20px; }
    .nav_left .about__name {
      font-size: 28px; }
    .nav_left .about__post {
      font-size: 16px; }
  .nav_right {
    font-size: 16px; }
  .menu {
    padding: 0 0 20px;
    margin: 0 0 20px; }
  .menu__item:not(:last-of-type) {
    margin: 0 auto 18px; }
  .menu__item:last-of-type {
    margin: 0 auto; }
  .nav_contacts .social {
    margin: 0 0 15px; }
  .contact-links__title {
    line-height: 1;
    font-size: 15px; }
  .contact-links__phone {
    font-size: 18px; }
  .title {
    font-size: 28px;
    margin: 0 0 40px; }
  .event__wrap {
    margin: 0 -10px;
  }
  .event__info {
    display: block; }
  .event__img-link {
    height: 200px; }
  .event__title-link {
    font-size: 20px; }
  .event__item {
    margin: 0 10px 50px !important;
    font-size: 16px; }
  .event__date {
    font-size: 16px; }
  .date__num {
    font-size: 28px; }
  .event__date_rhombus {
    width: 95px;
    height: 95px; }
  .event__preview {
    width: 100%;
    padding: 0; }
  .event__place {
    margin: 0 0 15px; }
  .event__desc {
    padding: 20px 0 0; }
  .event__date-wrap {
    width: 135px;
    position: absolute;
    top: 50px;
    right: 0; }
  .event__date_rhombus {
    background-color: #3a3939; }

  .article__img {
    width: 100%;
    }
  .article__content {
    width: 100%;
    } }

@media (max-width: 480px) {
  .nav_left .about__post {
    display: none; }
  .contact-links__title {
    display: none; }
  .social__link .icon {
    height: 30px;
    width: 30px; }
  .btn_rectangle {
    padding: 17px; }
  .btn_border {
    padding: 12px 17px; }
  .photogallery-slider__item {
    height: 250px; }
  .instagram__item {
    /*height: 180px;*/
    width: calc(100% - 20px); }
  .about__name {
    font-size: 34px; }
  .truba-page-head__section .page__logo {
    width: calc(100% - 95px); } }

/*----custom----*/
.about-me__section,
.slider__section,
.page-quotes__section,
.photogallery__section,
.contact__section {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.agreement {
  position: relative;
  margin: 0 0 1.25rem; }

.agreement__checkbox {
  position: absolute;
  left: 0;
  cursor: pointer;
  width: 1.125rem;
  height: 1.125rem;
  background-color: rgba(255, 255, 255, 0.1);
  border: 0;
  outline: 0;
  opacity: 0;
  z-index: 1; }
  .agreement__checkbox + .agreement__label:after {
    content: none; }
  .agreement__checkbox:checked + .agreement__label:after {
    content: ''; }

.agreement__label {
  position: relative;
  text-align: left;
  display: block;
  padding: 0 0 0 1.875rem; }
  .agreement__label:before, .agreement__label:after {
    cursor: pointer;
    position: absolute;
    content: '';
    display: inline-block; }
  .agreement__label:before {
    height: 1rem;
    width: 1rem;
    border: 1px solid #8f8f8f;
    left: 0;
    top: -1px;
    background-color: #fff; }
  .agreement__label:after {
    height: 0.3125rem;
    width: 0.5625rem;
    border-left: 3px solid;
    border-bottom: 3px solid;
    border-color: #1d2637;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: 3px;
    top: 2px; }

.form__main-inputs {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

  .form__row {
    width: 100%;
    margin: 0 0 20px; }

  .form__col {
    margin: 0 0 20px; }

.main-page_sticky {
  min-height: auto;
  height: auto;
}
.main-page_sticky .header {
  position: relative;
}
.main-page_sticky .nav__overlay.js-menu__open {
    height: 100vh;
}

.inner__content {
  font-size: 16px;
  margin: 0 0 40px;
}
.inner__content p,
.inner__content li:not(:last-of-type) {
  margin: 0 0 20px;
}
.inner__content ul,
.inner__content ol {
  list-style-position: inside;
  margin: 0 0 30px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "ProximaNovaLight";
}
h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 1;
  margin: 0 0 60px; }
strong {
  font-family: "ProximaNovaBold"
}
@media (max-width: 576px) {
  .inner__content h1 {
    font-size: 28px;
    word-break: break-word;
  }
}
.error-page {
    min-height: calc(100vh - 201px);
}
@media (max-width: 1024px) {
  .error-page {
    min-height: auto;
  }
}
.page-head__section,
.page-head__wrap,
.about-head__section,
.about-head__wrap,
.calendar-head__section,
.calendar-head__wrap {
    height: 100vh;
}
.main-inner_sticky {
	margin-bottom: 0;
}
@media (max-width: 1024px) {
	/*.page-head__section,*/
	.page-head__wrap,
	.about-head__section,
	.about-head__wrap {
		min-height: auto;
		height: auto;
	}
  .page-head__section {
    height: 100%;
    min-height: inherit;
  }
}
/*-progress-bar-*/
.progress-bar {
    z-index: 20;
    width: 75px;
    height: 75px;
    position: fixed;
    bottom: 95px;
    right: 4px;
    margin-bottom: 3px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.progress-bar-input_wrap {
    display: block;
    width: 64px;
    height: 64px;
    border-radius: 100%;
}
.dial {
	display: none;
	width: 0;
	visibility: hidden;
}
.btn-top {
    font-size: 30px;
    width: 64px;
    position: fixed;
    right: 15px;
    bottom: 127px;
    text-align: center;
    text-decoration: none;
	color: #a3e9f5;
}
.btn-top:hover {
	color: #a3e9f5;
}
.is-visible {
  visibility: visible;
  opacity: 1;
}
/*-/progress-bar-*/

/*--custom--*/
.event__slider {
	position: relative;
}
.event__list {
    overflow: hidden;
    position: relative;
}
.event__wrap {
    white-space: nowrap;
    overflow: hidden;
}
.event__item {
    position: relative;
    white-space: normal;
}
.event__item:focus {
	outline: 0;
}
.event__wrap .slick-dots {
    margin: 20px 0 0;
}
.page-head__section {
	z-index: 6;
}
.about__name {
	display: block;
}

/*.about__name:nth-child(1) {*/
  /*opacity: 0;*/
/*}*/

.about__name:focus {
	outline: 0;
}
.main-slider__item-desc .about__post {
	font-size: 25px;
    text-transform: uppercase;
}
.main-slider__item-desc .quotes {
    font-size: 23px;
	margin: 0 0 25px;
}
.main-slider__item-desc .about {
    margin: 0 0 25px;
}
.main-slider__btn_more {
	width: 98px;
    height: 98px;
}
.slider__nav {
	top: 120px;
    width: 40%;
}
.main_sticky,
.main-slider,
.slider__item__wrap,
.main-slider .slick-list,
.main-slider .slick-track,
.main-slider__item {
	min-height: 580px;
}
.main_sticky {
  overflow: hidden;
}
.main-slider__item-desc {
    height: 100%;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
}
.main-slider__item-info {
	height: 100%;
	padding: 160px 40px 0 60px;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-flex-pack: flex-end;
    justify-content: flex-end;
}
@media (max-width: 1024px) {
	/*.main_sticky,*/
	.main-slider,
	.slider__item__wrap,
	.main-slider .slick-list,
	.main-slider .slick-track,
	.main-slider__item {
		height: calc(100vh - 41px);
	}
	.main-slider__item-info {
		padding: 160px 20px 0;
	}
}
@media (max-width: 992px) {
	.main-slider__item-info {
		-webkit-justify-content: flex-start;
		-moz-justify-content: flex-start;
		-ms-flex-pack: flex-start;
		justify-content: flex-start;
	}
	.slider__nav {
		width: 100%;
		top: 85px;
	}
	.main-slider__btn_more {
		width: 90px;
		height: 90px;
	}
}
@media (max-width: 768px) {
	/*.main_sticky,*/
	.main-slider,
	.slider__item__wrap,
	.main-slider .slick-list,
	.main-slider .slick-track,
	.main-slider__item {
		height: calc(100vh - 95px);
	}
}
@media (max-width: 576px) {
	/*.main_sticky,*/
	.main-slider,
	.slider__item__wrap,
	.main-slider .slick-list,
	.main-slider .slick-track,
  .main-slider__item {
    height: calc(100vh - 116px);
  }
}
@media (max-width: 480px) {
	.main-slider__item-desc .about__post {
		font-size: 22px;
	}
	.main-slider__item-desc .quotes {
		font-size: 18px;
	}
}
      





    .nav-toggle::before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      right: -40px;
      background: #33a0cc;
      transition: .3s;
    }
    .nav-toggle:hover.nav-toggle::before {
      right: 0;
    }




    .nav-toggle {
      width: 40px;
      height: 40px;
      cursor: pointer;
      position: relative;
      cursor: pointer;
      background: #242222;
      overflow: hidden;
      z-index: 30;
      transition: 0.3s;
    }
      .nav-toggle__part {
        width: 54%;
        height: 2px;
        background: #ffffff;
        position: absolute;
        left: 23%;
        transition: .3s;
      }
      .nav-toggle__part_top {
        top: 12px;
        transform-origin: 50% -8px;
      }
      .nav-toggle__part_middle {
        top: calc(50% - 1px);
        transition: .15s;
      }
      .nav-toggle__part_bottom {
        bottom: 12px;
        transform-origin: 50% 6px;
      }

 

    /* BUTTON-Transform */
    .nav-toggle_active {
      background: #33a0cc;
    }
      .nav-toggle_active .nav-toggle__part_top {
        top: 34px;
        left: 15px;
        width: 58%;
        transform: rotateZ(135deg);
      }
      .nav-toggle_active .nav-toggle__part_middle {
        opacity: 0;
      }
      .nav-toggle_active .nav-toggle__part_bottom {
        bottom: 28px;
        left: 12px;
        width: 58%;
        transform: rotateZ(225deg);
      }