* {  margin: 0; padding: 0;}
html, body { height: 100%; font-size: 100%;}
body{ font-family:Helvetica,Arial,sans-serif; font-size: 12px; line-height: 18px; color: #333333; background-color:#ffffff;}

a{color:#666666;text-decoration:none;}
a:hover{color:#000000;text-decoration:none;}
a:focus { color:#000000;text-decoration:none; outline: 0; }
form {margin: 0;}

/* Header */
.header-wrapper{ background: url(../images/fake_brick.png) #111111; border-bottom: 1px solid #333; color: #EAEAEA;
    min-width: 980px;
}
.header{ min-width: 850px; position: relative;}

/*Content*/
.content-wrapper{ min-width: 980px; padding: 65px 20px 30px;}
.content-inner{ padding: 30px 20px;  border: 1px solid #E5E5E5; margin-top: 30px; }

.sidebar{ }
.content{ }

/*Breadcrumb*/
.breadcrumb{ padding:10px 15px 10px 10px; background-color:#fbfbfb; background-image:-moz-linear-gradient(top, #ffffff, #f5f5f5); background-image:-ms-linear-gradient(top, #ffffff, #f5f5f5);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f5f5f5));background-image:-webkit-linear-gradient(top, #ffffff, #f5f5f5);background-image:-o-linear-gradient(top, #ffffff, #f5f5f5);background-image:linear-gradient(top, #ffffff, #f5f5f5);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);border:1px solid #ddd;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:inset 0 1px 0 #ffffff;-moz-box-shadow:inset 0 1px 0 #ffffff;box-shadow:inset 0 1px 0 #ffffff;}
    .breadcrumb li{ display:inline-block;text-shadow:0 1px 0 #fff; }
        .breadcrumb li a{ text-decoration: none; }
        .breadcrumb li span.divider{ padding:0 7px;color:#999; position: relative; top: -2px;}
    .breadcrumb li.active a{ color:#333; }

/*Group*/
.group-list{ list-style: none; margin: 0; padding: 0; }
    .group-list li{
        padding-bottom: 5px;
    }
    .group-list li:last-child{
        padding-bottom: 0px;
    }

/*Paginate*/
.page-nav{  margin: 0 0 10px 10px;position: relative;text-align: right;overflow: hidden; }
    .page-nav a{ color: #666; font-size: 14px; padding-left: 3px; }
    .page-nav a:hover{ color: #333;}
    .page-nav b{ color: #000; font-size: 14px; padding-left: 3px; }

/*Action Block*/
.actions-block{}
    .actions-block ul.actions{ margin: 0; padding: 0;}
    .actions-block ul.actions li{display: inline-block; vertical-align: top; padding-right: 10px;}

/*Footer*/
.footer-wrapper{ border-top: 1px solid #E5E5E5; overflow: hidden;
    min-width: 980px;
}
.footer{ min-width: 960px;
    margin: 0 20px; padding: 20px 0; overflow: hidden; }
    .footer .copyright{ float: left;
    }
        .footer .copyright p{ color: #818181; }
        .footer .copyright a{ color: #818181; text-decoration: none; }
        .footer .copyright a:hover{ color: #000000; text-decoration: none; }

.footer .user-info{ float: right;
}
    .footer .user-info p{ color: #818181; }
        .footer .user-info a{ color: #818181; text-decoration: none; }
        .footer .user-info a:hover{ color: #000000; text-decoration: none; }

/*Login Block*/
#login-error { margin: 10px;}
#login-holder{ position: absolute; width: 264px;height: 154px;top: 50%;left: 50%;margin-left: -132px;margin-top: -77px; }
#login-inner{ background: #F5F5F5; border: 1px solid #ccc; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }

#denied-holder{ position: absolute; width: 342px;height: 60px;top: 50%;left: 50%;margin-left: -171px;margin-top: -30px; }
#denied-inner{ text-align: center }

.login-group { padding: 15px 0 0 20px; margin-bottom: 0 !important; }
.login-remember { padding: 6px 0 0 21px; margin-bottom: 0 !important; height: 36px;}
.login-remember label.checkbox{color: #666; font-size: 12px;}

.login-action { padding: 15px 0 15px 20px; margin-bottom: 0 !important; text-align: right;
    background: none repeat scroll 0 0 #E4E4E4;
    border-top: 1px solid #ccc;
}
