/* grid styles */
.row{ margin-bottom: 10px; margin-left: 0; *zoom:1;}
[class*="span"]{
    float: none;
    display: inline-block;
    vertical-align: middle;
    padding-right:20px;
    margin-left: 0;
    font-size: 14px;
    *display: inline; *zoom:1;
}
.span1{width:60px;}
.span2{width:140px; }
.span3{width:220px;}
.span4{width:300px;}
.span5{width:380px;}
.span6{width:460px;}
.span7{width:540px;}
.span8{width:620px;}
.span9{width:700px;}
.span10{width:780px;}
.span11{width:860px;}
.span12,.container{width:940px;}

.vtop{ vertical-align: top;}
.vmiddle{ vertical-align: middle; }
.vbottom{ vertical-align: bottom; }

/* icon styles*/
.icon-calendar-b{
    background: url(/assets/admin/images/calendar.svg) no-repeat;
    background-size: contain;
    cursor: pointer;
    width: 32px;
    height: 32px;
    vertical-align: top;
    margin-left: 5px;
    transition: .3s all;
}

ui-datepicker-trigger
{
    background-size: contain;
    cursor: pointer;
    width: 32px;
    height: 32px;
    vertical-align: top;
    margin-left: 5px;
    transition: .3s all;
}

/* input styles*/
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    display: inline-block;
    border: 1px solid #cccccc;
    height: 20px;
    padding: 6px 10px;
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 16px;
    color: #000;
    vertical-align: middle;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

input,
textarea,
.uneditable-input {
    width: 206px;
}

.uneditable-input,
.uneditable-textarea {
    cursor: auto;
}

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
    cursor: auto;
    background-color: #eeeeee;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    border: 1px solid #CCCCCC;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    padding: 6px 10px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border: 1px solid #666666;
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

input[type="image"],
input[type="checkbox"],
input[type="radio"]{
    width:auto;
    height:auto;
    padding:0;
    margin:3px 0;
    *margin-top:0;
    line-height:normal;
    cursor:pointer;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    border:0 \9;
    position: relative;
    top: 0px;
}

.btn-icon {
    border-radius: 3px 3px 3px 3px;
    padding: 0 3px;
}

.label.label-inverse{
    padding: 3px 4px;
    background: #111 url("../images/hatching.png");
}

.text-678{width:678px;}
.text-635{width:635px; transition: .3s all;}
.text-610{width:610px;}
.text-305{width:305px;}
.text-285{width:285px;}
.text-220{width:220px;}
.text-198{width:198px;}
.text-38{width:38px;}


select.text-700{width:700px; height: 36px;}
select.text-635{width:635px; height: 36px;}
select.text-220{width:220px; height: 36px;}

.select-700{width:700px;}
.select-635{width:635px;}
.select-220{width:220px;}

textarea.error,
input[type="text"].error,
input[type="password"].error
{
    border-color: #d00;
}

textarea{
    height: 100px;
}

label {
    display: inline-block;
    margin-bottom: 0px;
    padding-left: 2px;
}
/* Menu */
.navbar { margin-bottom: 0; }
.navbar-inner { border-radius: 0; background: none; border: none; }
.navbar .brand {
    color: #D2D2D2;
    display: block;
    float: left;
    font-size: 20px;
    font-weight: 200;
    margin-left: -20px;
    padding: 11px 20px;
    text-shadow: none;
    cursor: pointer;
}

.navbar .nav > li > a {
    color: #bfbfbf;
    float: none;
    padding: 10px 15px;
    text-decoration: none;
    text-shadow: none;
}
.navbar .nav > li > a:focus,
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    background-color: #000;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125) inset;
    color: #fff;
    text-decoration: none;
}

.navbar .nav > li > a > i {
    position: relative;
    top: -2px;
    padding-right: 5px;
}

/* Dropdown */
.dropdown-menu > li > a{
    padding: 8px 10px;
}

.dropdown-menu > li > a > i {
    position: relative;
    top: -2px;
    padding-right: 5px;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
    color: #ffffff;
    text-decoration: none;
    background: none;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background: none repeat scroll 0 0 #1E1E1E;
}
.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: #000;
    color: #fff;
}
.navbar .nav li.dropdown.open > .dropdown-toggle .caret, .navbar .nav li.dropdown.active > .dropdown-toggle .caret, .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
    border-bottom-color: #fff;
    border-top-color: #fff;
}

.navbar .nav li.dropdown > a:hover .caret, .navbar-inverse .nav li.dropdown > a:focus .caret {
    border-bottom-color: #FFFFFF;
    border-top-color: #FFFFFF;
    cursor: pointer;
}


.navbar .nav > li.dropdown{
    cursor: pointer;
}

.navbar .nav .dropdown-menu {  }
.navbar .nav .dropdown-menu li{
    color: #000;
    margin: 2px 5px 2px 5px;
}
.navbar .nav .dropdown-menu li:first-child{ margin-top: 0; }
.navbar .nav .dropdown-menu li:last-child{ margin-bottom: 0; }

.navbar .nav .dropdown-menu li.active,
.navbar .nav .dropdown-menu li:hover{
    background: #1E1E1E;
}

/*File*/
.file_input_textbox {  float: left; width:638px; padding: 7px 10px; border: 1px solid #cccccc;}
.file_input_div { position: relative; width: 39px; height: 32px; overflow: hidden;}
.file_input_button { position: absolute;  margin-left: 7px; background: url(../images/file.png) no-repeat; width: 32px !important; height: 32px !important; border: 0;}
.file_input_hidden{ display: none; font-size: 45px; position: absolute; right: 0px; top: 0px; height: 36px; opacity: 0; filter: alpha(opacity=0); -ms-filter: "alpha(opacity=0)";-khtml-opacity: 0;-moz-opacity: 0;}

/* table styles */
.table-bordered thead:first-child tr:first-child > th:first-child, .table-bordered tbody:first-child tr:first-child > td:first-child, .table-bordered tbody:first-child tr:first-child > th:first-child {
    border-top-left-radius: 0px;
}
.table thead tr {background: url(../images/fake_brick.png) #111111;}
.table thead tr th{ color: #fff;}
.table tbody tr td{ vertical-align: middle; }
.table tbody tr a{ /*margin-right: 5px;*/ }
.table tbody tr.active { background-color: #f5f5f5 !important;}

.table.table-borderless thead tr{border: none;}
.table.table-borderless thead tr th{border: none;}
.table.table-borderless thead tr td{border: none;}
.table.table-borderless tbody tr{border: none;}
.table.table-borderless tbody tr th{border: none;}
.table.table-borderless tbody tr td{border: none;}


.table-default { margin-bottom: 0;}
.table-default thead tr{background: transparent; color: #333;}
.table-default thead tr th{background: transparent; color: #333;}

/* Well */
.well-title{
    color: #222;
    font-weight: bold;
    padding-right: 8px;
    vertical-align: middle;
}

/*Sortable*/
#sortable tbody tr td{
    //cursor: move;
}

/*Editor*/
.table tbody tr.module { /*background-color: #FBF2F2;*/ }

/*Filemanager*/
.filemanager-block{
    width: 100%;
    height: 600px;
    border: 1px solid #E5E5E5;
    background: url(../images/preloader.gif) no-repeat center center;
}

/* Former */
.former-category-block{
    position: relative;
    border: 1px solid #ccc;
    width: 920px;
    padding: 40px 0 20px 20px;
    border-radius: 4px;
    margin: 5px 0;
}
.former-category-title{
    position: absolute;
    top: 0;
    left: 0;
    background: none repeat scroll 0 0 #eee;
    border-bottom: 1px solid #ccc;
    border-radius: 4px 0 4px 0;
    border-right: 1px solid #ccc;
    padding: 3px 6px;
}

.former-help-block {
    display: block;
    font-size: 12px;
    margin-bottom: 6px;
    margin-top: 6px;
}

.pre_pagination {
    float: left;
    border: #ccc 1px solid;
    padding: 5px 9px;
    margin-right: -2px;
    border-radius: 3px 0 0 3px;
    background: #F5F5F5;
}

::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-track {
//    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
//    border-radius: 10px;
    background: #000;
}
::-webkit-scrollbar-thumb:hover {
//    border-radius: 10px;
    background: #666;
}


/********************************/
    #float-menu {
        position: fixed;
        left: 990px;
        cursor: pointer;
        top: 240px;
    }
    .punkt {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 7px 12px;
        margin-top: 5px;
        cursor: pointer;
    }
    .punkt:hover,
    .punkt.active{
        background: #eee;
    }
    .active {
     /*//   border: 1px solid #888;*/
    }

    /****************************************************/

    .save {
        position: absolute;
        margin: -21px 0 0 0;
    }

    .jodit_workplace {
        margin-left: 30px;
    }

    #refresh2_s, #save2_s, #back2_s, #del2_s {
        font-size: 20pt;
        cursor: default;
        position: absolute;
        color:#00A3FF;
        margin-left: 9px;
     /*//   margin-top: 13px;*/
    }
    #save2_s {
        color: #22AA00;
        left: 4px;
        top: 15px;
    }
    #back2_s {
        top: 13px;
    }
    #refresh2_s {
        left: 2px;
        top: 13px;
    }
    #del2_s {
        color: #f00;
        top: 15px;
    }
    #refresh2, #save2, #back2, #del2 {
    /*//    display: none;*/
        width: 16px;
        height: 16px;
        position: fixed;
        left: 994px;
    /*//    top: 105px;*/
        top: 90px;
/*      //  border: 1px solid #ccc;
      //  border-radius: 25px;
     //   background:#CCC;*/
        transition: all .2s ease-in-out;
        opacity: 0;
        cursor: default;
        font-size: 20px;
        font-weight: 900;
        color: #ccc;
    }
    #save2.showed {
        top: 65px;
        opacity: 1;
    }
    #back2.showed {
        top: 100px;
        opacity: 1;
    }
    #refresh2.showed {
        top: 135px;
        opacity: 1;
    }
    #del2.showed {
        top: 170px;
        opacity: 1;
    }

    #refresh2:hover, #save2:hover, #back2:hover, #del2:hover {
        background:none;
        cursor: pointer;
      /*//  border: 1px solid #fff;*/
    }
    #save2:hover {
        color: #22AA00;
    }
    #refresh2:hover, #back2:hover {
        color:#00A3FF;
    }
    #del2:hover{
        color: #f00;
    }

.menu_text_value {
    margin-left: 43px;
    position: relative;
    z-index: 9;
}
.disabled {
    color: #ccc !important;
}
.activate_text {
    position: absolute;
    margin: 3px 0;
    cursor: pointer;
}
.activate_date {
    position: absolute;
    cursor: pointer;
    right: 10px;
    margin-top: -29px;
}

/* .checkbox_rond.actived .base {
    box-shadow: inset 0px 0px 6px rgb(0, 0, 0);
} */

.base {
    position: relative;
    width: 30px;
    height: 16px;
    padding: 6px 6px 6px;
    background: #f8f8f8;
    box-shadow: inset 0px 0px 6px rgba(0,0,0,0.33);
    transition: all 0.125s ease-out;
    float: left;
}
.symbol {
    position: absolute;
    margin: 3px;
    width: 8px;
    height: 8px;
    background: transparent;
    border: 3px solid #fff;
}
.switch {
    position: relative;
    width: 20px;
    height: 20px;
    top: -2px;
    left: 0px;
    background: #ccc;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.green {
  /*//  background: #22AA00;*/
    background: #333;
    left: 11px;
}
.round {
    border-radius: 50px;
}
.checkbox_rond {
    cursor: pointer;
}

/*
 * imgAreaSelect default style
 */

.imgareaselect-border1, .imgareaselect-border2,
.imgareaselect-border3, .imgareaselect-border4 {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.imgareaselect-handle {
    background-color: #fff;
    border: solid 1px #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.imgareaselect-outer {
    background-color: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.notification {
        margin-top: -13px;
}
.size {
    display: none;
    position: absolute;
    top: 15px;
    right: 70px;
}
.prev {
    display: none;
    position: fixed;
    z-index: 9;
    background: rgba(0,0,0,0.7);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    top: 4%;
    left: 0;
    cursor: all-scroll;
    min-width: 250px;
}
.prev span2 {
    padding: 0 0 10px 0;
}
.output {
    display: inherit;
    cursor: crosshair;
    float: left;
}
.ok_but {
    position: absolute;
    top: 12px;
    border: 1px #fff solid;
    border-radius: 5px;
    padding: 2px 7px;
    cursor: pointer;
    transition: .3s all;
    right: 21px;
}
.ok_but:hover {
    background: rgba(255, 255, 255, 0.39);
    border: 1px rgba(255, 255, 255, 0) solid;
}
.crop {
    display: none;
}
.crop_pic {
    overflow: hidden;
}

.ui-slider {
	position: relative;
	text-align: left;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 1.2em;
	height: 1.2em;
	cursor: default;
	-ms-touch-action: none;
	touch-action: none;
}
.ui-slider .ui-slider-handle:after {
    content: ' ';
    background: #fff;
    height: 6px;
    width: 6px;
    position: absolute;
    z-index: 999;
    top: 19px;
    left: 0px;
    border-radius: 50%;
}
.slider {
    width: 150px;
    position: absolute;
    top: 20px;
    left: 155px;
    cursor: pointer;
    padding: 10px;
}
.slider:after {
    content: ' ';
    position: absolute;
    height: 2px;
    width: 174px;
    background: #fff;
    left: 0px;
}
.custom-handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -1.8em;
    text-align: center;
    line-height: 1.6em;
    color: #fff;
}
.logo {
    margin: 4px 4px 0 0;
    filter: brightness(80%);
}
.header-wrapper {
    position: fixed;
    width: 100%;
    z-index: 9;
    transition: .3s all;
}

.tab {
    float: left;
    height: 1px;
}

.hierarchy_delete {
    background: #444 !important;
    border-color: #444
}

.hierarchy_delete:hover,
.hierarchy_delete:active {
    background: #222 !important;
}

.textarea-disabled {
    border: 1px solid #CCCCCC;
    padding: 10px;
}
.textarea-disabled table td{
    padding: 5px;
}

.groups_textarea {
    height: 100px;
    width: 566px;
    margin-top: 5px;
}
.groups-text {
    margin: 5px 0;
    clear: both;
    min-height: 30px;
}
.on {
    cursor: pointer;
    color: #aaa;
    border: 1px solid #aaa;
    padding: 10px;
    border-radius: 5px;
    background: #EAEAEA;
}
.on:hover {
    cursor: pointer;
    background: #DEDBDB;
}

.can_click {
    transition: .1s all;
}
.can_click:hover {
    cursor: pointer;
    background-color: #f6f6f6;
}

.pics_for_upload {
    margin-top: 20px;
    width: 864px;
    display: none;
}
.pics_for_upload th,
.pics_for_upload td {
    text-align: center;
}
.pics_for_upload.show {
    display: table;
}
.pics_for_upload input {
    padding: 5px 10px;
}

.fon_del_pic {
    background: rgba(255, 255,255, .7);
    height: 100px;
    position: absolute;
    width: 770px;
    display: none;
}
.fon_del_pic.showed {
    display: block;
}

.pics_for_upload table td {
    border: none;
}

.checkboxes tr td {
    padding-top: 10px;
}
.checkboxes tr td:nth-child(2) {
    padding-left: 10px;
}

.groups_checkbox_label {
    clear: both;
    float: left;
    padding: 6px 10px;
}



.groups_select {
 /*//   margin-left: -178px;*/
    height: 38px;
 /*//   position: absolute;*/
    z-index: 0;
}
.for_select_input_textbox {
    cursor: pointer;
    position: absolute;
}
.select_input_textbox {
    z-index: 2;
    position: relative;
}
.for_select_input_textbox .icon-pencil{
    margin-left: 10px;
    background-color: #fff;
    padding: 5px;
}

.unactive {
    filter: brightness(400%);
}
.unactive_text {
    color: #ccc !important;
}

input:disabled {
    background: none;
}

.make_text_uclickble {
    height: 33px;
    margin-top: -34px;
    width: 100%;
    position: relative;
}

/* MENU */

.sub-menu {
    position: absolute;
    right: -197px;
    background: #111;
    margin: 38px 0px;
    transition: all .3s ease;
}

.sub-menu.active {
    right: 0px;
}

.sub-menu ul {
    list-style: none;
    margin: 5px 9px 11px 17px;
}

.sub-menu ul li {
    margin: 5px 0;
}

.sub-menu ul li span {
    margin: 0 0 0 5px;
}

.sub-menu ul li a {
    color: #fff;
}
.sub-menu ul li a:hover {
    color: #ddd;
}

.menu-btn {
    display: grid;
    position: absolute;
    right: 0;
    cursor: pointer;
    padding: 17px 5px;
}

.menu-btn-line {
    display: block;
    width: 20px;
    height: 3px;
    background-color: #ffffff;
    margin: -5px 4px 0 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.menu-btn-line::before {
    content: '';
    display: block;
    width: 20px;
    height: 3px;
    background-color: #ffffff;
    margin: 6px 0 0 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.menu-btn-line::after {
    content: '';
    display: block;
    width: 20px;
    height: 3px;
    background-color: #ffffff;
    margin: 3px 0 0 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


.menu-btn.active .menu-btn-line {
    transform: translateY(2px) rotateZ(30deg);
        width: 15px;
}
.menu-btn.active .menu-btn-line::before {
    opacity: 0;
    transform: translateY(-1px) translateX(-5px) rotateZ(-30deg);
}
.menu-btn.active .menu-btn-line::after {
    transform: translateY(-6px) translateX(3px) rotateZ(-60deg);
    width: 15px;
}

/****************/

/* Календарь, остальное в /assets/admin/css/ion.calendar.css */

.myCalendar {
    width: 300px;
    position: absolute;
    z-index: 99;
    right: 0;
    border: 1px solid #666;
    display: none;
    transition: .3s all;
}
.myCalendar.active {
    display: block;
}

/****************/

.save_success {

}

/* Drag-n-Drop в Groups */

.ui-sortable-helper {
    transform: scale(.99);
    outline: 1px solid #ccc;
    background-color: rgba(255, 255, 255, .7);

}
.ui-sortable-helper:active,
.move_groups {
    cursor: move;
}
.groups_sortable_tbody .move_groups {
    margin-top: 3px;
}
.ui-state-highlight {
    transition: .3s all;
    background-color: #eee !important;
}

/****************/
.toggle_menushow {
    cursor: pointer;
}

.compact_menu {
    position: absolute;
    margin: -22px -310px;
    width: 300px;
    visibility: hidden;
    opacity: 0;
    transition: all .2s;
}
.compact_menu.showed {
    visibility:visible;
    margin: -22px -320px;
    opacity: 1;
}
.compact_menu * {
    float: right;
    margin: 0 2px;
    padding: 2px 0px 1px 3px;
}
.compact_menu .toggle_menushow,
.compact_menu .toggle_hide {
    margin: 2px 0;
}

.get_compact_menu.actived {
    background-image: none;
    background-color: #e6e6e6;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}

.uncompact_menu_td,
.compact_menu_td,
.td_center {
    text-align: center !important;
}

.td_width_30 {
    width: 30px;
}
.td_width_90 {
    width: 90px;
}

.sitemapshow {
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    margin: 2px 0;
}
.gray {
    color: #bbb;
}


.link {
    position: absolute;
    margin-left: 7px;
    background: url(/assets/admin/images/link2.png) no-repeat;
    width: 30px !important;
    height: 30px !important;
    background-size: contain;
    margin-top: 1px;
    cursor: pointer;
}

.hidden {
    display: none;
}

/* imgcheckbox  */
.imgcheckbox {
    float: left;
    margin-right: 10px;
}
.imgcheckbox_radio{
    display: none;
}
.imgcheckbox_img{
    width: 50px;
    height: 50px;
    background-size: cover !important;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.imgcheckbox_radio:checked + label>.imgcheckbox_img {
    border: 1px solid #666;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}


.form_calendar_time + .ui-datepicker-trigger,
.form_calendar + .ui-datepicker-trigger,
.form_time + .ui-datepicker-trigger {
    float: right;
    width: 33px;
}


.imgcheckbox_view {
    margin: 36px 17px;
    opacity: 0;
    transition: all .3s;
}
.imgcheckbox_img:hover .imgcheckbox_view {
    margin: 53px 17px;
    opacity: 1;
}
