/* основные цвета темы */
@import url(/assets/public/css/colors.css);

@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/font-awesome/fontawesome-webfont.eot?v=4.7.0");
  src: url("../fonts/font-awesome/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/font-awesome/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/font-awesome/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/font-awesome/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/font-awesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.menu, .header__wrap, .footer__wrap, .news__item, .services__menu {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

.menu, .header__wrap, .footer__wrap {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.news__item, .reviews__item, .map__contacts {
  border: 1px solid #dadada;
  -webkit-border-radius: 0.3125rem;
  -moz-border-radius: 0.3125rem;
  -ms-border-radius: 0.3125rem;
  border-radius: 0.3125rem; }

.news__img, .slider__img, .services__img, .certificates__img, .team__photo {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  display: block; }

* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 100%;
  font-size: 100%;
  font-family: sans-serif; }

body {
  background-color: #fff;
  color: #333; }

img {
  max-width: 100%;
  max-height: 100%;
  height: auto; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

.title,
h1 {
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 1.25rem;
  font-size: 2rem;
  font-weight: bold; }

a {
  display: inline-block;
  line-height: 1;
  color: #333;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }


.wrapper {
  margin: 0 auto;
  max-width: 1160px;
  padding: 0 20px; }

.clearfix:after {
  content: '';
  clear: both;
  display: table; }

.icon {
  display: inline-block; }

.section {
  padding: 3.125rem 0 4.375rem; }
  .section:nth-of-type(odd) {
    background-color: #eee; }

.section__desc {
  font-size: 1.125rem;
  margin: 0 0 2.5rem;
  text-align: center; }

.inner__content {
  font-size: 1rem;
  margin: 0 0 5rem; }
  .inner__content h2 {
    margin: 0 0 1.25rem;
    font-weight: bold;
    font-size: 1.5rem; }
  .inner__content p, .inner__content ul, .inner__content ol {
    margin: 0 0 1.25rem; }
  .inner__content ul, .inner__content ol {
    list-style-position: inside; }
    .inner__content ul ul, .inner__content ul ol, .inner__content ol ul, .inner__content ol ol {
      padding: 0 0 0 1.25rem; }
  .inner__content li + ul {
    margin-top: 1rem; }
  .inner__content li:not(:last-of-type) {
    margin-bottom: 1rem; }
  .inner__content table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1rem;
    margin: 0 0 1.25rem; }
  .inner__content thead {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600; }
  .inner__content tbody tr:nth-of-type(odd) {
    background-color: #fff; }
  .inner__content tbody tr:nth-of-type(even) {
    background-color: #eee; }
  .inner__content td {
    border: 1px solid #dadada;
    padding: 0.625rem 1.25rem; }

.header__menu {
  background-color: #eee; }

.menu {
  padding: 1rem 0;
  list-style-type: none;
  text-transform: uppercase; }
  .menu li {
    padding: 0 1.25rem; }
  .menu li:first-of-type {
    padding-left: 0; }
  .menu li:last-of-type {
    padding-right: 0; }
  .menu a {
    text-decoration: none; }

.breadcrumbs {
  padding: 2.5rem 0; }
  .breadcrumbs a, .breadcrumbs span {
    text-decoration: none; }

  .breadcrumbs a:hover:after {
    color: #333; }
  .breadcrumbs a:not(:last-child):after {
    content: "/";
    padding: 0 0.3125rem 0 0.625rem; }
  .breadcrumbs span {
    pointer-events: none; }

.btn {
  -webkit-border-radius: 0.3125rem;
  -moz-border-radius: 0.3125rem;
  -ms-border-radius: 0.3125rem;
  border-radius: 0.3125rem;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  border: 0;
  outline: 0;
  line-height: 1;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: #fff; }
  .btn:hover {
    background-color: #755a83;
    color: #fff; }
  .btn:disabled, .btn.disabled {
    pointer-events: none;
    background-color: #ddd; }

.form {
  margin: 1.25rem 0; }

.form__item {
  width: 100%;
  margin: 0 0 1.25rem; }
  .form__item select[multiple].form__input {
    padding: 0; }
  .form__item select[multiple] option {
    padding: 0.625rem;
    cursor: pointer; }


.form__label {
  display: inline-block;
  vertical-align: top;
  min-width: 6.25rem;
  width: calc(29% - 1.875rem);
  margin: 0 1.875rem 0 0; }

.form__item_checkbox .form__input {
  width: auto; }

.form__item_checkbox .input__check {
  display: inline-block;
  height: 18px;
  width: 18px; }

.form__input {
  display: inline-block;
  width: 70%;
  padding: 0.625rem;
  line-height: 1;
  border: 1px solid #dadada;
  background-color: #fff;
  -webkit-border-radius: 0.3125rem;
  -moz-border-radius: 0.3125rem;
  -ms-border-radius: 0.3125rem;
  border-radius: 0.3125rem;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  .form__input:focus {
    outline: 0;
    border-color: #755a83; }
  .form__input.error {
    border-color: red; }

.form__input_icon {
  width: 70%;
  display: inline-block;
  position: relative; }
  .form__input_icon .form__input {
    width: 100%; }

.form_calendar,
.form_calendar_time,
.form_time {
  padding-left: 40px;
  max-width: 180px; }

.input__icon {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 9px;
  left: 10px; }

.form__textarea {
  resize: none;
  overflow-y: auto;
  min-height: 5rem; }

.agreement {
  margin: 0 0 1.25rem; }

.agreement__checkbox {
  position: absolute;
  cursor: pointer;
  width: 1.125rem;
  height: 1.125rem;
  background-color: rgba(255, 255, 255, 0.1);
  border: 0;
  outline: 0;
  opacity: 0;
  z-index: 1; }
  .agreement__checkbox + .agreement__label:after {
    content: none; }
  .agreement__checkbox:checked + .agreement__label:after {
    content: ''; }

.agreement__label {
  position: relative;
  display: block;
  padding: 0 0 0 1.875rem; }
  .agreement__label:before, .agreement__label:after {
    cursor: pointer;
    position: absolute;
    content: '';
    display: inline-block; }
  .agreement__label:before {
    height: 1rem;
    width: 1rem;
    border: 1px solid #dadada;
    left: 0;
    top: -1px;
    background-color: #fff; }
  .agreement__label:after {
    height: 0.3125rem;
    width: 0.5625rem;
    border-left: 3px solid;
    border-bottom: 3px solid;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: 3px;
    top: 2px; }

.input__check,
.input__radio {
  position: relative;
  display: block;
  padding: 0 0 0 25px; }
  .input__check:not(:last-of-type),
  .input__radio:not(:last-of-type) {
    margin: 0 0 10px; }
  .input__check input,
  .input__radio input {
    position: absolute;
    left: 0;
    cursor: pointer;
    width: 18px;
    height: 18px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 0;
    outline: 0; }
    .input__check input:before,
    .input__radio input:before {
      content: '';
      cursor: pointer;
      position: absolute;
      display: inline-block;
      height: 18px;
      width: 18px;
      border: 0;
      background-color: #fff;
      border: 1px solid #dadada;
      left: 0;
      top: -1px;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    .input__check input:checked:after,
    .input__radio input:checked:after {
      content: '';
      cursor: pointer;
      position: absolute;
      display: inline-block;
      height: 4px;
      width: 8px;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      left: 4px;
      top: 3px; }
    .input__check input:after,
    .input__radio input:after {
      display: none; }

.input__radio input:before {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%; }

.input__radio input:checked:after {
  content: '';
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  width: 7px;
  height: 7px;
  top: 3px;
  left: 4px; }

.header__wrap {
  padding: 1.875rem 1.25rem; }

.logo__link {
  display: inline-block;
  vertical-align: middle; }

.logo__desc {
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 0 0 1.875rem; }

.contacts__phone {
  display: block;
  text-decoration: none;
  margin: 0 0 0.625rem;
  font-weight: bold;
  font-size: 1.42rem; }

.social__link {
  display: inline-block;
  text-decoration: none;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%; }
  .social__link:not(:last-of-type) {
    margin-right: 0.25rem; }

  .social__link:hover .social__icon {
    fill: #fff; }

.social__icon {
  width: 1.6875rem;
  height: 1.5625rem;
  margin: .5rem;
  vertical-align: middle;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.footer {
  padding: 1.875rem 0 2.5rem;
  background-color: #eee; }

.footer_left {
  width: 20%;
  min-width: 15.625rem; }

.footer_center {
  width: calc(60% - 3.75rem);
  margin: 0 1.875rem; }

.footer_right {
  width: 20%;
  max-width: 12.5rem;
  min-width: 12.5rem; }

.footer__logo {
  margin: 0 0 1.25rem; }

.footer__links a, .footer__links span {
  display: block; }

.copyright {
  margin: 0 0 0.625rem; }

.policy__link {
  margin: 0 0 0.625rem; }

.wa {
  font-size: 0.875rem; }

.social {
  margin: 1rem 0 0;
  text-align: center; }

.search {
  max-width: 18.75rem;
  margin: 0 auto 1.25rem; }

.search__form {
  position: relative; }

.search__input {
  padding-right: 2.1875rem;
  width: 100%; }

.search__btn_wrap {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 2.1875rem; }
  .search__btn_wrap:hover .search__icon {
    fill: #755a83; }

.search__btn {
  position: absolute;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  width: 100%;
  height: 100%;
  z-index: 2; }
  .search__btn:focus {
    outline: 0; }

.search__icon {
  position: absolute;
  width: 2.1875rem;
  height: 2.1875rem;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.footer__menu .menu {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.footer__menu .menu li {
  padding: 0 20px;
  margin-bottom: 10px; }

.news__item:not(:last-of-type) {
  margin: 0 0 1.5625rem; }

.news__image {
  width: 16.5625rem;
  min-width: 16.5625rem; }

.news__content {
  padding: 1.25rem;
  width: calc(100% - 16.5625rem); }

.news__date {
  margin: 0 0 1.25rem;
  font-size: 0.875rem; }

.news__title {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.25rem;
  margin: 0 0 1.25rem; }
  .news__title:hover {
    color: #755a83; }

.news__slider {
  margin: 0 0 2.5rem; }
  .news__slider .news__item {
    margin: 0;
    width: 25%;
    overflow: hidden; }
  .news__slider .news__image {
    width: 100%;
    min-width: 100%;
    height: 12.5rem; }
  .news__slider .news__content {
    width: 100%; }

.main__slider {
  position: relative; }

.slider {
  overflow: hidden; }

.slider__list {
  white-space: nowrap;
  overflow: hidden; }

.slider__item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  white-space: normal; }

.main__item {
  width: 100%;
  height: 25rem; }

.slider__bg {
  width: 100%;
  height: 100%; }

.slider__content {
  position: absolute;
  right: 0;
  left: 0;
  height: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  color: #fff;
  margin: 0 auto;
  max-width: 1160px;
  padding: 1.875rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.2);
  outline: 1px solid #dadada;
  outline-offset: -0.625rem; }

.slider__title {
  color: #fff;
  text-decoration: none;
  display: block;
  font-size: 2rem;
  text-transform: uppercase;
  margin: 0 0 1.25rem; }

.slider__preview {
  font-size: 1.5rem; }

.services__menu {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.services__item {
  text-decoration: none;
  position: relative;
  width: calc(25% - 1%);
  margin: .5%;
  max-height: 12.5rem;
  height: 12.5rem; }
  .services__item:hover .services__bg {
    -webkit-filter: brightness(100%);
    filter: brightness(100%); }

.services__title {
  position: relative;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: bold;
  padding: 1.875rem;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

.services__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-filter: brightness(70%);
  filter: brightness(70%);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.services__img {
  -webkit-border-radius: 0.3125rem;
  -moz-border-radius: 0.3125rem;
  -ms-border-radius: 0.3125rem;
  border-radius: 0.3125rem; }

.reviews__slider {
  margin: 0 0 2.5rem; }

.reviews__item {
  width: 100%;
  position: relative; }

.reviews__item {
  padding: 1.25rem 1.875rem 1.875rem; }

.reviews__rating {
  -webkit-border-radius: 0.3125rem;
  -moz-border-radius: 0.3125rem;
  -ms-border-radius: 0.3125rem;
  border-radius: 0.3125rem;
  color: #fff;
  position: absolute;
  padding: 0.5rem 0.75rem;
  display: block;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1; }

.reviews__desc {
  position: relative; }

.reviews__date {
  position: absolute;
  right: 0;
  color: #dadada;
  font-size: 0.875rem;
  font-weight: bold; }

.reviews__title {
  font-weight: bold;
  font-size: 1.25rem;
  margin: 0 0 1.25rem;
  padding-right: 4.6875rem; }

.reviews__desc {
  padding-left: 3.75rem; }

.about {
  padding-bottom: 0; }

.seo__text {
  margin-bottom: 3.125rem; }

.map {
  height: 25rem;
  width: 100%;
  position: relative; }

.map__contacts {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 21.875rem;
  width: 21.875rem;
  padding: 1.25rem;
  background-color: #fff;
  z-index: 30; }

.map__code {
  height: 100%;
  width: 100%; }

.certificates__item {
  width: calc(25% - 1rem);
  margin: 0 .5rem;
  height: 20rem;
  text-decoration: none;
  overflow: hidden;
  -webkit-border-radius: 0.3125rem;
  -moz-border-radius: 0.3125rem;
  -ms-border-radius: 0.3125rem;
  border-radius: 0.3125rem; }
  .certificates__item:after {
    content: '';
    position: absolute;
    left: 50%;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
  .certificates__item:hover:after {
    content: url(/assets/public/img/loupe.svg);
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
    cursor: pointer; }

.advantages__item {
  display: inline-block;
  vertical-align: top;
  width: 49%;
  margin: 1rem 0;
  position: relative; }

.advantages__icon {
  width: 3.125rem;
  height: 3.125rem;
  position: absolute; }

.advantages__content {
  padding: 0 3.125rem 0 4.375rem; }

.advantages__title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.125rem;
  margin-bottom: 0.625rem; }

.team__list {
  text-align: center; }

.team__item {
  width: 25%;
  text-decoration: none;
  text-align: center; }


.team__img {
  border: 1px solid transparent;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  width: 100%;
  max-width: 15rem;
  height: 15rem;
  margin: 0 auto 1.25rem;
  text-align: center; }

.team__photo {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  margin: 0 auto;
  padding: 0.625rem; }

.team__name {
  font-size: 1.125rem;
  margin: 0 0 1.25rem; }

.team__surname {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 0 0.375rem; }

.partners__item {
  width: 20%;
  max-height: 6.25rem; }

.partners__img {
  margin: 0 auto;
  object-fit: contain;
  object-position: center;
  width: auto;
  height: 100%; }

.error-page {
  margin: 2.5rem 0 5rem;
  text-align: center; }

.error-page__title {
  font-size: 8rem; }

.error-page__desc {
  font-size: 2rem; }

.owl-item {
  display: inline-block; }

.owl-nav button {
  background: transparent;
  border: 0;
  outline: 0;
  width: 44px;
  height: 44px;
  position: absolute;
  top: 50%;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  .owl-nav button:before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
  .owl-nav button:hover:before {
    border-color: #755a83; }

.owl-prev {
  left: -50px; }
  .owl-prev:before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 9px;
    left: 15px; }

.owl-next {
  right: -50px; }
  .owl-next:before {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    top: 9px;
    right: 15px; }

.owl-dots {
  position: absolute;
  width: 100%;
  bottom: 30px;
  text-align: center; }

.owl-dot {
  outline: 0;
  cursor: pointer;
  width: 13px;
  height: 13px;
  border: 1px solid #dadada;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  background: transparent;
  margin: 0 5px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  .owl-dot:hover, .owl-dot.active {
    border-color: transparent; }



/* MY можно(нужно) менять */
    .hidden {
        display: none;
    }

    .slide-string-item {
      display: inline-block;
      margin-right: 10px;
    }
    .slide-string-enter-active, .slide-string-leave-active {
      transition: all .3s;
    }
    .slide-string-enter, .slide-string-leave-to {
      opacity: 0;
      transform: translateY(10px);
    }


    .filtr_label {
        display: block;
        margin-bottom: 5px;
        cursor: pointer;
        transition: .3s all;
    }

    input[type="checkbox"]:checked + .filtr_label {
        transform: translate(-5px, 0);
    }

    .page {
        padding: 10px 15px;
        margin-right: 3px;
        transition: all .3s;
    }
    .page:hover {
        cursor: pointer;
    }
    .page.current {
        color: #fff;
    }
