{% block breadcrumbs %}
    {% if ( admin.user ) and ( admin.user.has_role(constant('Model_User::ROLE_LOGIN')) ) and ( admin.breadcrumbs|length > 0 ) %}
        {% spaceless %}
            <ul class="breadcrumb">
                {% set href = '' %}
                {% set singl = 0 %}
                {% for key, _breadcrumb in admin.breadcrumbs %}
                    <li>
                        {%  if _breadcrumb.enable == false %}
                            <span>{{ _breadcrumb.label|truncate(200) }}</span>
                        {% else %}
                            <a href="{{ _breadcrumb.url }}">{{ _breadcrumb.label|truncate(200) }}</a>
                            {% set href = _breadcrumb.url %}
                        {% endif %}

                        {% if not loop.last %}
                            <span class="divider"> &rarr; </span>
                            {% set singl = 1 %}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            <input id='singl' type='hidden' value='{{ singl }}'>
            <input id='breadcrumb_link' type='hidden' value='{{ href }}'>
        {% endspaceless %}
    {% endif %}
{% endblock %}
