{% block menu %}
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="/" target="_blank">{{ admin.constant.project.name }}</a>
            {% if ( admin.user ) and ( admin.user.has_role(constant('Model_User::ROLE_LOGIN')) ) %}
                <ul class="nav">
                    {% for key, _module in admin.menu %}
                        {% if (key in user_modules) or ( array_diff(user_modules,_module.items) ) %}
                            {% if _module.items|length > 0 %}
                                <li class="dropdown {% if admin.self in _module.items|keys %}active{% endif %}">
                                    <a class="dropdown-toggle" id="menu_group_{{ loop.index }}" role="button" data-toggle="dropdown" data-target="#">
                                        {% if _module.icon %}<i class="icon-white icon-{{ _module.icon }}"></i>{% endif %}{{ _module.name }}
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu_group_{{ loop.index }}">
                                        {% for _key,_item in _module.items %}
                                            {% if (_key in user_modules) %}
                                                <li {% if _key == admin.self %}class="active"{% endif %}>
                                                    <a href="{{ get_route_uri('admin_base',{'controller': _item.controller}) }}" >
                                                        {% if _item.icon %}<i class="icon-{{ _item.icon }}"></i>{% endif %}{{ _item.name }}
                                                    </a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% else %}
                                <li {% if key == admin.self %} class="active" {% endif %}>
                                    <a href="{{ get_route_uri('admin_base',{'controller': _module.controller}) }}" >
                                        {% if _module.icon %}<i class="icon-white icon-{{ _module.icon }}"></i>{% endif %}{{ _module.name }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
                <div class="sub-menu">
                    <ul>
                        <li>
                            <a href="/admin/files" title="Файлы" >
                            <span class="icon-folder-open icon-white"></span>
                            <span>Файлы</span>
                            </a>
                        </li>
                        <!-- <li>
                            <a title="Конструктор форм" href="/admin/formconstruct/list" >
                            <span class="icon-list-alt icon-white"></span>
                            <span>Конструктор форм</span>
                            </a>
                        </li> -->
                        <li>
                            <a title="Карта сайта" href="/admin/sitemap" >
                            <span class="icon-indent-left icon-white"></span>
                            <span>Карта сайта</span>
                            </a>
                        </li>
                        <!-- <li>
                            <a title="Создать модуль" href="/admin/creator/list" >
                            <span class="icon-plus icon-white"></span>
                            <span>Создать модуль</span>
                            </a>
                        </li> -->
                        <li>
                            <a title="Написать в техподдержку" href="/admin/writeus" >
                            <span class="icon-envelope icon-white"></span>
                            <span>Написать в техподдержку</span>
                            </a>
                        </li>
                        <!-- <li>
                            <a title="Конструктор форм" href="/admin/colorpicker" >
                            <span class="icon-adjust icon-white"></span>
                            <span>Цвет сайта</span>
                            </a>
                        </li> -->
                        <li>
                            <a title="phpmyadmin" href="/mysql/3.x/index.php?db=u18180_zubarev" target="_blank" >
                            <span class="icon-tasks icon-white"></span>
                            <span>phpmyadmin</span>
                            </a>
                        </li>
                        <li>
                            <a title="Выйти" href="/admin/logout" >
                            <span class="icon-remove icon-white"></span>
                            <span>Выйти</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <span class="menu-btn">
                    <span class="menu-btn-line"></span>
                </span>
            {% endif %}
        </div>
    </div>
{% endblock %}

<script>
{#    $(window).scroll(function(){
        if ($(window).scrollTop() >= 45){
          //  $('.header-wrapper').css('position', 'fixed');
        } else {
          //  $('.header-wrapper').css('position', 'relative');
        }
    });#}
</script>
