{% verbatim %}
{% if arraylist %}
    {% for item in arraylist %}
        <div class="module__item">
    		<div class="module__image">
    			<img src="{{ item.img }}" alt="" class="module__img">
    		</div>
            <div class="module__content">
                <a href="{{ item.fullpath }}" class="module__title">{{ item.head }}</a>
            </div>
        </div>
    {% endfor %}
{% endif %}
{% include 'Block/Pagination' %}
{% endverbatim %}
