{% verbatim %}

    {% if index %}
        <div class="inner__content">
            <div class="breadcrumbs">{% include 'Block/Breadcrumb' %}</div>
            <h1 id="module_head" class="{% if wa_admin %} wa_admin{% endif %}{% if admin %} life_edit{% endif %}" {% if admin %} data-id="{{ document.id }}" data-table="pages" data-field="head" {% endif %}>{{ document.head }}</h1>
            <div id="id_1" class="{% if wa_admin %} wa_admin{% endif %}{% if admin %} life_edit{% endif %}" {% if admin %} data-id="{{ document.id }}" data-table="pages" data-field="body" {% endif %}>
                {{ document.body|unescape }}
            </div>

            {% include '{% endverbatim %}{{ data.name_big }}{% verbatim %}/List' %}

        </div>
    {% else %}

        <div class="inner__content">
            <div class="breadcrumbs">{% include 'Block/Breadcrumb' %}</div>
            <h1 id="module_head" class="{% if wa_admin %} wa_admin{% endif %}{% if admin %} life_edit{% endif %}" {% if wa_admin %} data-id="{{ item.id }}" data-table="{{ table }}" data-field="head" {% endif %}>{{ item.head }}</h1>
{% endverbatim %}
            {% if data.img %}
                {% if data.fields %}
                    {% include 'Admin/Creator/Tmpl/Module/Lvl/Item/TmplImgParam' %}
                {% else %}
                    {% include 'Admin/Creator/Tmpl/Module/Lvl/Item/TmplImg' %}
                {% endif %}
            {% else %}
                {% if data.fields %}
                    {% include 'Admin/Creator/Tmpl/Module/Lvl/Item/TmplParam' %}
                {% else %}
                    {% include 'Admin/Creator/Tmpl/Module/Lvl/Item/Tmpl' %}
                {% endif %}
            {% endif %}
{% verbatim %}
        </div>

    {% endif %}

{% endverbatim %}
