{% if data.img %}
    {% if data.fields %}
        {% include 'Admin/Creator/Tmpl/Module/NoLvl/TmplImgParam' %}
    {% else %}
        {% include 'Admin/Creator/Tmpl/Module/NoLvl/TmplImg' %}
    {% endif %}
{% else %}
    {% if data.fields %}
        {% include 'Admin/Creator/Tmpl/Module/NoLvl/TmplParam' %}
    {% else %}
        {% include 'Admin/Creator/Tmpl/Module/NoLvl/Tmpl' %}
    {% endif %}
{% endif %}
