{% verbatim %}
<div class="inner__content">
    <div class="breadcrumbs">{% include 'Block/Breadcrumb' %}</div>
    <h1
        id="module_head"
        class="{% if wa_admin %} wa_admin{% endif %}{% if admin %} life_edit{% endif %}"
        {% if admin %} data-id="{{ document.id }}" data-table="pages" data-field="head"{% endif %}>{{ document.head }}</h1>
    <div
        id="id_1"
        class="{% if wa_admin %} wa_admin{% endif %}{% if admin %} life_edit{% endif %}"
        {% if admin %}
            data-id="{{ document.id }}"
            data-table="pages"
            data-field="body"
        {% endif %}>
        {{ document.body|unescape }}
    </div>

    {% include '{% endverbatim %}{{ data.name_big }}{% verbatim %}/List' %}

</div>
{% endverbatim %}
