{% verbatim %}
<div class="slider__item mainmodule__item">
    <div class="mainmodule__image">
        <img src="{{ item.img }}" alt="{{ item.head }}" class="mainmodule__img">
    </div>
    <div class="mainmodule__content">
        <a href="{{ item.fullpath }}" class="mainmodule__title">{{ item.head }}</a>
    </div>
</div>
{% endverbatim %}
