{% extends "Admin/Crud/Edit" %}

{% block title %}Администрирование | Товары{% endblock %}

{% block form %}
<input type="hidden" name="parent_id" value="{{ parent_id }}"/>
<input type="hidden" name="section_id" value="{{ section_id }}"/>
<div class="former-category-block">

    {{ parent() }}

    {% endblock %}
