{% extends "Admin/Layout/Main" %}

{% block title %}Администрирование | Товары{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="/assets/admin/js/vendor/sortlist.js"></script>
{% endblock %}

{% block content %}

    <table width="100%" cellpadding="0" cellspacing="1" id="sortable" class="table table-bordered">
        <thead>
        <tr>
            <th width="13"><input type="checkbox" onclick="Helper.checkAll(this);" /></th>
            <th>Заголовок</th>
            <th width="100">Активность</th>
            <th width="100">Действия</th>
        </tr>
        </thead>
        <tbody>

        {% if items|length > 0 %}
            {% for item in items %}
                <tr id="row_item_{{ item.id }}" {% if item.module and item.module != "text" %}class="module"{% endif %}>
                    <td width="13"><input type="checkbox" id="i_del_{{ item.id }}"/></td>
                    <td>{{ item.head }}</td>
                    <td width="100">
                        {% if item.hide %}
                            <a href="#" onclick="return Helper.setHide(this, '{{ item.id }}');"><i class="icon-remove"></i></a>
                        {% else %}
                            <a href="#" onclick="return Helper.setHide(this, '{{ item.id }}');"><i class="icon-ok"></i></a>
                        {% endif %}
                    </td>
                    <td width="100">
                        <a class="btn btn-icon" href="{{ get_route_uri('admin_base',{ 'controller' : admin.self, 'action': 'edit', 'filter' : {'id' : item.id } }) }}" title="Редактировать"><i class="icon-pencil"></i></a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="4">{{ vars.text.empty|default('Товары отсутствуют') }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    <div class="actions-block">
        <div class="btn-group">
            <a class="btn btn-mini" href="{{ get_route_uri('admin_base',{ 'controller' : admin.self, 'action': 'create', 'filter' : {'parent_id' : parent_id } }) }}">
                <i class="icon-plus-sign"></i> {{ vars.text.add|default('Добавить товар') }}
            </a>
            {% if items|length > 0 %}
            <a class="btn btn-mini" href="#" onclick="return Helper.deleteItems();">
                <i class="icon-remove-sign"></i> {{ vars.text.drop|default('Удалить выбранные товары') }}
            </a>
            {% endif %}
        </div>
    </div>

    <script type="text/javascript">
        Sortlist.create('sortable', { onUpdate: Helper.updatePriority } );
    </script>

{% endblock %}
